<label class="usa-label" for="{{ id }}">{{ label }}</label>
{% if hint %}
<div class="usa-hint" id="{{ id }}--hint-1">
  {{ hint }}
</div>
{% endif %}
{% if error %}
<div class="usa-error-message" id="{{ id }}--error">
  Error: {{ error }}
</div>
{% endif %}
{% if input_type == 'Textarea' %}
  <textarea
    class="usa-textarea border-2px{% if error %} border-secondary-dark{% endif %}"
    id="{{ id }}"
    name="{{ id }}"
    aria-describedby="{% if hint %}{{ id }}--hint-1 {% endif %}{% if hint2 %}{{ id }}--hint-2{% endif %}{% if error %} {{ id }}--error{% endif %}"
    {% if disabled == "disabled" %}disabled{% endif %}
  >{{ value|default_if_none:'' }}</textarea>
{% else %}
  <input
    class="usa-input border-2px{% if error %} border-secondary-dark{% endif %}"
    id="{{ id }}"
    name="{{ id }}"
    type="{% if input_type == 'PasswordInput' %}password{% else %}text{% endif %}"
    aria-describedby="{% if hint %}{{ id }}--hint-1 {% endif %}{% if hint2 %}{{ id }}--hint-2{% endif %}{% if error %} {{ id }}--error{% endif %}"
    {% if disabled == "disabled" %}disabled{% endif %}
    value="{{ value|default_if_none:'' }}"
    />
{% endif %}
{% if hint2 %}
  {% if hint2for and hint2for != id %}
  {% else %}
    <div class="usa-hint margin-top-05" id="{{ id }}--hint-2">
      {{ hint2 }}
    </div>
  {% endif %}
{% endif %}
