{% for message in messages %}
  {% if "success" in message.tags and success_heading %}
    <div class="usa-alert usa-alert--success margin-bottom-3">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">{{ success_heading }}</h4>
        <p class="usa-alert__text">
          {{ message | safe }}
        </p>
      </div>
    </div>
  {% elif "error" in message.tags and error_heading %}
    <div class="usa-alert usa-alert--error margin-bottom-3" role="alert">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">{{ error_heading }}</h4>
        <p class="usa-alert__text">
          {{ message | safe }}
        </p>
      </div>
    </div>
  {% endif %}
{% endfor %}
