{% load static martortags callout_box_contents add_classes_to_tables get_icon_for_section is_floating_callout_box %}

<div class="callout-box{% if 'uestions?' in subsection.body %} callout-box--icon callout-box--questions{% endif %}{% if 'Alt + Backspace' in subsection.body %} callout-box--icon callout-box--keyboard{% endif %}">
  {% if subsection.name %}
    <h5 class="callout-box--title">{{ subsection.name }}</h5>
  {% endif %}
  <div class="callout-box--contents">
    {% if 'uestions?' in subsection.body %}
      {% if 'white' in nofo.theme %}
        <img class="toc--section-name--img" src="{% static 'contacts'|get_icon_for_section:'dark-blue-border' %}" alt="">
      {% else %}
        <img class="toc--section-name--img" src="{% static 'contacts'|get_icon_for_section:'white-border' %}" alt="">
      {% endif %}
    {% elif 'Alt + Backspace' in subsection.body  %}
      {% if 'white' in nofo.theme %}
        <img class="toc--section-name--img" src="{% static 'adobe'|get_icon_for_section:'dark-blue-border' %}" alt="">
      {% else %}
        <img class="toc--section-name--img" src="{% static 'adobe'|get_icon_for_section:'white-border' %}" alt="">
      {% endif %}
    {% endif %}
    {{ subsection.body|safe_markdown|callout_box_contents|add_classes_to_tables }}
  </div>
</div>