<div class="usa-form-group{% if error %} usa-form-group--error{% endif %}">
  <label class="usa-label" for="{{ id }}">
    {{ label }}
  </label>
  {% if hint %}
    <span class="usa-hint" id="{{ id }}--hint">
      {{ hint }}
    </span>
  {% endif %}
  {% if error %}
    <span class="usa-error-message" id="{{ id }}--error">
      Error: {{ error }}
    </span>
  {% endif %}
  <input
    id="{{ id }}"
    class="usa-file-input usa-file-input__input cursor-pointer padding-2 border-2px border-dashed{% if error %} bg-secondary-lighter border-secondary{% else %} border-base bg-base-lightest{% endif %}"
    type="file"
    name="{{ id }}"
    aria-describedby="{% if hint %}{{ id }}--hint{% endif %}{% if error %} {{ id }}--error{% endif %}"
    accept="{% if accept %}{{ accept }}{% else %}.docx{% endif %}"
  />
</div>
