{% load static %}

<div class="loading-horse--container">
  <img class="loading-horse" src="{% static 'img/loading-horse.gif' %}" alt="Importing document…" />
  <p id="loading-message" class="usa-sr-only" aria-live="polite" role="status">Importing document, please wait…</p>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector(".form-import--loading");
    const button = form.querySelector(".submit-button");
    const loadingGif = form.querySelector(".loading-horse--container");

    form.addEventListener("submit", function () {
      // Disable the button, change its text, add classname
      button.disabled = true;
      button.textContent = "Importing";
      button.classList.add("submit-button--loading");
      button.setAttribute("aria-label", "Importing…");

      let dotCount = 0; // Tracks the number of dots (0 to 3)

      // Start an interval to cycle through the dots
      intervalId = setInterval(() => {
        dotCount = (dotCount + 1) % 4; // Cycle between 0, 1, 2, 3
        button.textContent = `Importing${".".repeat(dotCount)}`;
      }, 330);

      // show the horse gif
      setTimeout(() => {
        loadingGif.classList.add("visible");
      }, 50);
    });
  });
</script>
