<div class="button-group">
  <!-- this is the first button, the one that does the primary action -->
  <form method="post" action="{% url 'nofos:print_pdf' nofo.id %}?mode=inline" target="_blank">
    {% csrf_token %}
    <button type="submit" class="usa-button button-group--primary font-sans-xs text-normal" aria-label="View{% if DOCRAPTOR_TEST_MODE %} test{% endif %} NOFO (opens in a new tab)">
      View{% if DOCRAPTOR_TEST_MODE %} test{% endif %} NOFO
    </button>
  </form>

  <details>
    <summary aria-label="Open context menu to print NOFO" class="usa-button button-group--summary " aria-haspopup="menu" role="button"></summary>
    <div class="button-group--content">
      <form method="post" action="{% url 'nofos:print_pdf' nofo.id %}?mode=attachment">
        {% csrf_token %}
        <button type="submit" class="usa-button usa-button--accent-cool font-sans-xs text-normal">
          Print{% if DOCRAPTOR_TEST_MODE %} test{% endif %} NOFO
        </button>
      </form>
    </div>
  </details>
</div>