.DS_Store
.vscode
*.pyc
*/__pycache__/*
*.sqlite3
.env
.env*
!.env.example
data.json
db.json
nofos.json
users.json

# other static folder
bloom_nofos/static

# debug file
debug_output.html

# export file
export_links.csv

# Login.gov certificates
login-gov-cert*.pem
*.pem
