<!DOCTYPE html>
{% load static tz martortags add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs replace_variable_keys_with_values %}

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link href="{% static 'uswds/uswds.css' %}" rel="stylesheet">
    <link href="{% static 'shared.css' %}" rel="stylesheet">
    <link href="{% static 'theme-base.css' %}" type="text/css" media="all" rel="stylesheet">  <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static "styles-theme-base.css" %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static "theme-orientation-portrait.css" %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static "theme-opdiv-cdc.css" %}" type="text/css" media="all" rel="stylesheet">
    <link href="{% static "theme-opdiv-cdc-blue.css" %}" type="text/css" media="all" rel="stylesheet">
  </head>

  <body>
    <main>
     <div class="nofo_view">
        <!-- Render each section with all its subsections -->
        {% for section in sections %}
          <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}">
            <h2 id="{{ section.html_id }}" >{{ section.name }}</h2>
            {% if forloop.counter == 1 %}
              <div>
                <ul>
                  <li>Opdiv: {{ document.opdiv }}</li>
                  <li>Agency: {{ document.agency }}</li>
                  <li>Subagency: {{ document.subagency }}</li>
                  <li>Subagency 2: {{ document.subagency2 }}</li>
                  <li>Opportunity name: {{ document.name  }}</li>
                  <li>Opportunity number: {{ document.number }}</li>
                  <li>Application deadline: {{ document.application_deadline }}</li>
                  <li>Tagline: {{ document.tagline }}</li>
                  <li>Metadata author: {{ document.author }}</li>
                  <li>Metadata subject: {{ document.subject }}</li>
                  <li>Metadata keywords: {{ document.keywords }}</li>
                </ul>

              </div>
            {% endif %}

            <div class="section--content">
               {% for subsection in section.ordered_subsections %}
                {# skip "hidden" subsections #}
                {% if not subsection.hidden %}
                <div class="margin-top-4 margin-bottom-2">
                  {% if subsection.instructions %}
                    <div class="bg-primary-lighter padding-2">
                      {{ subsection.instructions|safe_markdown|add_classes_to_paragraphs|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    </div>
                  {% endif %}
                  {% if subsection.callout_box %}
                  <table>
                    <tr>
                      <td>
                        <div class="{% if subsection.callout_box%}border margin-top-1 padding-x-2 padding-bottom-2 {%if not subsection.name %} padding-top-2{% endif %} {% endif %}">
                          {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                            {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                          {% endwith %}
                          <div class="{% if not subsection.name and not subsection.callout_box %}margin-top-2{% endif %} styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                            {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs|replace_variable_keys_with_values:subsection.get_variables }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                  {% else %}
                  <div class="{% if subsection.callout_box%}border margin-top-1 padding-x-2 padding-bottom-2 {%if not subsection.name %} padding-top-2{% endif %} {% endif %}">
                    {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                      {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                    {% endwith %}
                    <div class="{% if not subsection.name and not subsection.callout_box %}margin-top-2{% endif %} styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                      {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs|replace_variable_keys_with_values:subsection.get_variables }}
                    </div>
                  </div>
                  {% endif %}
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
