{% extends 'base.html' %}
{% load static tz martortags add_classes_to_tables add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs conditional_questions_note nofo_section_name_separator %}


{% block title %}
  Update to "{{ subsection.name }}"
{% endblock %}

{% block content %}
  {% with "All updates for “"|add:document.title|add:"”" as back_text %}
    {% url 'composer:writer_instance_history' document.id as back_href %}
    {% include "includes/page_heading.html" with title="Update to “"|add:subsection.name|add:"”" back_text=back_text back_href=back_href only %}
  {% endwith %}

  <table class="usa-table margin-top-4 width-full">
    <thead>
      <tr>
        <th scope="col">Before</th>
        <th scope="col">After</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      {# old diff cell #}
        <td>{{ diff_old|safe|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}</td>
      {# new diff cell #}
        <td>{{ diff_new|safe|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
