{% extends 'base.html' %}

{% block title %}
  Delete “{{ guide.title }}”
{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning</h4>
      <p class="usa-alert__text">
        Deleting a Content Guide removes it permanently from your active list.
      </p>
    </div>
  </div>

  {% url 'guides:guide_edit' guide.id as back_href %}
  {% include "includes/page_heading.html" with title="Delete “"|add:guide.title|add:"”" back_text="Configure Content Guide: “"|add:guide.title|add:"”" back_href=back_href only %}

  <form method="post">
    {% csrf_token %}
    <p>Are you absolutely sure you want to delete “{{ guide.title }}”?</p>

    <ul class="usa-button-group margin-top-3">
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--secondary" type="submit">Yes, delete it</button>
      </li>
      <li class="usa-button-group__item">
        <a href="{{ back_href }}" class="usa-button usa-button--outline">Never mind, I don’t want to delete this guide</a>
      </li>
    </ul>
  </form>
{% endblock %}
