{% extends "base.html" %}

{% block title %}
  {{ title }} — NOFO Web Flow
{% endblock %}

{% block content %}
  {% if force_password_reset %}
    {% include "includes/page_heading.html" with title=title only %}
  {% else %}
    {% url 'users:user_view' as back_href %}
    {% include "includes/page_heading.html" with title=title back_text="Your account" back_href=back_href only %}
  {% endif %}

  {% if force_password_reset %}
    <p>Since this is your first time logging in, <strong>you must choose a new password for this accout</strong>.</p>
  {% else %}
    <p>Change the password for this account.</p>
  {% endif %}

  <p>Passwords must be at least 8 characters long.</p>

  <form method="post" action="">
    <fieldset class="usa-fieldset">
      
      {% if form.non_field_errors %}
        <legend>
          <div class="usa-error-message">
            Error: {{ form.non_field_errors.0 }}
          </div>
        </legend>
      {% endif %}

      {% csrf_token %}

      {% include "includes/form_macro.html" %}

    </fieldset>
    <input type="hidden" name="next" value="{{ next }}">

    <button class="usa-button margin-top-3" type="submit">{% if force_password_reset %}Reset{% else %}Change{% endif %} password</button>
  </form>
{% endblock %}
