{% extends "base.html" %}

{% block title %}
  {{ team_user.email }} — NOFO Builder
{% endblock %}

{% block body_class %}user_team_detail{% endblock %}

{% block content %}
  {% include "includes/alerts.html" with messages=messages success_heading=success_heading error_heading=error_heading only %}

  {% url 'users:user_team' as back_href %}
  {% include "includes/page_heading.html" with title=team_user.email back_text="All users" back_href=back_href only %}

  <table class="usa-table usa-table--borderless width-full">
    <caption>
      Account information for {{ team_user.full_name }}.
    </caption>
    <thead>
      <tr>
        <th scope="col">Value</th>
        <th scope="col">Info</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email address</th>
        <td>{{ team_user.email }}</td>
        <td></td>
      </tr>

      <tr>
        <th scope="row">Group</th>
        <td>{{ team_user.get_group_display }}</td>
        <td>
          <a href="{% url 'users:user_team_edit_group' team_user.pk %}">
            Change group
          </a>
        </td>
      </tr>

      <tr>
        <th scope="row">Name</th>
        <td>
          {% if team_user.full_name %}
            {{ team_user.full_name }}
          {% else %}
            <span class="usa-sr-only">No name provided</span>
            <span aria-hidden="true">—</span>
          {% endif %}
        </td>
        <td>
          <a href="{% url 'users:user_team_edit_name' team_user.pk %}">
            {% if team_user.full_name %}Change{% else %}Add{% endif %} name
          </a>
        </td>
      </tr>

      <tr>
        <th scope="row">Password</th>
        <td>
          <span class="usa-sr-only">Password is obscured</span>
          <span aria-hidden="true">&#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022;</span>
        </td>
        <td>
          {% if team_user.pk == request.user.pk %}
            <a href="{% url 'users:password_change' %}">Change password</a>
          {% else %}
            <a href="{% url 'users:user_team_reset_password' team_user.pk %}">
              Reset password
            </a>
          {% endif %}
        </td>
      </tr>

      {% if team_user.group == "bloom" %}
        <tr>
          <th scope="row">Is Superuser</th>
          <td>
            {% if team_user.is_superuser %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
          <td>
            <a href="{% url 'users:user_team_edit_superuser' team_user.pk %}">
              Change Superuser status
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
