{% extends "base.html" %}

{% block title %}
  Your account
{% endblock %}

{% block body_class %}user_view{% endblock %}

{% block content %}
  {% include "includes/alerts.html" with messages=messages success_heading="Profile updated successfully" only %}

  <div class="subsection_edit--header">
  {% include "includes/page_heading.html" with title="Your account" only %}

    <div class="subsection_edit--header--view font-sans-md">
      <form action="{% url 'users:logout' %}" method="post">
        {% csrf_token %}
        <button class="usa-button--unstyled" type="submit">Logout</button>
      </form>
    </div>
  </div>

  <table class="usa-table usa-table--borderless width-full">
    <caption>
      Profile information for your account.
    </caption>
    <thead >
      <tr>
        <th scope="col">Value</th>
        <th scope="col">Info</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Email address</th>
        <td>
          {{ user.email }}
        </td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Group</th>
        <td>
          {{ user.get_group_display }}
        </td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Name</th>
        <td>
          {{ user.full_name }}
        </td>
        <td><a href="{% url 'users:user_edit_name' %}">{% if user.full_name%}Change{% else %}Add your{% endif %} name</a></td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td>
          <span class="usa-sr-only">Password is obscured</span><span aria-hidden="true">&#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022; &#x2022;</span>
        </td>
        <td><a href="{% url 'users:password_change' %}">Change password</a></td>
      </tr>
    </tbody>
  </table>

  <h2 class="margin-top-6">Other actions</h2>

  <p>
    <a href="{% url 'users:export_nofo_report' %}">Export NOFO usage data</a>
  </p>

{% endblock %}
