{% extends 'base.html' %}

{% block title %}
  Compare a NOFO to Content Guide “{{ guide.title }}”
{% endblock %}

{% block body_class %}nofo_import nofo_import--compare nofo_import--compare--guide{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning usa-alert--slim usa-alert--no-icon usa-alert--alpha margin-bottom-3">
    <div class="usa-alert__body bg-base-lightest">
      <p class="usa-alert__text">
        <span class="usa-tag bg-gold text-ink">Beta</span>
        <span class="margin-left-1">Comparing NOFOs is an experimental feature and will change as we improve it. {% include "includes/feedback_link.html" %}.</span>
      </p>
    </div>
  </div>

  {% url 'guides:guide_edit' guide.id as back_href %}
  {% include "includes/page_heading.html" with title="Compare a NOFO to Content Guide “"|add:guide.title|add:"”" back_text="Configure Content Guide: “"|add:guide.title|add:"”" back_href=back_href only %}

  <p>Select a NOFO file to compare to <strong>{{ guide.title }}</strong>.</p>

  <p>Get a breakdown of what content has changed between the current version and your newly-uploaded document.</p>

  <form id="nofo-import--form" class="form-import--loading" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% with id="nofo-import" label="Select NOFO file" hint="Accepts .docx files." value=title %}
      {% for message in messages %}
        {% if "error" in message.tags %}
          {% include "includes/file_input.html" with id=id label=label hint=hint error=message only %}
        {% endif %}
      {% empty %}
        {% include "includes/file_input.html" with id=id label=label hint=hint only %}
      {% endfor %}
    {% endwith %}

    {% include "includes/loading_horse.html" %}

    <button class="usa-button margin-top-3 submit-button" type="submit">Compare NOFO</button>
  </form>
{% endblock %}
