{% extends 'base.html' %}
{% load static martortags add_classes_to_tables add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs %}

{% block title %}
  Content Guide comparison result
{% endblock %}

{% block css %}
  <link href="{% static "styles-theme-base.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-orientation-portait.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc-blue.css" %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block body_class %}nofo_compare nofo_compare--content-guide{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning usa-alert--slim usa-alert--no-icon usa-alert--alpha margin-bottom-3">
    <div class="usa-alert__body bg-base-lightest">
      <p class="usa-alert__text">
        <span class="usa-tag bg-gold text-ink">Beta</span>
        <span class="margin-left-1">Comparing a Content Guide to a NOFO is an experimental feature and will change as we improve it. <br />{% include "includes/feedback_link.html" %}.</span>
      </p>
    </div>
  </div>

  {% url 'guides:guide_edit' guide.id as back_href %}
  {% include "includes/page_heading.html" with title="Content Guide comparison result" back_text="Compare a NOFO to Content Guide “"|add:guide.title|add:"”" back_href=back_href only %}


    {% if num_changed_sections == 0 %}
      <h2>No changes</h2>
      <p>
        This document (<span class="font-mono-sm">{{ new_nofo.filename }}</span>) matches your Content Guide: “{{ guide.title }}”.
      </p>

      <h3 class="margin-top-4" id="follow-up-actions">Follow-up actions</h3>
      <a href="{% url 'guides:guide_edit' guide.id %}" class="usa-button">
        Back to “{{ guide.title }}”
      </a>

    {% else %}
      <p>
        There are <strong>{{ num_changed_subsections }}</strong> subsection{{ num_changed_subsections|pluralize }} with changes across {{ num_changed_sections }} section{{ num_changed_sections|pluralize }}.
      </p>

      {% if comparison %}
        <div class="nofo_view">
          {% for section in comparison %}
            <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}">
              <h2 id="{{ section.html_id }}" >{{ section.name }}</h2>
              <div class="section--content">

                {% for subsection in section.subsections %}
                  {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                      {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                  {% endwith %}
                    {% if subsection.diff %}
                      {{ subsection.diff|safe|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    {% elif subsection.new_value %}
                      {{ subsection.new_value|safe_markdown|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    {% elif subsection.old_value %}
                      {{ subsection.old_value|safe_markdown|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    {% endif %}
                {% endfor %}

              </div>
            </section>
          {% endfor %}
        </div>


      {% endif %}

    <h3 class="margin-top-4" id="follow-up-actions">Follow-up actions</h3>
    <ul class="usa-button-group margin-top-3">
      <li class="usa-button-group__item">
        <a href="{% url 'guides:guide_edit' guide.id %}" class="usa-button usa-button--outline">Back to “{{ guide.title }}”</a>
      </li>
    </ul>
    <p class="font-body-sm">Have thoughts on this page? {% include "includes/feedback_link.html" %}.</p>
  {% endif %}
{% endblock %}
