{% extends 'base.html' %}

{% block title %}
  Content Guide OpDiv group
{% endblock %}

{% block content %}
  {% with "Back to  “"|add:guide.title|add:"”" as back_text %}
    {% url 'guides:guide_edit' guide.id as back_href %}
    {% include "includes/page_heading.html" with title="Content Guide OpDiv group" back_text=back_text back_href=back_href only %}
  {% endwith %}

  <div class="usa-prose">
    <p>Pick the OpDiv group for this Content Guide.<br>Only users from that OpDiv group will be able to see this Content Guide.</p>

    <form id="nofo-group--form nofo-group--form--content-guide" method="post">
      {% csrf_token %}

      {% include "includes/form_macro.html" %}

      <button class="usa-button margin-top-3" type="submit">Save OpDiv group</button>
    </form>
  </div>

{% endblock %}
