{% extends 'base.html' %}
{% load static input_type whitespaceless martortags get_value_or_none add_classes_to_tables convert_paragraphs_to_hrs %}

{% block title %}
  Subsection: {% if subsection.name %}{{ subsection.name }}{% else %}(#{{ subsection.order }}){% endif %}
{% endblock %}

{% block body_class %}subsection_edit subsection_edit--diff-subsection{% endblock %}

{% block content %}
  <div class="back-link font-body-md margin-bottom-105">
    <a href="{% url 'guides:guide_edit' guide.id %}#{{ subsection.html_id }}">Edit “{{ guide.title }}”</a>
  </div>
  <div class="subsection_edit--header">
    <h1 class="font-heading-xl margin-y-0">Subsection: {% if subsection.name %}{{ subsection.name }}{% else %}(#{{ subsection.order }}){% endif %}</h1>
  </div>

  <p>Decide what to compare in this subsection.</p>

  {% if form.non_field_errors %}
    <legend class="legend--bootstrap">
      <div class="usa-error-message">
        Error: {{ form.non_field_errors.0 }}
      </div>
    </legend>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {% with id=form.comparison_type.name label=form.comparison_type.label hint="Decide what to compare from this subsection" value=form.comparison_type.value choices=form.comparison_type.field.choices error=form.comparison_type.errors.0 %}
      {% include "includes/select.html" with id=id label=label value=value hint=hint choices=choices error=error only %}
    {% endwith %}

    <details class="margin-top-4" {% if subsection.comparison_type == "diff_strings" %}open{% endif %}>
      <summary><span class="font-sans-md text-primary text-underline">Add required strings to match against</span></summary>

      <div class="margin-bottom-4">
        <div class="diff-strings--container">
        {% for field in form %}
          {% if "diff_string_" in field.name %}
            {% with id=field.name label=field.label value=field.value hint=field.help_text error=field.errors.0 disabled=field.field.widget.attrs.is_disabled input_type="TextInput" %}
              {% include "includes/_text_input.html" with id=id label=label hint=hint value=value error=error disabled=disabled input_type=input_type only %}
            {% endwith %}
          {% endif %}
        {% endfor %}
        </div>

        <div class="diff-strings--button-container">
          <button type="button" class="usa-button usa-button--outline margin-top-4 diff-strings--button add-button display-none">
            Add required string
          </button>
        </div>
      </div>
    </details>

    <table class="usa-table w-85 subsection_edit--comparison-table">
      <caption>
        Comparison table
      </caption>
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Value</th>
          <th scope="col">Compare?</th>
        </tr>
      </thead>
      <tbody>
        <tr class="{% if subsection.comparison_type in "name body diff_strings" %}row-comparison--yes{% else %}row-comparison--no{% endif%}">
          <th scope="row">Subsection name</th>
          <td>
            {{ subsection.name }}
          </td>
          <td>
            {% if subsection.comparison_type in "name body diff_strings" %}
              <span role="img" aria-hidden="true">✅</span>
              <span class="usa-sr-only">Yes, compare on the title</span>
            {% else %}
              <span role="img" aria-hidden="true">❌</span>
              <span class="usa-sr-only">No, don’t compare on the title</span>
            {% endif %}
          </td>
        </tr>
        <tr class="{% if subsection.comparison_type == "body" %}row-comparison--yes{% else %}row-comparison--no{% endif%}">
          <th scope="row">Subsection text</th>
          <td>
            {{ subsection.body|safe_markdown|add_classes_to_tables|convert_paragraphs_to_hrs|get_value_or_none:"content" }}
          </td>
          <td>
            {% if subsection.comparison_type == "body" %}
              <span role="img" aria-hidden="true">✅</span>
              <span class="usa-sr-only">Yes, compare on body text</span>
            {% else %}
              <span role="img" aria-hidden="true">❌</span>
              <span class="usa-sr-only">No, don’t compare on body title</span>
            {% endif %}
          </td>
        </tr>
        <tr class="{% if subsection.comparison_type == "diff_strings" %}row-comparison--yes{% else %}row-comparison--no{% endif%}">
          <th scope="row">Required strings</th>
          <td>
            {% if subsection.diff_strings|length == 0 %}
              —
            {% else %}
              <ul class="usa-list margin-top-0">
                {% for diff_string in subsection.diff_strings %}
                  <li>{{ diff_string }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </td>
          <td>
            {% if subsection.comparison_type == "diff_strings" %}
              <span role="img" aria-hidden="true">✅</span>
              <span class="usa-sr-only">Yes, compare on body text</span>
            {% else %}
              <span role="img" aria-hidden="true">❌</span>
              <span class="usa-sr-only">No, don’t compare on body title</span>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-group">
      <button class="usa-button margin-top-3" type="submit">Save subsection</button>
    </div>
  </form>
{% endblock %}

{% block js_footer %}
<script>
  function createDiffStringLabel(index) {
    const label = document.createElement("label");
    label.className = "usa-label";
    label.htmlFor = `diff_string_${index}`;
    label.textContent = `Required string ${index + 1}`;
    return label;
  }

  function createDiffStringInput(index) {
    const input = document.createElement("input");
    input.type = "text";
    input.name = `diff_string_${index}`;
    input.id = `diff_string_${index}`;
    input.className = "usa-input border-2px margin-bottom-2";
    input.setAttribute("aria-describedby", "");
    input.value = "";
    return input;
  }

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const container = form.querySelector(".diff-strings--container");
    const addBtn = form.querySelector(".diff-strings--button");

    // Unhide the "Add required string" button
    addBtn.classList.remove("display-none");

    addBtn.addEventListener("click", () => {
      const inputs = container.querySelectorAll("input[name^='diff_string_']");
      if (inputs.length >= 100) return;

      const newIndex = inputs.length;

      const label = createDiffStringLabel(newIndex);
      const input = createDiffStringInput(newIndex);

      container.appendChild(label);
      container.appendChild(input);

      input.focus();
    });
  });
</script>
{% endblock %}