{% extends 'base.html' %}
{% load static tz martortags add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs add_classes_to_tables convert_paragraphs_to_hrs nofo_section_name_separator safe_br %}

{% block title %}
  Configure: {{ section.name }} </title>
{% endblock %}

{% block body_class %}composer_document_section composer_document_section--preview{% endblock %}

{% block content %}
  <div class="grid-row cg-layout">
    <!-- Full-document preview -->
    <div class="grid-col-12">
      <div class="back-link font-body-md margin-bottom-105">
        <a class="usa-button--icon--before usa-button--icon--usa-blue usa-button--arrow_back" href="{% url 'composer:section_view' document.pk section.pk %}">Back</a>
      </div>
      <h1 class="margin-bottom-1 margin-top-0 font-serif-xl">Configure step
        <br>
        {% with section.name|nofo_section_name_separator as section_name %}
          <span class="font-serif-lg  text-base">{% if section_name.number %}{{ section_name.number }}. {% endif %}{{ section_name.name|safe_br }}</span>
        {% endwith %}
      </h1>

      <div class="margin-y-4">
        <details class="usa-accordion usa-accordion--bordered" open>
          <summary class="usa-accordion__button">
            <h3 class="usa-accordion--heading margin-top-0">
              Other steps
            </h3>
          </summary>

          <div class="usa-accordion__content usa-prose">
            <div class="display-flex flex-justify edit_section--other_sections">
              {% if section.get_previous_section %}
                <a href="{% url 'composer:section_edit' document.id section.get_previous_section.id %}" class="usa-button--unstyled usa-button--icon--before usa-button--icon--usa-blue usa-button--arrow_back">{{ section.get_previous_section.name }}</a>
              {% endif %}

              {% if section.get_next_section %}
                <a href="{% url 'composer:section_edit' document.id section.get_next_section.id %}" class="usa-button--unstyled usa-button--icon--after usa-button--icon--usa-blue usa-button--arrow_forward">{{ section.get_next_section.name }}</a>
              {% endif %}
            </div>
          </div>
        </details>
      </div>

      <main>
        <!-- Render each section with all its subsections -->
        {% for subsection in section.subsections.all %}
          <div class="grid-row grid-gap flex-align-center">
            <div class="grid-col-2 text-bold">{{subsection.name}}</div>
            <div class="grid-col-9">
              {% if subsection.instructions %}
              <div class="usa-prose padding-2 bg-primary-lighter">
                {{ subsection.instructions|safe_markdown|add_classes_to_paragraphs|add_classes_to_lists|convert_paragraphs_to_hrs }}
              </div>
              {% endif %}
              <div class="usa-prose margin-top-2 {%if subsection.callout_box %}padding-2 border border-base-lighter border-width-05 radius-lg{% endif %} styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                {{ subsection.body|safe_markdown|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
              </div>
            </div>
            <div class="grid-col-1 flex-align-center">
              <a class="usa-button usa-button--unstyled text-secondary" href="{%url 'composer:subsection_confirm_delete' document.pk section.pk subsection.pk %}">Delete</a>
            </div>
            <div class="grid-col-12 display-flex flex-align-center margin-y-3">
              <div class="flex-1 border-bottom border-base-lighter border-bottom-width-1px"></div>
              <a class="usa-button usa-button--outline usa-button--light text-primary usa-button--icon--before usa-button--icon--usa-blue usa-button--icon--usa-blue--hover usa-button--add" type="button" href="{% url 'composer:subsection_create' document.pk section.pk %}?prev_subsection={{subsection.id}}">Add section</a>
              <div class="flex-1 border-bottom border-base-lighter border-bottom-width-1px"></div>
            </div>
          </div>

        {% endfor %}
      </main>
    </div>
  </div>
{% endblock %}
