{% extends 'base.html' %}
{% load static tz martortags add_classes_to_tables add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs conditional_questions_note nofo_section_name_separator replace_variable_keys_with_values subsection_name_or_placeholder %}

{% block title %}
  {{ document.title }} — {{ current_section.name }}</title>
{% endblock %}

{% block body_class %}composer_document_section{% endblock %}

{% block content %}
  <div class="grid-row">
    {% include "includes/alerts.html" with messages=messages success_heading=success_heading error_heading=error_heading stick_to_bottom=True only %}
    <div class="back-link font-body-md margin-bottom-105 line-height-sans-2">
      <a class="usa-button--icon--before usa-button--icon--usa-blue usa-button--arrow_back" href="{{ home_url }}">Home</a>
    </div>
  </div>
  <div class="grid-row cg-layout">
    <!-- sticky sidenav -->
    {% include 'includes/_side_nav.html' with document_pk=document.pk document_is_instance=document_is_instance sections=sections %}

    <!-- current_section content -->
    <div class="grid-col-9">
        <div class="subhead--document-name font-sans-md text-base margin-bottom-05">{{ document.title }}</div>
        <div class="display-flex flex-justify flex-align-start margin-bottom-1">
          <h1 class="margin-bottom-0 margin-top-05 font-serif-xl">
            {% with current_section.name|nofo_section_name_separator as section_name %}
              {{ section_name.name }}
            {% endwith %}
          </h1>
          {% if document_is_instance %}
            <a href="{% url 'composer:writer_preview' document.pk %}" class="usa-button">Preview</a>
          {% else %}
            <a href="{% url 'composer:composer_preview' document.pk %}" class="usa-button">Preview</a>
          {% endif %}
        </div>
      {% timezone "America/New_York" %}
        <p>
          <em>Last updated on <strong>{{ document.updated|date:'F j' }} at {{ document.updated|date:'g:i A' }}</strong></em> — <a href="{{ history_url }}">See all updates</a>
        </p>
      {% endtimezone %}

      {% if document_is_instance %}
        {# if brand new instance and on first page, show "success" alert #}
        {% if request.GET.new_instance and current_section.order == 1 %}
          <div class="usa-alert usa-alert--success usa-alert--heading-sm margin-y-2">
            <div class="usa-alert__body">
              <h4 class="usa-alert__heading">Your draft NOFO has been created!</h4>
              <p class="usa-alert__text">
                You’re ready to start setting up your program details.
              </p>
            </div>
          </div>
        {% endif %}

        {# if NOT a new instance and "not started" subsections exist, show "warning" alert #}
        {% if not request.GET.new_instance and not_started_subsections %}
          <div class="margin-y-2">
            {% include "includes/_writer_not_started_alert.html" %}
          </div>
        {% endif %}
      {% endif %}

      {% if document_is_instance == False %}
        <ul class="line-height-sans-5">
          <li>Review and update the content guide.</li>
          <li>Select “Edit” to set how much control OpDivs and writers have.</li>
          <li>Tags (e.g., Locked, Certain text, Optional) show those permissions and can be changed when editing.</li>
        </ul>
        <div class="margin-y-2">
          {% include "includes/_composer_tags_explainer_box.html" %}
        </div>
      {% else %}
        <div class="margin-y-2">
          {% include "includes/_writer_tags_explainer_box.html" with is_open=request.GET.new_instance %}
        </div>
      {% endif %}

      <hr>

      <ul class="margin-top-2 margin-x-0 usa-button-group flex-justify-end">
        {% if document_is_instance == False %}
          <li><a class="usa-button usa-button--unstyled" href="{% url 'composer:section_edit' document.pk current_section.pk %}">Configure section</a></li>
        {% endif %}
          <li><button id="expand-collapse-all" class="usa-button usa-button--outline usa-button--icon--after usa-button--add usa-button--icon--usa-blue">Expand all</button></li>
      </ul>

      <div class="border-bottom border-base-lighter border-bottom-width-1px">
      <!-- Header blocks (h2/h3 + pre-identified heading names)  -->
      {% for grouped_subsection in grouped_subsections %}
        <h3 class="margin-top-0">{{ grouped_subsection.heading }}</h3>
        <div class="margin-bottom-4">
        {# Header item + subsequent items #}
        {% for subsection in grouped_subsection.items %}
          <div id="{{ subsection.html_id }}" class="usa-accordion usa-accordion--multiselectable usa-accordion--bordered" data-allow-multiple>
            <h4 class="usa-accordion__heading">
              <button class="usa-accordion__button display-flex flex-justify"
                      aria-controls="accordion-{{ subsection.pk }}"
                      {% if anchor == subsection.html_id %}
                        aria-expanded="true"
                      {% else %}
                        aria-expanded="false"
                      {% endif %}
                      >
                {{ subsection|subsection_name_or_placeholder }}
                <div class="flex-row">
                  {% if document_is_instance == False %}
                    {% include "includes/_composer_subsection_labels.html" with conditional_answer=subsection.conditional_answer optional=subsection.optional edit_mode=subsection.edit_mode only %}
                  {% else %}
                    {% include "includes/_writer_subsection_labels.html" with hidden=subsection.hidden optional=subsection.optional edit_mode=subsection.edit_mode status=subsection.status only %}
                  {% endif %}
                </div>
              </button>
            </h4>
            <div id="accordion-{{ subsection.pk }}" class="usa-accordion__content usa-prose">
              {% if document_is_instance == False %}
                {% with subsection|conditional_questions_note as conditional_note %}
                  {% if conditional_note %}
                    <p class="margin-top-1">
                      {{ conditional_note|safe }}
                    </p>
                  {% endif %}
                {% endwith %}
              {% endif %}
              {% if subsection.instructions %}
              <div class="position-relative padding-bottom-2 border-bottom border-base-lighter">
                <div class="{% if subsection.hidden %}bg-base-lighter text-gray-50{% else %}bg-primary-lighter{% endif %} padding-2">
                  <div class="display-flex flex-justify flex-align-center">
                    <div class="font-heading-lg text-bold padding-top-1">Instructions{%if document_is_instance == True %}<span class="usa-sr-only">(locked)</span>{% endif %}</div>
                    {% if document_is_instance == False %}
                      <span class="bg-white"><a
                        class="usa-button usa-button--outline usa-button--compact"
                        href="{% url 'composer:instructions_edit' document.pk current_section.pk subsection.pk %}">
                          Edit instructions
                      </a></span>
                    {% endif %}
                  </div>
                  <div>
                    {{ subsection.instructions|safe_markdown|add_classes_to_paragraphs|add_classes_to_lists|convert_paragraphs_to_hrs }}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="{% if subsection.hidden %}text-gray-50{% endif %} position-relative">
                <div class="font-heading-lg text-bold padding-top-1 margin-right-10">{{ subsection.name }}</div>
                {% if document_is_instance and subsection.edit_mode == 'locked' and not subsection.optional %}
                  {# don't show edit links for locked subsections in draft nofos, unless optional #}
                {% else %}
                  <a
                    class="usa-button usa-button--outline usa-button--compact position-absolute top-0 right-0"
                    href="{% url edit_subsection_url_name document.pk current_section.pk subsection.pk %}">
                      Edit
                  </a>
                {% endif %}
                <div class="usa-prose styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                  {{ subsection.body|safe_markdown|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs|replace_variable_keys_with_values:subsection.get_variables }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endfor %}
      </div>

      <!-- Pager -->
      <nav class="display-flex {% if document_is_instance == False %}flex-justify{% endif %} margin-top-4">
        <div>
          {% if prev_sec %}
            <a class="usa-button usa-button--outline"
                href="{{ prev_sec_url }}">
                {% if document_is_instance == False %}← {{ prev_sec.name }}{% else %}Back{% endif %}
            </a>
          {% endif %}
        </div>
        <div>
          {% if next_sec %}
            <a class="usa-button"
                href="{{ next_sec_url }}">
                {% if document_is_instance == False %}{{ next_sec.name }} →{% else %}Save and continue{% endif %}
            </a>
          {% else %}
            {% if document_is_instance %}
              <a href="{% url 'composer:writer_preview' document.pk %}" class="usa-button">Preview draft NOFO</a>
            {% endif %}
          {% endif %}
        </div>
      </nav>
      {% if document_is_instance and next_sec %}
        {% with next_sec.name|nofo_section_name_separator as next_sec_name %}
          <p>Up next: {{next_sec_name.name }}</p>
        {% endwith %}
      {% endif %}
    </div>
  </div>

  <script src="{% static 'js/composer/composer_section.js' %}"></script>
{% endblock %}
