{% extends 'base.html' %}
{% load tz martortags edit_mode_label add_classes_to_tables add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs %}

{% block title %}
  {{ document.title }} — {{ current_section.name }}</title>
{% endblock %}

{% block body_class %}composer_document_section{% endblock %}

{% block content %}
  <div class="grid-row cg-layout">
    {% include "includes/alerts.html" with messages=messages success_heading=success_heading error_heading=error_heading stick_to_bottom=True only %}

    <!-- sticky sidenav -->
    <aside class="grid-col-12 tablet:grid-col-3 cg-sidenav">
      <div class="back-link font-body-md margin-bottom-105">
        <a class="usa-button--icon--before usa-button--arrow_back" href="{% url 'composer:composer_index' %}">Home</a>
      </div>

      <p class="side-nav-list--intro">Steps in this content guide</p>

      <nav id="side-nav" aria-label="Step navigation">
        <ul id="side-nav-list" class="usa-sidenav">
          {% for section in sections %}
            <li class="usa-sidenav__item">
              <a
                href="{% url 'composer:section_view' document.pk section.pk %}"
                {% if section.id == current_section.id %}aria-current="page" class="usa-current"{% endif %}>
                {{ section.name }}
              </a>
            </li>
          {% endfor %}
          <li class="usa-sidenav__item">
            <a href="{% url 'composer:composer_preview' document.pk %}">
              Preview content guide
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- current_section content -->
    <main class="grid-col-12 tablet:grid-col-9">
      <div class="subhead--document-name font-sans-md text-base">{{ document.title }}</div>
      <h1 class="margin-bottom-1 margin-top-1 font-serif-xl">{{ current_section.name }}</h1>
      {% timezone "America/New_York" %}
        <p>
          <em>Last updated on <strong>{{ document.updated|date:'F j' }} at {{ document.updated|date:'g:i A' }}</strong></em>.
        </p>
      {% endtimezone %}
      <p>
        Review and make updates to the content guide.
        Enter instructions, question and/or fields you’d want within each section of the grant application.
        By clicking “Edit,” you can set how you want writers to edit a section such as making any, all or no changes to the content.
      </p>
      <hr />

      <!-- Header blocks (h2/h3 + pre-identified heading names)  -->
      {% for grouped_subsection in grouped_subsections %}
        <h3 class="margin-top-4">{{ grouped_subsection.heading }}</h3>

        {# Header item + subsequent items #}
        {% for subsection in grouped_subsection.items %}
          <div id="{{ subsection.html_id }}" class="usa-accordion usa-accordion--multiselectable usa-accordion--bordered" data-allow-multiple>
            <h4 class="usa-accordion__heading">
              <button class="usa-accordion__button display-flex flex-justify"
                      aria-controls="accordion-{{ subsection.pk }}"
                      {% if anchor == subsection.html_id %}
                        aria-expanded="true"
                      {% else %}
                        aria-expanded="false"
                      {% endif %}
                      >
                {{ subsection.name|default:"(No title)" }} <span class="usa-tag bg-primary-dark maxh-fit-content">{{ subsection.edit_mode|edit_mode_label }}</span>
              </button>
            </h4>
            <div id="accordion-{{ subsection.pk }}" class="usa-accordion__content usa-prose">
              {% if subsection.instructions %}
              <div class="position-relative padding-2 border-bottom border-base-lighter">
                <div class="bg-primary-lighter padding-2">
                  <div class="display-flex flex-justify flex-align-center">
                    <div class="font-heading-lg text-bold padding-top-1">Instructions</div>
                    <span class="bg-white"><a
                      class="usa-button usa-button--outline usa-button--compact"
                      href="{% url 'composer:instructions_edit' document.pk current_section.pk subsection.pk %}">
                        Edit instructions
                    </a></span>
                  </div>
                  <div>
                    {{ subsection.instructions|safe_markdown|add_classes_to_paragraphs|add_classes_to_lists|convert_paragraphs_to_hrs }}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="position-relative">
                <div class="font-heading-lg text-bold padding-top-1 margin-right-10">{{ subsection.name }}</div>
                <a
                  class="usa-button usa-button--outline usa-button--compact position-absolute top-0 right-0"
                  href="{% url 'composer:subsection_edit' document.pk current_section.pk subsection.pk %}">
                    Edit
                </a>
                <div class="usa-prose styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                  {{ subsection.body|safe_markdown|add_classes_to_tables|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}

      <!-- Pager -->
      <nav class="display-flex flex-justify margin-top-4">
        <div>
          {% if prev_sec %}
            <a class="usa-button usa-button--outline"
                href="{% url 'composer:section_view' document.pk prev_sec.pk %}">
                ← {{ prev_sec.name }}
            </a>
          {% endif %}
        </div>
        <div>
          {% if next_sec %}
            <a class="usa-button"
                href="{% url 'composer:section_view' document.pk next_sec.pk %}">
                {{ next_sec.name }} →
            </a>
          {% endif %}
        </div>
      </nav>
    </main>
  </div>
{% endblock %}
