{% extends "base.html" %}
{% load tz %}

{% block title %}
	NOFO Composer
{% endblock %}

{% block body_class %}composer_index{% endblock %}

{% block content %}
  {% include "includes/alerts.html" with messages=messages success_heading=success_heading error_heading=error_heading only %}

  <h1 class="font-heading-xl margin-y-0">Welcome to Composer</h1>
  <div class="usa-prose">
    <p>Your workspace for creating and managing content guides across OpDivs.</p>
    <p>
      Use Composer to set policy standards for NOFOs across OpDivs.
      Create new content guides or update existing ones to ensure policy and regulatory language stays current and consistent across OpDivs.
    </p>
  </div>

  {% if draft_documents or published_documents %}
    {% if draft_documents %}
      <h2 class="font-heading-md margin-top-6">Edit draft content guides</h2>
      <div class="usa-prose">
        <p>
          You configure whether sections will be locked or editable for OpDiv writers and program teams.
        </p>
      </div>
      <table class="usa-table usa-table--borderless width-full table--section">
        <thead>
          <tr>
            <th scope="col" class="w-40">Name</th>
            <th scope="col" class="w-15">Last saved by</th>
            <th scope="col" class="w-15">Created</th>
            <th scope="col" class="w-15">Updated</th>
            <th scope="col" class="w-10">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for draft in draft_documents %}
            <tr>
              <th scope="row">
                <a href="{% url 'composer:composer_document_redirect' draft.pk %}">{{ draft.title }}</a></th>
              <td>{{ draft.updated_by_display }}</td>
              {% timezone "America/New_York" %}
                <td> {{ draft.created_display }}</td>
                <td> {{ draft.updated_display }} </td>
              {% endtimezone %}
              <td><a href="{% url 'composer:composer_archive' draft.pk %}" class="text-secondary-dark usa-button--icon--after usa-button--icon--only usa-button--icon--usa-red usa-button--delete"><span class="usa-sr-only">Delete this document</span></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {%if published_documents %}
      <h2 class="font-heading-md margin-top-6">Review published content guides</h2>
      <div class="usa-prose">
        <p>
          You review and edit content guides that OpDiv writers and program teams can access.
        </p>
      </div>
      <table class="usa-table usa-table--borderless width-full table--section">
        <thead>
          <tr>
            <th scope="col" class="w-40">Name</th>
            <th scope="col" class="w-15">Last saved by</th>
            <th scope="col" class="w-15">Created</th>
            <th scope="col" class="w-15">Updated</th>
            <th scope="col" class="w-10">Download</th>
          </tr>
        </thead>
        <tbody>
          {% for published in published_documents %}
            <tr>
              <th scope="row">
                <a href="{% url 'composer:composer_document_redirect' published.pk %}">{{ published.title }}</a></th>
              <td>{{ published.updated_by_display }}</td>
              {% timezone "America/New_York" %}
                <td> {{ published.created_display }}</td>
                <td> {{ published.updated_display }} </td>
              {% endtimezone %}
              <td><a href="#" class="usa-button--icon usa-button--icon--before usa-button--icon--usa-blue usa-button--file_download">Download<span class="usa-sr-only"> this document</span></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% else %}
  <div class="usa-prose">
    <p>No content guides available</p>
  </div>
  {% endif %}


  <h2 class="font-heading-md margin-top-6">Create a new content guide</h2>
  <div class="usa-prose">
    <p>
      We’ll guide you through questions needed to start a new content guide.
      You can then add, edit, and determine what OpDiv writers and program teams can control.
    </p>
  </div>
  <a class="usa-button" href="{% url 'composer:composer_import' %}">
    Start a new content guide
  </a>

  {% include "includes/_getting_started_index_table.html" %}
{% endblock %}
