{% extends 'base.html' %}

{% block title %}
  {% if show_back_link %}Rename this content guide{% else %}Name your content guide{% endif %}
{% endblock %}

{% block content %}
  {% if show_back_link %}
    {% url 'composer:composer_document_redirect' document.id as back_href %}
    {% include "includes/page_heading.html" with title="Rename this content guide" back_text=first_section.name back_href=back_href only %}
  {% else %}
    {% include "includes/page_heading.html" with title="Name your content guide" only %}
  {% endif %}

  <div class="usa-prose">
    {% if not show_back_link %}
      <p>Name your Content Guide so that it’s clear which version it is.</p>
    {% endif %}
  </div>

  <form id="nofo-title--form nofo-title--form--compare" method="post">
    {% csrf_token %}

    {% with id=form.title.name label=form.title.label value=form.title.value hint2="eg, “FY26 CDC content guide R&R”" hint2for="title" error=form.title.errors.0 input_type="TextInput" classes="text-bold" %}
      {% include "includes/_text_input.html" with id=id label=label hint=hint hint2=hint2 hint2for=hint2for value=value error=error disabled=disabled input_type=input_type classes=classes only %}
    {% endwith %}

    <button class="usa-button margin-top-3" type="submit">Save name</button>
  </form>
{% endblock %}
