{% extends 'base.html' %}
{% load static tz martortags add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs %}

{% block title %}
  Preview: {{ document.title }} </title>
{% endblock %}

{% block css %}
  <link href="{% static "styles-theme-base.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-orientation-portrait.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc-blue.css" %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block body_class %}composer_document_section composer_document_section--preview{% endblock %}

{% block content %}
  <div class="grid-row cg-layout">
    <!-- sticky sidenav -->
    <aside class="grid-col-12 tablet:grid-col-3 cg-sidenav">
      <div class="back-link font-body-md margin-bottom-105">
        <a class="usa-button--icon--before usa-button--arrow_back" href="{% url 'composer:composer_index' %}">Home</a>
      </div>

      <p class="side-nav-list--intro">Sections in this content guide</p>

      <nav id="side-nav" aria-label="Section navigation">
        <ul id="side-nav-list" class="usa-sidenav">
          {% for section in sections %}
            <li class="usa-sidenav__item">
              <a
                href="{% url 'composer:section_view' document.pk section.pk %}"
                {% if section.id == current_section.id %}aria-current="page" class="usa-current"{% endif %}>
                {{ section.name }}
              </a>
            </li>
          {% endfor %}
          <li class="usa-sidenav__item">
            <a
              href="{% url 'composer:composer_preview' document.pk %}"
              aria-current="page"
              class="usa-current">
              Preview content guide
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <!-- Full-document preview -->
    <main class="grid-col-12 tablet:grid-col-9">
      <h1 class="margin-bottom-1 margin-top-0 font-serif-xl">Preview “{{ document.title }}”</h1>
      {% timezone "America/New_York" %}
        <p><em>Last updated on <strong>{{ document.updated|date:'F j' }} at {{ document.updated|date:'g:i A' }}</strong></em>.</p>
      {% endtimezone %}

      <hr />

      <div class="nofo_view">
        <!-- Render each section with all its subsections -->
        {% for section in sections %}
          <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}">
            <h2 id="{{ section.html_id }}" >{{ section.name }}</h2>

            <div class="section--content">
              {% for subsection in section.ordered_subsections %}
                  {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                    {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                  {% endwith %}
                  <div>
                    {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                  </div>
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    </main>
  </div>
{% endblock %}
