{% extends 'base.html' %}
{% load static tz martortags add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs replace_variable_keys_with_values %}

{% block title %}
  Preview: {{ document.title }} </title>
{% endblock %}

{% block css %}
  <link href="{% static "styles-theme-base.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-orientation-portrait.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc-blue.css" %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block body_class %}composer_document_section composer_document_section--preview{% endblock %}

{% block content %}
  {% include "includes/_warning_archived.html" with document=document %}
  {% include "includes/alerts.html" with messages=messages success_heading=success_heading error_heading=error_heading only %}

  <div class="grid-row">
    <div class="back-link font-body-md margin-bottom-105 line-height-sans-2">
      {% if user.is_staff %}
        <a class="usa-button--icon--before usa-button--icon--usa-blue usa-button--arrow_back" href="{% url 'composer:composer_index' %}">Home</a>
      {% else %}
        <a class="usa-button--icon--before usa-button--icon--usa-blue usa-button--arrow_back" href="{% url 'composer:writer_index' %}">Home</a>
      {% endif %}
    </div>
  </div>
  <div class="grid-row cg-layout">
    {% if show_side_nav %}
      {% include 'includes/_side_nav.html' with document_pk=document.pk sections=sections is_preview=True document_is_instance=document_is_instance only %}
    {% endif %}
    <!-- Full-document preview -->
    <div class="{% if document.status != 'published' %}grid-col-9{% else %}grid-col-12{% endif %}">
      <h1 class="margin-bottom-1 margin-top-0 font-serif-xl">Preview “{{ document.title }}”</h1>
      {% timezone "America/New_York" %}
        <p><em>Last updated on <strong>{{ document.updated|date:'F j' }} at {{ document.updated|date:'g:i A' }}</strong></em>.</p>
      {% endtimezone %}

      {% if document_is_instance %}
        <p class="margin-y-2">
          Review your draft. You can download the NOFO as a Word document for offline editing, or save your progress and return to Composer anytime.
        </p>
      {% endif %}

      <hr>

      {% if show_unpublish_button or show_save_exit_button or show_publish_button or show_download_button %}
        <form method="post">
          {% csrf_token %}
          <ul class="usa-button-group flex-justify-end margin-y-2 margin-x-0">
            {# 1. Unpublish (link) #}
            {% if show_unpublish_button %}
              <li class="usa-button-group__item">
                <a href="{% url 'composer:composer_unpublish' document.pk %}" class="usa-button">
                  Unpublish
                </a>
              </li>
            {% endif %}

            {# 2. Save and exit #}
            {% if show_save_exit_button %}
              <li class="usa-button-group__item">
                <button
                  class="usa-button usa-button--outline"
                  type="submit"
                  name="action"
                  value="exit"
                >
                  Save and exit
                </button>
              </li>
            {% endif %}

            {# 3. Publish #}
            {% if show_publish_button %}
              <li class="usa-button-group__item">
                <button
                  class="usa-button"
                  type="submit"
                  name="action"
                  value="publish"
                >
                  Publish
                </button>
              </li>
            {% endif %}

            {# 4. Download (no-op) #}
            {% if show_download_button %}
              <li class="usa-button-group__item">
                <button
                  class="usa-button usa"
                  type="submit"
                  name="action"
                  value="download"
                >
                  Download
                </button>
              </li>
            {% endif %}
          </ul>
        </form>
      {% endif %}

      <div class="nofo_view">
        <!-- Render each section with all its subsections -->
        {% for section in sections %}
          <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}">
            <h2 id="{{ section.html_id }}" >{{ section.name }}</h2>

            <div class="section--content">
              {% for subsection in section.ordered_subsections %}
                {# skip "hidden" subsections #}
                {% if not subsection.hidden %}
                <div class="margin-top-4 margin-bottom-2">
                  {% if subsection.instructions %}
                    <div class="bg-primary-lighter padding-2">
                      {{ subsection.instructions|safe_markdown|add_classes_to_paragraphs|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    </div>
                  {% endif %}
                  <div class="{% if subsection.callout_box%}border margin-top-1 padding-x-2 padding-bottom-2 {%if not subsection.name %} padding-top-2{% endif %} {% endif %}">
                    {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                      {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                    {% endwith %}
                    <div class="{% if not subsection.name and not subsection.callout_box %}margin-top-2{% endif %} styled-subsection-body{% if subsection.edit_mode == 'variables' %}--variables{% elif subsection.edit_mode == 'full' %}--full{% endif %}">
                      {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs|replace_variable_keys_with_values:subsection.get_variables }}
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
