/* CSS vars */
:root {
  --color--black: #000000;
  --color--white: #ffffff;
  --color--yellow: #fd0;
  --color--green: #008817;
  --color--green-dark: #216e1f;
  --color--table-grey: #edf1f3;
  --color--table-blue: #f2f6fc;
  --color--light-table-blue: #e8f5ff;
  --color--light-grey: #dde2e8;
  --color--med-grey: #5c5c5c;
  --color--dark-blue: #00345e;
  --color--med-blue: #336a90;
  --color--cdc-blue: #0057b7;
  --color--hhs-blue: #005ea2;
  --color--pale-blue: #e8f0f3;
  --color--med-brown: #c0b0a2;

  --color--bloom-green: #37a576;
  --color--acf-blue: #264a64;
  --color--acl-blue: #08508f;
  --color--aspr-blue: #155197;
  --color--cms-blue: #004a86;
  --color--hrsa-blue: #006699;
  --color--ihs-blue: #012f52;
  --color--nih-blue: var(--color--acl-blue);
  --color--samhsa-blue: #1e384b;
  --color--staging-coral: #f08080;
}

/* Utility classes */

.w-100,
.w-full {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-66 {
  width: 66%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-33 {
  width: 33%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.usa-button--green,
.usa-button--green:visited {
  color: var(--color--white);
  background-color: var(--color--green);
}
.usa-button--green.usa-button--hover,
.usa-button--green:hover {
  background-color: var(--color--green-dark);
}

.usa-button--green.usa-button--active,
.usa-button--green:active {
  background-color: #3f4a3c;
}

.bg-group--bloom {
  background-color: var(--color--bloom-green);
}

.bg-group--acf {
  background-color: var(--color--acf-blue);
}

.bg-group--acl {
  background-color: var(--color--acl-blue);
}

.bg-group--aspr {
  background-color: var(--color--aspr-blue);
}

.bg-group--cdc {
  background-color: var(--color--cdc-blue);
}

.bg-group--cms {
  background-color: var(--color--cms-blue);
}

.bg-group--hrsa {
  background-color: var(--color--hrsa-blue);
}

.bg-group--ihs {
  background-color: var(--color--ihs-blue);
}

.bg-group--staging {
  background-color: var(--color--staging-coral);
}

.list-lower-roman {
  list-style-type: lower-roman;
}

.list-upper-roman {
  list-style-type: upper-roman;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

.list-upper-alpha {
  list-style-type: upper-alpha;
}

/* Utility CSS */
*,
::after,
::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.usa-table--font-size-1 {
  font-size: 1rem;
}

.highlight-strong {
  font-weight: 700;
  background-color: var(--color--yellow);
}

.martor-preview img,
.nofo-edit-table--subsection--body img,
.section--content img {
  border-radius: 10px;
}

/* List CSS */

ol ol:not([type]):not(.usa-list--unstyled) {
  list-style-type: lower-alpha;
}

ol ol ol:not([type]):not(.usa-list--unstyled) {
  list-style-type: lower-roman;
}

ul ul ul ul:not([type]):not(.usa-list--unstyled) {
  list-style-type: none;
}

ul ul ul ul:not([type]):not(.usa-list--unstyled) > li:before {
  content: "âƒ";
  margin-left: -14px;
  margin-right: 8px;
}

ul ul ul ul ul:not([type]):not(.usa-list--unstyled) {
  list-style-type: disc;
}

ul ul ul ul ul:not([type]):not(.usa-list--unstyled) > li:before {
  content: none;
  margin-right: 0;
}

ul ul ul ul ul ul:not([type]):not(.usa-list--unstyled) {
  list-style-type: circle;
}

.subsection_edit div.martor-preview ol ol,
.subsection_edit div.martor-preview ul ul {
  margin-top: 0;
  margin-bottom: 5px;
}

@media screen {
  /* Remove right padding from last nav item */
  .usa-nav__primary-item:not(.usa-nav__primary-item__right-padding):last-of-type
    > .usa-nav-link {
    padding-right: 0;
  }

  @media (max-width: calc(64em - 1px)) {
    .hide-on-tablet {
      display: none;
    }
  }

  header + main {
    border-top: 1px solid #dfe1e2;
  }

  /* Keep the menu around for longer */
  @media (min-width: 42.5em) {
    .usa-header--basic .usa-nav-container {
      align-items: center;
      justify-content: space-between;
      display: flex;
    }

    .usa-header--basic .usa-navbar {
      position: relative;
      width: 33%;
      border-bottom: none;
      display: inline-block;
      height: auto;
    }

    .usa-header--basic .usa-nav {
      float: right;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      padding: 0 0 0 0.5rem;
      width: 100%;
    }

    .usa-nav__primary {
      display: flex;
      width: auto;
      margin-top: 0;
    }

    .usa-nav__primary > .usa-nav__primary-item {
      font-size: 0.93rem;
      line-height: 0.9;
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      line-height: 0.9;
      padding: 1rem;
      color: var(--color--med-grey);
      display: block;
      font-weight: 700;
    }
  }

  /* Button group */
  .usa-button-group * {
    height: inherit;
  }

  .usa-button-group .usa-button {
    padding: 0.75rem 1.05rem;
  }

  .usa-button-group--segmented .usa-button {
    display: inline-block;
  }

  .usa-button-group--segmented .usa-button:focus {
    outline-offset: 0;
  }

  .usa-button-group.usa-button-group--segmented
    .usa-button-group__item:first-of-type
    button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
  }

  .usa-button-group.usa-button-group--segmented
    .usa-button-group__item:last-of-type
    button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0;
    margin-left: -1px;
    width: calc(100% + 2px);
  }

  .usa-button-group--print-buttons button[disabled] {
    text-decoration: line-through;
  }
}
