/* Add Calibri */

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibri-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibri-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibrib-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibrib-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibril-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibril-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Add Public Sans */

@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Black.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-LightItalic.woff2)
    format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-BoldItalic.woff2)
    format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-BlackItalic.woff2)
    format("woff2");
}

/* Add source sans pro */
@font-face {
  font-family: "Source Sans Pro Web";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url(/static/fonts/source-sans-pro/sourcesanspro-semibold-webfont.woff2)
    format("woff2");
}

/* Regular CSS */

body {
  background-color: transparent;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color--light-grey);
}

p {
  margin: 5px 0;
}

p + p {
  margin-top: 10px;
}

.nofo_view a:not(.usa-button),
.nofo_view table td a {
  color: var(--color--cdc-blue);
}

.nofo_view div[role="heading"] + p,
.nofo_view .section--content--intro p + p {
  margin-top: 5px;
}

.section--endnotes li {
  font-size: 9pt;
}

.nofo_view li {
  margin: 5px 0;
}

.nofo_view--title-bar table td,
.nofo_view table .section--content > td {
  background-color: transparent;
  border: none;
}

.nofo_view .section--content table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0 20px;
  text-align: left;
}

.nofo_view .section--content table.table--large {
  padding-top: 0px;
  width: 100%;
}

.nofo_view .section--content table.table--with-caption caption {
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}

.nofo_view .section--content table tr.light-blue-bg td,
.nofo_view .section--content table tr td.light-blue-bg,
.nofo_view .section--content table tr td.light-blue-bg ~ td {
  background-color: var(--color--light-table-blue);
}

.nofo_view .section--content table th,
.nofo_view .section--content table td,
.nofo_view .section--content table caption {
  font-size: 10pt;
}

.nofo_view .section--content table th,
.nofo_view .section--content table td {
  padding: 0.4rem 0.8rem;
}

.nofo_view .section--content table td {
  vertical-align: baseline;
}

.nofo_view .section--content table th.align-top,
.nofo_view .section--content table td.align-top {
  vertical-align: top;
}

.nofo_view .section--content table th.align-bottom,
.nofo_view .section--content table td.align-bottom {
  vertical-align: bottom;
}

.nofo_view .section--content table tr.table-row--empty {
  height: 28px;
}

.nofo_view .section--content table th.header-row-empty[colspan] {
  height: 31px;
  background-color: var(--color--table-blue);
}

.nofo_view .section--content table thead th,
.nofo_view .section--content table tbody tr:first-of-type th {
  background-clip: padding-box;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
}

.nofo_view .section--content table thead th p,
.nofo_view .section--content table tbody tr:first-of-type th p {
  font-weight: 400;
}

.nofo_view .section--content table thead th p:first-child,
.nofo_view .section--content table tbody tr:first-of-type th p:first-child {
  font-weight: 600;
}

.nofo_view .section--content table thead th > p,
.nofo_view .section--content table tbody tr:first-of-type th > p {
  margin-top: 0;
  margin-bottom: 8px;
}

.nofo_view .section--content table thead th > strong + p:first-of-type,
.nofo_view
  .section--content
  table
  tbody
  tr:first-of-type
  th
  > strong
  + p:first-of-type {
  margin-top: 8px;
}

.nofo_view .section--content table thead th > p:last-of-type,
.nofo_view .section--content table tbody tr:first-of-type th > p:last-of-type {
  margin-bottom: 0;
}

.nofo_view .section--content table thead th a,
.nofo_view .section--content table tbody tr:first-of-type th a {
  color: currentColor;
}

.nofo_view .section--content table td > *:first-child,
.nofo_view .section--content table td > *:first-child {
  margin-top: 0;
}

.nofo_view .section--content table td ul,
.nofo_view .section--content table td ol {
  padding-left: 20px;
  margin-left: 0;
}

.nofo_view .section--content table td ul li:first-of-type,
.nofo_view .section--content table td ol li:first-of-type {
  margin-top: 0;
}

body[class*="-iod"] table td img.usa-icon--check_box_outline_blank,
body[class*="-blue"] table td img.usa-icon--check_box_outline_blank,
body.cms-white table td img.usa-icon--check_box_outline_blank {
  background: var(--color--white);
  -webkit-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  -moz-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
}

.section--step-5-submit-your-application
  .section--content
  table
  tr
  td.usa-icon__td
  > div {
  display: flex;
}

.section--step-5-submit-your-application
  .section--content
  table
  tr
  td.usa-icon__td {
  vertical-align: top;
}

.section--step-5-submit-your-application
  .section--content
  table
  tr
  td.usa-icon__td
  span {
  line-height: 1.25;
}

/* Cinch up the lines on individual <a> tags in the application checklist */
.section--step-5-submit-your-application .section--content table td a {
  display: inline-block;
  line-height: 1.3;
}

.section--step-5-submit-your-application .section--content table td > br + a {
  margin-top: 5px;
}

.nofo_view ul,
.nofo_view ol {
  margin-bottom: 12px;
  margin-top: 4px;
  line-height: 1.5;
  padding-left: 30px;
  margin-left: 0;
}

.nofo_view ul:last-child,
.nofo_view ol:last-child {
  margin-bottom: 0;
}

.nofo_view ul ul:last-child,
.nofo_view ol ol:last-child {
  margin-bottom: 0.5rem;
}

img.usa-icon--check_box_outline_blank {
  height: 17px;
  width: 17px;
  margin-right: 5px;
}

.nofo_view td.usa-icon__td ul,
.nofo_view td.usa-icon__td ol {
  list-style: none;
}

.nofo_view ul.disc,
.nofo_view ol.disc,
.nofo_view td.usa-icon__td ul.disc,
.nofo_view td.usa-icon__td ol.disc {
  list-style: disc;
}

.nofo_view td.usa-icon__td p + ul,
.nofo_view td.usa-icon__td p + ol {
  padding-left: 25px;
}

.nofo_view .usa-icon__list-element {
  position: relative;
}

.nofo_view .usa-icon__list-element .usa-icon {
  position: absolute;
  left: -25px;
  height: 17px;
  width: 17px;
  min-width: 17px;
  top: 1px;
}

/* Headings */

.nofo_compare--document .nofo_view h2,
.nofo_compare--document .nofo_view h3,
.nofo_compare--document .nofo_view h4,
.nofo_compare--document .nofo_view h5,
.nofo_compare--document .nofo_view h6 {
  margin-top: 50px;
}

.nofo_view h2,
.nofo_view h3,
.nofo_view h4,
.nofo_view h5,
.nofo_view h6 {
  margin-bottom: 5px;
}

.nofo_view h2 {
  font-size: 23pt;
  font-weight: 700;
  color: var(--color--dark-blue);
  border-top: 2px dashed var(--color--dark-blue);
}

.nofo_view h3 {
  font-size: 20pt;
  font-weight: 700;
  line-height: 1.2;
}

.nofo_view h4 {
  font-size: 18pt;
  font-weight: 600;
  line-height: 1.4;
}

.nofo_view h5 {
  font-size: 16pt;
  font-weight: 600;
}

.nofo_view h6 {
  font-size: 14pt;
  font-weight: 500;
}

.composer_document_section--preview .nofo_view h2,
.composer_document_section--preview .nofo_view h3 {
  margin-top: 30px;
}

.composer_document_section--preview .nofo_view h4,
.composer_document_section--preview .nofo_view h5 {
  margin-top: 24px;
}

.composer_document_section--preview .nofo_view h6 {
  margin-top: 18px;
}

/* Headings which follow headings have less top spacing */

.nofo_view h3 + h4 {
  margin-top: 12px;
}

.nofo_view h4 + h5 {
  margin-top: 8px;
}

.nofo_view h5 + h6 {
  margin-top: 8px;
}

/* this functions as an h7 */
.nofo_view div[role="heading"] {
  margin: 10px 0 5px;
  font-size: 12.5pt;
  font-weight: 500;
}
