@charset "UTF-8";
/* Custom CSS */

:root {
  --color--text-default: #1b1b1b;
  --color--text-grey: #71767a;
  --color--variable-pink: #d900b9;
  --color--optional-purple: #efdfed;
  --color--usa-link: #005ea2;
  --color--usa-link-hover: #1a4480;
  --color--usa-link-rgb: 0, 94, 162;
  --color--usa-link-visited: #54278f;
  --color--usa-error-message: #b50909;
  --color--usa-error-bg-light: #f3e1e4;
  --color--usa-error-bg-dark: #8b0a03;
  --color--usa-error-bg-darker: #775540;
  --color--usa-emergency-light: #ffe7d4;
  --color--usa-emergency: #9c3d10;
  --color--usa-accent-warm: #fa9441;
  --color--usa-accent-warm-hover: #c05600;
}

html:not(.html--nofo_edit) {
  scroll-behavior: smooth;
}

/* Make sure footer sits on the bottom */
body,
body.subsection_edit,
body.subsection_create,
body.instructions_edit {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}
body > main {
  flex-grow: 1;
}

body > footer {
  margin-top: auto;
}

a,
a.nav-link {
  color: var(--color--usa-link);
}

a:visited {
  color: var(--color--usa-link-visited);
}

blockquote {
  margin: 0;
  padding: 10px 15px;
  border-left: 8px solid var(--color--light-grey);
  font-style: italic;
}

/* Util classes */

.inline-block {
  display: inline-block;
}

.small-caps {
  font-variant: small-caps;
}

.maxh-fit-content {
  max-height: fit-content;
}

.maxw-fit-content {
  max-width: fit-content;
}

.minw-fit-content {
  min-width: fit-content;
}

.bg-optional-purple {
  background-color: var(--color--optional-purple);
}

.bg-error-darker {
  background-color: var(--color--usa-error-bg-darker);
}

details > summary {
  width: fit-content;
}

details.explainer-box summary {
  border-radius: 2px;
}

details.explainer-box summary:hover {
  cursor: pointer;
}

details[open].explainer-box summary {
  border-radius: 2px 2px 0 0;
}

.explainer-box--content {
  border-radius: 0 2px 2px 2px;
}

/* General USWDS CSS */

.usa-table thead td,
.usa-table tfoot td,
.usa-table th {
  line-height: 1.5;
}

.usa-prose > table th:not(thead th),
.usa-table th:not(thead th) {
  font-weight: 400;
}

.usa-table--borderless th:not(thead th) {
  border-top: 1px solid var(--color--text-default);
}

footer .usa-footer__primary-link {
  text-decoration: none;
}

footer .usa-footer__primary-link:visited {
  color: var(--color--text-default);
}

.usa-combo-box__input,
.usa-input,
.usa-input-group,
.usa-select {
  height: 2.6rem;
}

.usa-button--compact {
  font-size: 0.87rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 0;
  min-width: 5rem;
}

.usa-button--cyan {
  background-color: #00819e;
}

.usa-button--cyan:hover {
  background-color: #006177;
}

.usa-button--cyan:active {
  background-color: #005466;
}

.usa-button--indigo {
  background-color: #676cc8;
}

.usa-button--indigo:hover {
  background-color: #4e5296;
}

.usa-button--indigo:active {
  background-color: #444782;
}

.usa-button--light {
  padding: 0.55rem 0.9rem 0.55rem 0.6rem;
  font-weight: 400;
  font-size: 90%;
  box-shadow: inset 0 0 0 0.75px var(--color--text-default);
}

.usa-fieldset + .usa-fieldset {
  margin-top: 1.5rem; /* Matches usa-label top-margin */
}

.usa-alert.usa-alert--heading-sm .usa-alert__heading {
  font-size: 1.06rem;
}

.usa-alert.usa-alert--heading-sm .usa-alert__body::before {
  height: 1.6rem;
  -webkit-mask-size: 1.6rem 1.6rem;
  mask-size: 1.6rem 1.6rem;
}

/* Icon Buttons */
.usa-button--icon--before::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
}

.usa-button--icon--after::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
}

.usa-button--icon--only {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usa-button--icon[aria-disabled]::before {
  filter: brightness(0) saturate(100%) invert(21%) sepia(0%) saturate(232%)
    hue-rotate(216deg) brightness(100%) contrast(80%);
}

.usa-button--icon:visited {
  color: var(--color--usa-link);
}

.usa-button--icon.usa-button--outline:hover::before {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(993%)
    hue-rotate(192deg) brightness(94%) contrast(94%);
}

.usa-button--icon.usa-button--outline:active::before {
  filter: brightness(0) saturate(100%) invert(15%) sepia(33%) saturate(1347%)
    hue-rotate(179deg) brightness(94%) contrast(96%);
}

.usa-button--icon.usa-button--file_upload::before {
  background-image: url("/static/img/usa-icons/file_upload.svg");
}

.usa-button--icon.usa-button--file_download::before {
  background-image: url("/static/img/usa-icons/file_download.svg");
}

.usa-button--icon.usa-button--delete::before {
  background-image: url("/static/img/usa-icons/delete.svg");
}

.usa-button--icon--before.usa-button--arrow_upward::before,
.usa-button--icon--after.usa-button--arrow_upward::after {
  background-image: url("/static/img/usa-icons/arrow_upward.svg");
}

.usa-button--icon--before.usa-button--content_copy::before,
.usa-button--icon--after.usa-button--content_copy::after {
  background-image: url("/static/img/usa-icons/content_copy.svg");
}

.usa-button--icon--before.usa-button--check::before,
.usa-button--icon--after.usa-button--check::after {
  background-image: url("/static/img/usa-icons/check.svg");
}

.usa-button--icon--after.usa-button--delete::after {
  background-image: url("/static/img/usa-icons/delete.svg");
}

.usa-button--icon--before.usa-button--add::before,
.usa-button--icon--after.usa-button--add::after {
  background-image: url("/static/img/usa-icons/add.svg");
  height: 11px;
  width: 18px;
}

.usa-button--icon--before.usa-button--remove::before,
.usa-button--icon--after.usa-button--remove::after {
  background-image: url("/static/img/usa-icons/remove.svg");
  height: 11px;
  width: 18px;
}

.usa-button--icon--before.usa-button--arrow_back::before {
  background-image: url("/static/img/usa-icons/arrow_back.svg");
  height: 12px;
  width: 18px;
}

.usa-button--icon--after.usa-button--arrow_forward::after {
  background-image: url("/static/img/usa-icons/arrow_forward.svg");
  height: 12px;
  width: 18px;
}

.usa-button--icon--before.usa-button--content_copy::before {
  background-image: url("/static/img/usa-icons/content_copy.svg");
}

.usa-button--icon--before.usa-button--blank_file::before {
  background-image: url("/static/img/blank_file.svg");
}

.usa-button--icon--before.usa-button--expand_more::before {
  background-image: url("/static/img/usa-icons/expand_more.svg");
}

.usa-button--icon--before.usa-button--expand_less::before {
  background-image: url("/static/img/usa-icons/expand_less.svg");
}

.usa-button--icon--usa-blue::before,
.usa-button--icon--usa-blue::after {
  filter: invert(25%) sepia(62%) saturate(1908%) hue-rotate(183deg)
    brightness(93%) contrast(104%);
}

.usa-button--icon--usa-blue--hover:hover::before,
.usa-button--icon--usa-blue--hover:hover::after {
  filter: invert(16%) sepia(92%) saturate(1493%) hue-rotate(201deg)
    brightness(98%) contrast(88%);
}

.usa-button--icon--usa-red::before,
.usa-button--icon--usa-red::after {
  filter: invert(14%) sepia(84%) saturate(3191%) hue-rotate(349deg)
    brightness(94%) contrast(113%);
}

.usa-button--icon--usa-text-base::before,
.usa-button--icon--usa-text-base::after {
  filter: invert(0%) sepia(68%) saturate(995%) hue-rotate(19deg)
    brightness(102%) contrast(79%);
}

.usa-button--icon--usa-text-grey::before,
.usa-button--icon--usa-text-grey::after {
  filter: brightness(0) saturate(100%) invert(49%) sepia(6%) saturate(369%)
    hue-rotate(164deg) brightness(92%) contrast(86%);
}

.usa-button--icon--usa-emergency::before,
.usa-button--icon--usa-emergency::after {
  filter: brightness(0) saturate(100%) invert(20%) sepia(86%) saturate(1996%)
    hue-rotate(8deg) brightness(93%) contrast(87%);
}

.usa-button--icon--usa-white::before,
.usa-button--icon--usa-white::after {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(331deg)
    brightness(102%) contrast(101%);
}

.usa-button--check::after,
.usa-button--icon--usa-green::before,
.usa-button--icon--usa-green::after {
  filter: invert(36%) sepia(93%) saturate(2132%) hue-rotate(58deg)
    brightness(92%) contrast(101%);
}

/* expand width of usa-prose/usa-content */
.usa-content ol:not(.usa-accordion):not(.usa-accordion--bordered),
.usa-content p,
.usa-content ul:not(.usa-accordion):not(.usa-accordion--bordered) {
  max-width: 80ex;
}
.usa-list li,
.usa-prose > ol li,
.usa-prose > ul li {
  max-width: 80ex;
}

.usa-prose > p,
.usa-prose > form {
  max-width: 80ex;
}

.usa-collection__item,
.usa-prose .usa-collection__item,
.usa-prose table.table--small {
  max-width: 80ex;
}

@media (min-width: 64em) {
  /* Make sure header is evenly spaced */
  .usa-logo {
    margin-top: 1rem;
  }

  /* Boilerplate Compare should be on 1 line */
  .usa-header--basic .usa-navbar {
    width: 42%;
  }
}

.usa-footer__nav--reverse ul {
  flex-direction: row-reverse;
}

a.back-to-top::before {
  height: 12px;
  width: 18px;
  margin-right: 5px;
}

.usa-footer__nav a.back-to-top {
  color: var(--color--text-default);
}

.usa-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usa-logo .usa-tag--link {
  display: inline-flex;
  align-items: center;
  color: white;
}

.usa-logo .usa-tag--link:hover,
.nofo_edit .usa-tag--link:hover .bg-group {
  text-decoration: underline;
  opacity: 0.9;
}

.usa-logo__text {
  display: inline-block;
}

.usa-logo__text a {
  color: var(--color--text-default);
}

details > summary > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.usa-list--no-max-width li {
  max-width: none;
}

.usa-nav__primary .usa-nav__primary-item a[aria-current] {
  text-decoration: underline;
}

.back-link {
  position: relative;
  z-index: 25;
}

.back-link a:not(:hover) {
  text-decoration: none;
}

.usa-tag.bg-group--not-uppercase {
  text-transform: none;
}

label.usa-label {
  margin-bottom: 0.25rem;
}

.outline-box {
  border: 2px solid #c9c9c9;
  border-radius: 0.25rem;
  padding: 8px 12px;
  max-width: 450px;
}

.outline-box p:not(:last-of-type) {
  margin-bottom: 4px;
}

.outline-box .outline-box--heading {
  font-size: 1rem;
}
.outline-box .outline-box--content {
  font-size: 1.15rem;
  margin-bottom: 0;
}

/* Link check page */

.pre--code-box {
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 15px 5px #a9aeb1;
  border-radius: 8px;
  border: 2px solid var(--color--text-grey);
  padding: 20px;
  overflow-y: auto;
}

/* List page */

.nofo_index .nofo_index--filter a {
  text-decoration: none;
}

.nofo_index .nofo_index--filter a:hover {
  text-decoration: underline;
}

.nofo_index .nofo_index--filter a[aria-current] {
  font-weight: 700;
  text-decoration: underline;
}

.nofo_index table th:first-of-type {
  width: 25%;
}

.nofo_index table .nofo-group-col {
  width: 1%;
}

.nofo_index table tr.ready-for-qa th,
.nofo_index table tr.ready-for-qa td {
  background: #f2e4d4;
}

.nofo_index .usa-prose > table td,
.nofo_index .usa-prose > table th,
.nofo_index .usa-table td,
.nofo_index .usa-table th {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}

.nofo_index table.usa-table thead th:not(:last-of-type) {
  padding: 0.5rem 1.5rem 0.5rem 0.6rem;
}

.nofo_index table.usa-table thead th[data-sortable] {
  padding-right: 2.5rem;
}

.nofo_index .usa-table th:last-of-type {
  padding-right: 0;
}

.nofo_index table.usa-table thead th {
  color: var(--color--text-default);
  background-color: #ffffff;
  font-weight: 700;
  position: relative;
  border-radius: 0;
}

.nofo_index table.usa-table thead th[data-sortable]:hover {
  background: rgba(180, 180, 180, 0.2);
  cursor: pointer;
}

.nofo_index table.usa-table thead th[data-sortable]:focus {
  z-index: 1;
}

/* Import page */

.nofo_import .form-import--loading {
  position: relative;
}

.nofo_import .loading-horse--container {
  position: absolute;
  top: 56px;
  height: 84px;
  width: 100%;
  max-width: 30rem;
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: progress;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.nofo_import .usa-form-group--error + .loading-horse--container {
  top: 78px;
  height: 86px;
  margin-left: 1.25rem;
}

@media (min-width: 64em) {
  .nofo_import .usa-form-group--error + .loading-horse--container {
    margin-left: 0;
  }
}

.nofo_import .loading-horse--container.visible {
  opacity: 1;
  visibility: visible;
}

.nofo_import .loading-horse {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  padding: 8px 0;
}

.nofo_import .submit-button {
  width: 132px;
}

.nofo_import.nofo_import--compare .submit-button {
  width: 165px;
}

.nofo_import .submit-button.submit-button--loading {
  text-align: left;
}

/* Edit page */

/* header widget for NOFO */

.nofo_edit a.usa-tag--link,
.compare_edit a.usa-tag--link {
  text-decoration: none;
}

.nofo_index--header,
.nofo_edit--header,
.section_edit--header,
.subsection_edit--header {
  position: relative;
}

.nofo_edit--header a,
.section_edit--header a,
.subsection_edit--header a {
  color: var(--color--usa-link);
}

.nofo_edit--header .nofo_edit--header--h1 a:not(:hover):not(:focus) {
  color: var(--color--text-default);
}

.nofo_edit--header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 58px;
}

.nofo_edit--header--sticky {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 20;
}

.nofo_edit--header .nofo_edit--header--h1 {
  flex: 1 1 auto;
  min-width: 0;
}

.nofo_edit--header .nofo_edit--header--h1 h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.95rem;
  line-height: normal;
}

.nofo_edit--header .nofo_edit--header--h1--smaller h1 {
  font-size: 1.65rem;
}

.nofo_edit--header .nofo_edit--header--view,
.nofo_edit--header .nofo_edit--header--back-to-top {
  flex: 0 0 auto;
  white-space: nowrap;
}

.nofo_edit--group-tag {
  position: absolute;
  margin-top: 21px;
  z-index: 16;
}

@media all and (max-width: 29.99em) {
  .nofo_edit--group-tag {
    display: none;
  }
}

.nofo_edit--group-tag .usa-tag {
  padding: 0.3rem 0.5rem;
}

.nofo_edit--print-buttons {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  position: sticky;
  top: 56px;
  background: white;
  z-index: 15;
}

.nofo_edit--print-buttons .usa-button-group {
  justify-content: flex-end;
}

.usa-button-group--segmented
  .usa-button-group__item:where(:not(:first-child):not(:last-child))
  .usa-button {
  border-radius: 0;
  margin-right: -1px;
  margin-left: -1px;
}

.nofo_index--header h1,
.section_edit--header h1,
.subsection_edit--header h1 {
  width: 65%;
}

.nofo_index--header--view,
.section_edit--header--view,
.subsection_edit--header--view {
  position: absolute;
  right: 0;
  top: 0px;

  display: flex;
  align-items: baseline;
  gap: 20px;
}

.nofo_index--header--view {
  top: 10px;
}

.nofo_edit--audit-widget {
  display: flex;
  justify-content: space-between;
}

.nofo--archived .nofo_edit--audit-widget {
  display: none;
}

.nofo_edit .usa-summary-box__text p:last-of-type {
  margin-bottom: 0;
}

/* Tabs on NOFO edit page */
.nofo_edit [role="tab"],
.nofo_edit [role="tab"]:focus,
.nofo_edit [role="tab"]:hover {
  display: inline-block;
  position: relative;
  top: 2px;
  padding: 3px 3px 4px;
  border: 1px solid hsl(219deg 1% 72%);
  border-bottom: 2px solid transparent;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.nofo_edit [role="tab"][aria-selected="true"] {
  border-width: 2px;
}

.nofo_edit .accent-warm-dark[role="tab"][aria-selected="true"],
.composer_document_section .accent-warm-dark {
  border-color: var(--color--usa-emergency);
  background: var(--color--usa-emergency);
  color: white;
}

.nofo_edit .secondary-darker[role="tab"][aria-selected="true"] {
  border-color: var(--color--usa-error-bg-dark);
  background: var(--color--usa-error-bg-dark);
  color: white;
}

.nofo_edit [role="tab"][aria-selected="false"] {
  border-bottom: transparent;
}

.nofo_edit [role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

.nofo_edit [role="tabpanel"] {
  padding: 5px;
  border: 2px solid hsl(219deg 1% 72%);
  border-radius: 0 4px 4px;
}

.nofo_edit .accent-warm-dark[role="tabpanel"] {
  border: 2px solid var(--color--usa-emergency);
}

.nofo_edit .secondary-darker[role="tabpanel"] {
  border: 2px solid var(--color--usa-error-bg-dark);
}

.nofo_edit
  [role="tabpanel"]
  .usa-site-alert--emergency
  .usa-alert
  .usa-alert__body {
  color: var(--color--text-default);
  background: white;
}

.nofo_edit [role="tabpanel"] .usa-alert {
  background: white;
  border-left: none;
}

.nofo_edit [role="tabpanel"].is-hidden {
  display: none;
}

.nofo_edit [role="tabpanel"] .usa-alert__body details > summary > span {
  text-decoration: underline;
}

.nofo_edit [role="tabpanel"] .usa-alert__body li {
  margin-bottom: 0.75em;
}

.nofo_edit .usa-alert__body .usa-button--content_copy {
  box-shadow: inset 0 0 0 2px var(--color--usa-emergency);
  color: var(--color--usa-emergency);
  padding: 0.75rem 1rem 0.75rem 0.9rem;
  right: 0;
  top: 2rem;
  margin-right: 4rem !important; /* match the padding on usa-alert__body */
  margin-bottom: 0.05rem !important;
}

@media all and (min-width: 30em) {
  .nofo_edit .usa-alert__body .usa-button--content_copy {
    position: absolute;
  }
}

.nofo_edit caption,
.section_edit caption {
  position: sticky;
  top: -1px;
  margin: 0;
  background: white;
  z-index: 10;
}

.nofo_edit .menu-button-links {
  position: relative;
  display: inline-block;
}

.nofo_edit .menu-button-links .menu-button-links__button {
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 0;
  cursor: pointer;
  background-image: url("/static/img/usa-icons/expand_more.svg"),
    linear-gradient(transparent, transparent);
}

.nofo_edit .menu-button-links .menu-button-links__button[aria-expanded="true"] {
  background-image: url("/static/img/usa-icons/expand_less.svg"),
    linear-gradient(transparent, transparent);
}

.nofo_edit .menu-button-links .menu-button-links__list {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  z-index: 25;
  min-width: 200px;

  padding: 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: white;
}

.nofo_edit .menu-button-links .menu-button-links__list .usa-link--destructive,
.nofo_edit
  .menu-button-links
  .menu-button-links__list
  .usa-link--destructive:hover {
  color: var(--color--usa-error-message);
}

/* Alert styles */
.usa-alert--fixed {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 99999;
  margin: 0 !important;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

#nofo-editor-success-alert.fade-out,
#nofo-editor-error-alert.fade-out {
  opacity: 0;
}

#nofo-editor-success-alert .usa-alert__body,
#nofo-editor-error-alert .usa-alert__body {
  max-width: none;
}

.usa-alert__body {
  position: relative;
}

.usa-alert__heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.usa-alert__text {
  margin: 0;
}

.usa-alert code {
  font-size: 0.85em;
  padding: 3px 5px;
  margin: 0 2px;
  border: 1px solid grey;
  border-radius: 4px;
}

/* Summary box should be below alerts */
.usa-summary-box {
  position: relative;
  z-index: 1;
}

.usa-alert__close {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  opacity: 0.7;
  color: inherit;
  border-radius: 4px;
}

.usa-alert__close:hover,
.usa-alert__close:focus {
  opacity: 1;
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.usa-alert__close:focus:not(:focus-visible) {
  outline: none;
}

.nofo_edit caption {
  top: 85px;
}

.nofo_edit caption div,
.section_edit caption div {
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  gap: 12px;
}

.nofo_edit caption div > *,
.section_edit caption div > * {
  margin-top: 0;
  flex: 0 0 auto;
  min-width: 0;
}

.nofo_edit caption div > *:not(h2),
.section_edit caption div > *:not(h2) {
  font-weight: 400;
}

.nofo_edit caption div > .section--copy-button {
  flex-grow: 1;
}

.nofo_edit .usa-button--content_copy {
  padding: 5px;
  border-radius: 3px;
}

.nofo_edit .subsection--copy-button .usa-button--content_copy {
  padding: 4px;
}

.nofo_edit .usa-button--content_copy:hover {
  background: rgba(180, 180, 180, 0.2);
}

.nofo_edit .usa-button--content_copy::after {
  width: 18px;
  height: 17px;
}

.nofo_edit .usa-alert__body .usa-button--content_copy::before {
  width: 13px;
  height: 12px;
}

.nofo_edit .subsection--copy-button .usa-button--content_copy::after {
  width: 15px;
  height: 15px;
}

.nofo_edit.nofo_status--cancelled .add-or-remove-subsections,
.nofo_edit.nofo--archived .add-or-remove-subsections {
  display: none;
}

.nofo_edit caption div a {
  text-decoration: none;
}

.nofo_edit caption div a:hover {
  text-decoration: underline;
}

.back-to-top--container {
  display: inline-block;
}

.back-to-top--container a {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1000;

  text-decoration: none;
  padding: 10px 14px 10px 10px;
  background-color: var(--color--usa-link);
  border-radius: 0.25rem;

  color: var(--color--white);
  outline-offset: 3px;

  /* start hidden */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  /* smooth fade */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s;
  transform: translateY(25px);
}

.back-to-top--container a:visited {
  color: var(--color--white);
}

.back-to-top--container a:hover {
  text-decoration: underline;
}

.back-to-top--container a.is-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease, visibility 0s;

  transform: translateY(0);
}

.nofo_edit .page-break--hr--container {
  position: relative;
}

.nofo_edit .page-break--hr--container hr.page-break--hr {
  position: relative;
  margin: 18px 0;
  border-top: none;
  border-bottom: 2px dashed #5c5c5c;
}

.nofo_edit .page-break--hr--container hr.column-break-before.page-break--hr,
.nofo_edit .page-break--hr--container hr.column-break-after.page-break--hr {
  border-bottom: 1px dotted #5c5c5c;
}

.section_edit .nofo-edit-table--subsection--body h1,
.nofo_edit .nofo-edit-table--subsection--body h1 {
  font-size: 2.202rem;
}

.section_edit .nofo-edit-table--subsection--body h2,
.nofo_edit .nofo-edit-table--subsection--body h2 {
  font-size: 2.002rem;
}

.section_edit .nofo-edit-table--subsection--body h3,
.nofo_edit .nofo-edit-table--subsection--body h3 {
  font-size: 1.802rem;
}

.section_edit .nofo-edit-table--subsection--body h4,
.nofo_edit .nofo-edit-table--subsection--body h4 {
  font-size: 1.602rem;
}

.section_edit .nofo-edit-table--subsection--body h5,
.nofo_edit .nofo-edit-table--subsection--body h5 {
  font-size: 1.424rem;
}

.section_edit .nofo-edit-table--subsection--body h6,
.nofo_edit .nofo-edit-table--subsection--body h6 {
  font-size: 1.225rem;
}

.section_edit .nofo-edit-table--subsection--body div[role="heading"],
.nofo_edit .nofo-edit-table--subsection--body div[role="heading"] {
  font-size: 1.105rem;
  font-weight: 700;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
}

.section_edit .nofo-edit-table--subsection--body,
.nofo_edit .nofo-edit-table--subsection--body {
  word-break: break-word;
}

.nofo-edit-table--subsection--body table thead th p,
.nofo-edit-table--subsection--body table tbody tr:first-of-type th p {
  font-weight: 400;
}

.nofo-edit-table--subsection--body table > thead > tr > th[class]::after,
.subsection_edit div.martor-preview table > thead > tr > th[class]::after {
  content: "." attr(class);
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  font-family: monospace;
  color: var(--color--med-grey);
}

/* broken link error + tooltip */
.nofo_edit .nofo-edit-table--subsection--body a.nofo_edit--broken-link,
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  color: var(--color--usa-emergency);
  background-color: var(--color--usa-emergency-light);
}

.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body,
.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body--top {
  background-color: var(--color--usa-emergency);
}

.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body--bottom:after {
  border-bottom-color: var(--color--usa-emergency);
}

/* heading  error + tooltip */
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  color: var(--color--usa-error-message);
  background-color: var(--color--usa-error-bg-light);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body,
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body--top {
  background-color: var(--color--usa-error-bg-dark);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body--bottom:after {
  border-bottom-color: var(--color--usa-error-bg-dark);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  cursor: default;
}

.section_edit .nofo-edit-table--subsection--body pre,
.nofo_edit .nofo-edit-table--subsection--body pre {
  white-space: pre-wrap;
}

.nofo_edit main table.table--section {
  border-collapse: initial;
  border-spacing: 0 8px;
}

.nofo_edit main table.table--section th,
.nofo_edit main table.table--section td {
  padding: calc(0.75rem - 5px) 1rem 0.75rem 1rem;
  border-top: none;
}

.nofo_edit main table.table--section .nofo-edit-table--subsection--name,
.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level,
.nofo_edit main table.table--section .nofo-edit-table--subsection--copy-button,
.nofo_edit main table.table--section .nofo-edit-table--subsection--callout-box,
.nofo_edit main table.table--section .nofo-edit-table--subsection--manage {
  vertical-align: top;
}

.nofo_edit main table.table--section .nofo-edit-table--subsection--copy-button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level,
.nofo_edit main table.table--section .nofo-edit-table--subsection--callout-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level {
  color: var(--color--text-grey);
}

.nofo_edit main table.table--section .floating {
  display: inline-block;
  margin: 1em 0;
  position: sticky;
  top: 182px;
}

.nofo_edit main table.usa-table > tbody > tr:first-of-type > th {
  width: 15%;
}

.nofo_edit table.usa-table th.nofo-edit-table--subsection--name {
  scroll-margin-top: 158px;
}

.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before,
.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before
  ~ td {
  border-top: 2px dashed #5c5c5c;
}

.nofo_edit .page-break--hr--container .page-break--hr--text,
.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before::before {
  content: "[ ↓ page-break ↓ ]";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  color: #5c5c5c;
  font-family: monospace;
  font-size: 12px;
}

/* Target only safari */
_::-webkit-full-page-media,
_:future,
:root .nofo_edit table th.nofo-edit-table--subsection--name.page-break-before {
  position: relative;
}

_::-webkit-full-page-media,
_:future,
:root
  .nofo_edit
  table
  th.nofo-edit-table--subsection--name.page-break-before::before {
  right: -270%;
  left: unset;
  transform: none;
}

/* Safari fix for add button inside of section detail view - ensure proper table cell context */
_::-webkit-full-page-media,
_:future,
:root
  .section_edit
  table.table--section
  td.nofo-edit-table--subsection--manage {
  position: relative;
}

_::-webkit-full-page-media,
_:future,
:root
  .section_edit
  table.table--section
  td.nofo-edit-table--subsection--manage
  .usa-button--add {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  transform-origin: center;
  left: calc(-1 * var(--safari-tr-width) / 2 + 100%);
  right: unset;
}

.nofo_edit table th.nofo-edit-table--subsection--name.column-break-before,
.nofo_edit table th.nofo-edit-table--subsection--name.column-break-before ~ td {
  border-top: 1px dotted #5c5c5c;
}

.nofo_edit table td.nofo-edit-table--subsection--callout-box {
  padding: 0;
}

.nofo_edit
  main
  table.usa-table
  > tbody:not(.no-edit-link)
  > tr:first-of-type
  > td:last-of-type {
  width: 5%;
  text-align: right;
}

.nofo_edit.nofo_status--published:not(.nofo--modifications)
  table.table--hide-edit-if-published
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo_status--published:not(.nofo--modifications)
  table.table--hide-edit-if-published
  tbody
  tr
  td:last-of-type,
.nofo_edit.nofo_status--cancelled
  table.table--hide-edit-if-archived
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo_status--cancelled
  table.table--hide-edit-if-archived
  tbody
  tr
  td:last-of-type,
.nofo_edit.nofo--archived
  table.table--hide-edit-if-archived
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo--archived
  table.table--hide-edit-if-archived
  tbody
  tr
  td:last-of-type {
  display: none;
}

.nofo_edit .nofo-modifications-message,
.nofo_edit .nofo-modifications-message a,
.nofo_edit .nofo-modifications-message a:visited {
  font-style: italic;
  color: #71767a;
}

/* Section edit page */

.section_edit .edit_section--other_sections {
  display: flex;
  justify-content: space-between;
}

main .back-link a,
.nofo_edit caption div a:visited,
.section_edit .edit_section--other_sections a,
.section_edit .edit_section--other_sections a:visited,
.composer_document_section .edit_section--other_sections a,
.composer_document_section .edit_section--other_sections a:visited {
  color: var(--color--usa-link);
}

main .back-link a::before,
.section_edit .edit_section--other_sections a.usa-button--arrow_back::before,
.section_edit .edit_section--other_sections a.usa-button--arrow_forward::after {
  height: 12px;
  width: 18px;
  margin-right: 3px;
}

.section_edit .edit_section--other_sections a.usa-button--arrow_forward::after {
  margin-left: 3px;
  margin-right: 0;
}

.nofo_edit .table--section tr,
.section_edit .table--section tr {
  position: relative;
}

.section_edit main table.table--section th,
.section_edit main table.table--section td {
  padding: calc(1.2rem - 5px) 1rem 1.2rem 1rem;
}

.section_edit .table--section td:not(:last-of-type) a {
  color: var(--color--text-default);
}

/* NOFO section_details add button */

.section_edit .usa-button--add {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  background-color: white;
  box-shadow: inset 0 0 0 0.75px var(--color--text-default);
}

.section_edit .usa-button--add:hover {
  box-shadow: inset 0 0 0 1px var(--color--usa-link-hover); /* match text colour */
  background-color: white;
}

.section_edit .usa-button--add::before {
  height: 9px;
  width: 16px;
}

/* Nofo edit properties pages */

[class^="edit__"] form table h2 {
  margin: 0;
}

[class^="edit__"] form table tr > th:first-of-type,
[class^="edit__"] form table tr > td:first-of-type {
  padding-left: 0.5rem;
  padding-right: 0;
}

[class^="edit__"] form table tr > td:first-of-type .usa-checkbox__label {
  margin-top: 0;
}

[class^="edit__"] form table tr.subsection--selected td {
  background-color: #f2e4d4;
}

/* Subsection edit page */

.subsection_edit blockquote {
  font-weight: 700;
  color: #71767a;
}

.subsection_edit .hint--subsection-id {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 6px;
  max-width: 30rem;
  background-color: #e7f6f8;
  border-radius: 0.25rem;
  border: 1px #99deea solid;
  padding: 4px 6px;
}

.subsection_edit .hint--subsection-id button {
  font-size: 90%;
  padding: 8px 12px;
  margin-right: 0;
}

.subsection_edit .hint--subsection-id {
  color: var(--color--text-grey);
}

.subsection_edit .hint--subsection-id:hover {
  color: var(--color--text-default);
}

.usa-textarea#title {
  height: 5.5em;
}

.subsection_edit .usa-legend + .usa-hint {
  margin-bottom: 1rem;
}

/* Styling the martor editing window */

.main-martor--container {
  border: 2px solid black;
}

.main-martor--container--error {
  border-color: var(--color--usa-error-message);
}

.main-martor--container .main-martor .nav-tabs {
  border-bottom: 2px solid black;
}

.main-martor--container .main-martor {
  margin-top: 0;
  margin-bottom: 0;
}

.main-martor--container .main-martor .icon.expand-editor {
  display: none;
}

.main-martor--container .main-martor .resizable .resizable-b {
  width: 100%;
  cursor: row-resize;
}

.main-martor--container .main-martor .nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.main-martor--container .main-martor .btn-group > .btn {
  border: 0;
}

.main-martor--container .main-martor .btn-group-sm > .btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0;
}

.main-martor--container .main-martor .nav-tabs {
  background-color: #f8f9fa;
}

.main-martor--container .main-martor .nav-tabs .nav-link.active {
  background-color: var(--color--usa-link);
  color: white;
  border-bottom: 0;
}

.main-martor--container .main-martor .nav-tabs .nav-link.active:hover {
  background-color: var(--color--usa-link-hover);
  color: white;
  border-bottom: 0;
}

.main-martor--container .main-martor .nav-tabs .nav-link:not(.active) {
  border-bottom: 0;
  color: var(--color--usa-link);
  background-color: white;
}

.main-martor--container .main-martor .nav-tabs .nav-link:not(.active):hover {
  color: var(--color--usa-link-hover);
  border-bottom: 0;
  background-color: white;
}

.main-martor--container
  .main-martor
  .nav-tabs
  .nav-link[aria-controls^="nav-preview"] {
  border-right: 2px solid var(--color--usa-link);
}
.main-martor--container
  .main-martor
  .nav-tabs
  .nav-link[aria-controls^="nav-preview"]:hover {
  border-right: 2px solid var(--color--usa-link-hover);
}

.main-martor--container
  .main-martor
  .nav-tabs
  .nav-link:not(.active):hover
  span {
  text-decoration: underline;
}

.main-martor--container .main-martor .nav-tabs .btn-toolbar .btn:hover {
  background-color: var(--color--light-grey);
}

.main-martor--container .main-martor .nav-tabs .btn-toolbar .btn.markdown-help {
  background-color: var(--color--usa-accent-warm);
}

.main-martor--container
  .main-martor
  .nav-tabs
  .btn-toolbar
  .btn.markdown-help:hover {
  background-color: var(--color--usa-accent-warm-hover);
  color: var(--color--white);
}

.main-martor--container
  .modal
  .modal-dialog
  .modal-content
  .text-center.small.credit {
  display: none;
}

.main-martor--container .martor-field {
  height: 320px;
}

.main-martor--container .ace_editor {
  font-size: 12.5px;
}

.main-martor--container div.martor-preview {
  font-size: 15px;
}

.main-martor--container div.martor-preview div[role="heading"] {
  color: #777;
  font-size: 12.5px;
  font-weight: 600;
  font-variant: small-caps;
}

.main-martor--container div.martor-preview table thead th > p,
.main-martor--container div.martor-preview table tbody tr:first-of-type th p {
  font-weight: 400;
}

.main-martor--container div.martor-preview table thead th p:first-child,
.main-martor--container
  div.martor-preview
  table
  tbody
  tr:first-of-type
  th
  p:first-child {
  font-weight: 600;
}

/* Content guide index page */
.compare_index .table--section thead th:last-of-type,
.compare_index .table--section tbody td:last-of-type {
  text-align: center;
}

.compare_index .usa-button--delete::after,
.composer_index .usa-button--delete::after {
  width: 22px;
  height: 18px;
}

/* Content guide edit page */
.nofo_compare_edit--header .nofo_compare_edit--header--h1 h1 {
  white-space: normal;
  font-size: 1.95rem;
  line-height: normal;
}

.compare_edit .nofo_edit--header--subheading {
  margin-bottom: -10px;
  z-index: 30;
  position: relative;
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.compare_edit .usa-accordion__compare-heading {
  position: relative;
  display: flex;
  align-items: center;
}

.compare_edit .usa-accordion__compare-checkbox {
  position: absolute;
  right: 3rem;
  z-index: 1;
  background-color: transparent;
  flex-direction: row-reverse;
}

.compare_edit .usa-accordion__compare-checkbox-label {
  margin: 0;
  background-color: transparent;
}

.flipped-label .usa-checkbox__label::before {
  left: unset;
  right: 1rem;
}

.flipped-label .usa-checkbox__label {
  padding-right: 3rem;
  padding-left: 0;
  font-weight: 700;
}

.compare_edit main table.table--section .nofo-edit-table--subsection--manage {
  position: relative;
}

.compare_edit
  main
  table.table--section
  .nofo-edit-table--subsection--manage
  .usa-checkbox
  .usa-checkbox__label {
  position: absolute;
  top: 0;
  right: 1.8rem;
}

.compare_edit .compare-all-sections-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 3rem;
}

.subsection_edit--diff-subsection
  .subsection_edit--comparison-table
  .row-comparison--no
  > *:not(:nth-of-type(2)) {
  color: var(--color--text-grey);
  font-style: italic;
}

.subsection_edit .usa-button--add::before {
  height: 11px;
  width: 18px;
}

.subsection_edit .diff-strings--button-container {
  max-width: 30em;
  text-align: center;
}

/* NOFO external links page */

.nofo_links .usa-table td,
.nofo_links .usa-table th {
  padding: 0.5rem 0.75rem;
  vertical-align: baseline;
}

.nofo_links .usa-table .nofo_links--location span.link-wrapper {
  display: inline-block;
  padding-left: 20px;
}

.nofo_links .usa-table .nofo_links--location span.link-wrapper::before {
  content: "—";
  margin-left: -20px;
}

details.usa-accordion .usa-accordion__button {
  box-sizing: border-box;
}

details.usa-accordion .usa-accordion--heading {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

details.usa-accordion .usa-accordion__content ul li:not(:last-of-type) {
  margin-bottom: 16px;
}

.subsection_edit fieldset legend:not(.legend--bootstrap) {
  margin-bottom: -0.5rem;
}

.table--callout-box {
  display: none;
}

.usa-footer__not-actually-a-link {
  color: var(--color--med-grey);
  font-weight: 400;
}

.usa-footer__not-actually-a-link:hover {
  text-decoration: none;
}

.usa-footer__primary-link.usa-link--external::after {
  margin-left: 6px;
}

.usa-error-message {
  font-size: 1rem;
}

/* NOFO Compare page */

.nofo_compare caption h2 {
  margin-bottom: 0;
}

.nofo_compare .usa-table caption {
  margin-bottom: 0.5rem;
}

.nofo_compare .usa-table .diff {
  word-break: break-word;
}

.nofo_compare--document .nofo_view--wrapper {
  border: 2px solid var(--color--light-grey);
  border-radius: 4px;
  position: relative;
}

.nofo_compare--document .nofo_view--wrapper > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.nofo_compare--document .nofo_view {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
  border-top: 1px solid var(--color--light-grey);
}

.nofo_compare--document .nofo_view h2,
.nofo_compare--document .nofo_view h3,
.nofo_compare--document .nofo_view h4,
.nofo_compare--document .nofo_view h5,
.nofo_compare--document .nofo_view h6 {
  scroll-margin-top: 195px;
}

.nofo_compare--document .nofo_view,
.nofo_compare--document .nofo_view--title-bar {
  padding-left: 0;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
  align-items: stretch; /* ensures all children match the tallest */
}

.nofo_compare--document .nofo_view--title-bar {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: sticky;
  top: 109px;
  z-index: 1;
  border-bottom: 1px solid var(--color--light-grey);
  border-top: 1px solid var(--color--light-grey);
  background-color: white;
}

.nofo_compare--document
  .nofo_view--title-bar
  .nofo_view--title--table-container,
.nofo_compare--document .nofo_view .nofo_view--table-container {
  flex: 1 1 80%; /* Start with 80% but can grow */
  min-width: 0; /* Prevent overflow issues with long content */
}

.nofo_compare--document .nofo_view .nofo_view--table-container--no-comparison {
  flex: 1 1 43%;
}

.nofo_compare--document .nofo_view .nofo_view--table-container--empty {
  flex: 1 1 37%;
}

.nofo_compare--document
  .nofo_view--title-bar
  .nofo_view--title--table-container
  table,
.nofo_compare--document .nofo_view .nofo_view--table-container > table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 2rem 0; /* creates the visual gap between columns */
  min-width: 0;
}

.nofo_compare--document
  .nofo_view
  .nofo_view--table-container
  > table
  .section--content
  > td {
  border-left: 1px solid var(--color--light-grey);
  border-right: 1px solid var(--color--light-grey);
  background-color: #ffffff;
  padding: 0px 2rem;
  vertical-align: baseline;
}

.nofo_compare--document
  .nofo_view
  .nofo_view--table-container
  > table:first-of-type
  .section--content:first-of-type
  > td {
  padding-top: 1rem;
  border-top: 1px solid var(--color--light-grey);
}

.nofo_compare--document
  .nofo_view
  .nofo_view--table-container
  > table:last-of-type
  .section--content:last-of-type
  > td {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color--light-grey);
}

.nofo_compare--document .nofo_view--title-bar td .usa-tooltip {
  width: 100%;
}

.nofo_compare--document .nofo_view--title-bar h2 {
  font-size: 1.2rem;
  /* prevent the filename from wrapping to the next line, adds "..." at the end */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nofo_compare--document .nofo_view--title-bar .nofo_view--title-changes,
.nofo_compare--document .nofo_view .nofo_view--changes {
  flex: 0 1 20%; /* 20% width, can shrink and grow but fixed max width of 180px */
  max-width: 180px;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.nofo_compare--document .nofo_view .nofo_view--changes--list {
  position: sticky;
  top: 190px;
  height: calc(100vh - 190px);
  display: flex;
  flex-direction: column;
}

.nofo_compare--document .nofo_view .nofo_view--changes--list ol {
  overflow-y: auto; /* scroll only the list */
  flex: 1; /* take up all available space in the container */
  padding-left: 0;
  margin-top: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.nofo_compare--document .nofo_view .nofo_view--changes--step-name {
  position: sticky;
  top: -0.9rem;
  background-color: #f5f5f5;

  text-transform: uppercase;
  line-height: 1.3;
  color: var(--color--text-grey);
  border-top: var(--color--light-grey) 1.5px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.nofo_compare--document .nofo_view .nofo_view--table-container--empty {
  background: #d9d9d9;
  text-align: center;
  margin-right: 2rem;
}

.compare_upload {
  position: sticky;
  top: 190px;
}

.nofo_compare--document
  .nofo_view--title-bar
  .nofo_view--title--table-container,
.nofo_compare--document .nofo_view--title-bar .nofo_view--title-changes {
  padding: 0.5rem 0;
}

.nofo_compare.nofo_compare--document.nofo_compare--document--comparison
  .section--content
  > *:not(.section--content--right-col) {
  width: auto;
}

.nofo_compare .nofo_view--menu-bar {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
  z-index: 1;
  display: flex;
  border-bottom: 1px solid var(--color--light-grey);
  background-color: white;
}

.nofo_view--menu-bar--file-download-button--container {
  align-self: center;
  margin-left: auto;
}

.nofo_compare .nofo_view--menu-bar--button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  color: var(--color--text-grey);
  border-radius: 4px;
  background-color: white;
  width: 80px;
  margin-right: 1rem;
  line-height: 1.15;
  text-decoration: none;
  border: 1.5px transparent solid;
}

.nofo_compare .nofo_view--menu-bar--button.is-active {
  color: var(--color--cdc-blue);
  border: 1.5px solid var(--color--cdc-blue);
}

.nofo_compare .nofo_view--menu-bar--button[aria-disabled] {
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.nofo_compare .nofo_view--menu-bar--button:hover {
  color: var(--color--cdc-blue);
  border: 1.5px solid var(--color--cdc-blue);
  cursor: pointer;
}

.nofo_compare .nofo_view--menu-bar--button.is-active:hover {
  color: var(--color--dark-blue);
  border: 1.5px solid var(--color--dark-blue);
}

.nofo_compare .nofo_view--menu-bar .nofo_view--menu-bar--button::before {
  width: 22px;
  height: 21px;
  margin-bottom: 8px;
}

.nofo_compare
  .nofo_view--menu-bar
  .usa-button--icon--usa-text-grey.is-active::before,
.nofo_compare
  .nofo_view--menu-bar
  .usa-button--icon--usa-text-grey:hover::before {
  filter: brightness(0) saturate(100%) invert(16%) sepia(93%) saturate(6087%)
    hue-rotate(203deg) brightness(89%) contrast(102%);
}

.nofo_compare
  .nofo_view--menu-bar
  .usa-button--icon--usa-text-grey.is-active:hover::before {
  filter: brightness(0) saturate(100%) invert(14%) sepia(20%) saturate(6652%)
    hue-rotate(187deg) brightness(103%) contrast(103%);
}

.nofo_compare .nofo_view--vertical-divider {
  border: 1px solid var(--color--light-grey);
  margin-right: 1rem;
}

.nofo_compare .nofo_view--vertical-divider.mr-0 {
  margin-right: 0;
}

.nofo_view .nofo_view--changes--list ol li {
  margin-bottom: 0.5rem;
}

.nofo_view .nofo_view--changes--list ol li:first-of-type {
  margin-top: 0;
}

.nofo_view .nofo_view--changes--list ol li a {
  display: block;
  border: 1.5px solid var(--color--light-grey);
  background-color: white;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
  color: var(--color--text-grey);
  text-decoration: none;
}

.nofo_view .nofo_view--changes--list ol li a:hover {
  border: 1.5px solid var(--color--med-grey);
  color: inherit;
}

.nofo_view .nofo_view--changes--list ol li.is-active a {
  border: 1.5px solid var(--color--cdc-blue);
  color: var(--color--cdc-blue);
}

.nofo_view .nofo_view--changes--list ol li.is-active a:hover {
  color: var(--color--dark-blue);
}

.nofo_view .nofo_view--changes--list ol li a:focus {
  outline-offset: -4px;
}

del {
  color: var(--color--usa-error-message);
  background-color: #ffebe9;
}

del p,
del li,
del h3,
del h4,
del h5,
del h6,
.del {
  background-color: #ffebe9;
}

/* 
  When del wraps a table, style all table elements
  and supercede usa table styles
*/
del table th, del table td {
  background-color: #ffebe9 !important;
}

ins {
  background-color: #aceebb;
}

ins p,
ins li,
ins h3,
ins h4,
ins h5,
ins h6,
.ins {
  background-color: #aceebb;
}

/* 
  When ins wraps a table, style all table elements
  and supercede usa table styles
*/
ins table th, ins table td {
  background-color: #aceebb !important;
}

.ins-updated {
  background-color: #d9e8f6;
}

del + ins > br {
  display: none;
}

.section--content > ins,
.section--content > del {
  display: block;
}

.login-gov-container {
  max-width: 30rem;
}

.nofo_compare h1 {
  color: var(--color--text-default);
}

@media (min-width: 64em) {
  .nofo_compare--document .nofo_view--wrapper {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    min-width: 60rem; /* matches .grid-container */
  }

  .nofo_compare--document--display-double .nofo_view--wrapper {
    width: 85vw;
  }

  .nofo_compare--document--display-single .nofo_view--wrapper {
    width: 70vw;
  }
}

/* User pages */

.user_view .form--export-report .form-group {
  display: flex;
  align-items: baseline;
}

.user_view .form--export-report .form-group label {
  width: 200px;
}

.user_view .form--export-report .form-group input {
  height: 2.6rem;
  border: 2px solid;
}

/* Subsection matches table checkbox positioning */
#subsection-matches-table > tbody > tr > td > div.usa-checkbox {
  position: relative;
  top: -1rem;
}

/* Side Navigation Styles */
.side-nav-container {
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

.side-nav-container.is-open {
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.side-nav-toggle {
  transform: translateY(-50%);
  pointer-events: auto;
  transition: left 0.3s ease;
  cursor: pointer;
}

.side-nav-pipe {
  line-height: 1.15;
  height: 1.25rem;
  max-height: 1.25rem;
  overflow: hidden;
}

.side-nav-pipe.current {
  font-size: 1.25em;
  line-height: 0.8;
  font-weight: bold;
}

.side-nav-content {
  left: -330px;
  width: 320px;
  transform: translateY(-50%);
}

.side-nav-container.is-open .side-nav-content {
  transition: left 0.3s ease, transform 0.3s ease;
  left: 60px;
  transform: translateY(-50%);
}

/* Navigation List Styles */
#side-nav-list {
  padding: 1rem;
  margin: 0;
  list-style: none;
}

/* Responsive Design */
@media (max-width: 48em) {
  .side-nav-content {
    width: 100vw;
    height: 100vh;
    left: -101vw;
    top: 0;
  }

  .side-nav-container.is-open .side-nav-content {
    left: -1vw;
    top: 0;
  }
}

/* Image aspect ratio utilities */
.cover-image {
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.usa-button.usa-button--icon {
  margin: 0 !important;
}

.usa-button--icon {
  margin: 0;
  /* min-width: 5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.usa-button--icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  display: inline-flex;
  height: 18px;
  width: 18px;
}

.usa-summary-box .usa-checkbox {
  background: transparent;
}

.disabled-link[aria-disabled="true"]:active {
  pointer-events: none;
  cursor: not-allowed;
}

/* COMPOSER */

.composer_index--writer .usa-button--file_download::before {
  background-position: bottom left;
  background-size: contain;
  height: 25px;
  width: 23px;
}

.composer_document_section--preview aside {
  line-height: 1.15;
}

.composer_document_section .side-nav-list--intro {
  color: var(--color--text-grey);
  font-size: 105%;
  font-weight: 700;
  margin: 0.5em 2.5rem 1em 0;
}

.composer_document_section #side-nav {
  position: sticky;
  top: 1rem;
}

.composer_document_section #side-nav-list {
  padding: 0 2rem 0 0;
  border-bottom: 0;
}

.composer_document_section .usa-sidenav__item {
  color: var(--color--med-grey);
  border-left: 2px solid var(--color--light-grey);
  border-right: 2px solid var(--color--light-grey);
}

.composer_document_section .usa-sidenav__item:first-of-type {
  border-radius: 4px 4px 0 0;
  border-top: 2px solid var(--color--light-grey);
}

.composer_document_section .usa-sidenav__item:last-of-type {
  border-radius: 0 0 4px 4px;
  border-bottom: 2px solid var(--color--light-grey);
}

.composer_document_section .usa-sidenav .usa-current::after {
  border-radius: 0;
  top: 0;
  bottom: 0;
}

.composer_document_section .subhead--document-name {
  border-radius: 0;
  top: 0;
  bottom: 0;
}

.usa-prose hr:not([size]),
.composer_document_section hr:not([size]),
hr.usa-prose:not([size]) {
  opacity: 1;
  height: 0;
  border: 2px solid var(--color--light-grey);
}

.composer_document_section--preview h1 {
  color: var(--color--text-default);
}

.composer_document_section--preview .nofo_view {
  border: 1px solid var(--color--light-grey);
  padding: 30px;
  padding-top: 10px;
}

.composer_document_section--preview .nofo_view .section--content table {
  width: 125%;
}

.subsection_edit--composer .usa-radio__label .curly-var {
  color: var(--color--variable-pink);
}

.subsection_edit--composer
  .main-martor--container
  .ace_editor
  .ace_text-layer
  .ace_variable.ace_curly {
  color: var(--color--variable-pink);
  font-weight: 700;
}

.subsection_edit--composer
  .main-martor--container
  div.martor-preview
  .md-curly-variable,
.styled-subsection-body--variables .md-curly-variable {
  background-color: var(--color--yellow);
  padding: 0 2px;
}

.subsection_edit--composer
  .main-martor--container
  div.martor-preview
  .md-curly-variable--value,
.styled-subsection-body--variables .md-curly-variable--value {
  background-color: transparent;
  border: 1px solid var(--color--yellow);
  border-radius: 4px;
}

.styled-subsection-body--full {
  color: var(--color--green-dark);
}
