/* CSS vars */
:root {
  --color--cms-blue: #004a86;
  --color--cms-pale-blue: #eff5fb;
  --color--cms-yellow: #eecd52;
}

/* Set @page rules */

@page {
  @bottom-left {
    font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica,
      Roboto, Arial, sans-serif;
    font-weight: 700;
    color: var(--color--black);
  }

  @bottom-right {
    font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica,
      Roboto, Arial, sans-serif;
    font-weight: 700;
    color: var(--color--black);
  }
}

/* Regular CSS */

html {
  font-family: "Public Sans Web", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

/* Headings */

h1 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}

h3 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  color: var(--color--cms-blue);
}

h4 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  color: var(--color--black);
}

h5 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  color: var(--color--black);
  font-weight: 500;
  line-height: 1.35;
}

h6 {
  font-family: "Lexend", Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  color: var(--color--black);
  font-weight: 500;
  font-size: 13pt;
}

/* this functions as an h7 */
div[role="heading"] {
  font-size: 12pt;
  font-weight: 700;
}

/* Running header */

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--cms-blue);
  color: var(--color--black);
}

/* Cover page */

.nofo--cover-page--header {
  padding: 12mm 20mm;
}

.nofo--cover-page--header--logo svg {
  display: block;
  width: 220px;
  margin-bottom: -6px;
}

.nofo--cover-page--header--logo--subheading {
  display: none;
}

/* Cover page: text */

/* Cover page: medium image */

/* Cover page: hero image */

/* Table of contents */

/* Before you begin page */

/* Section title page */

/* Section contents */

.section--absolute--right-col .callout-box--questions .callout-box--contents p {
  font-weight: 400;
}
