/* CSS vars */
:root {
  --color--ihs-blue: #012f52;
  --color--ihs-grey: #d9e0e5;
  --color--ihs-black: #353535;
}

/* Set @page rules */

@page {
  @bottom-left {
    font-family: Georgia, serif;
    font-weight: 700;
    color: var(--color--ihs-blue);
  }

  @bottom-right {
    font-family: Georgia, serif;
    font-weight: 700;
    color: var(--color--ihs-blue);
  }
}

/* Regular CSS */

html {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
  color: var(--color--ihs-black);
}

/* Headings */

h1 {
  font-family: Georgia, serif;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h2 {
  font-family: Georgia, serif;
}

h3 {
  font-family: Georgia, serif;
}

h4,
h5,
h6 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
}

/* this functions as an h7 */
div[role="heading"] {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 700;
}

/* Running header */

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--ihs-blue);
  color: var(--color--ihs-blue);
}

/* Cover page */

.nofo--cover-page--header--logo svg {
  width: 100px;
  padding-bottom: 5px;
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header--logo svg {
  width: 100px;
}

/* Cover page: medium image */

/* Cover page: hero image */

/* Table of contents */

.toc .toc--section-name .toc--section-name--a {
  color: var(--color--ihs-blue);
}

.toc .toc--section-name.toc--no-icon a,
.toc .toc--subsection-name a {
  color: var(--color--ihs-black);
}

/* Before you begin page */

/* Section title page */

/* Section contents */

.callout-box {
  background-color: var(--color--ihs-grey);
}

.callout-box--icon {
  background-color: var(--color--white);
  border: 2px solid var(--color--ihs-blue);
}

.section--absolute--right-col .callout-box--questions .callout-box--contents p {
  font-weight: 400;
}

/* Application checklist table */

.section--step-5-submit-your-application table td {
  border: none;
}

.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: var(--color--ihs-grey) 2px solid;
  border-right: var(--color--ihs-grey) 2px solid;
}

.section--step-5-submit-your-application table tr td:last-of-type {
  border-left: var(--color--ihs-grey) 2px solid;
  border-right: var(--color--ihs-grey) 2px solid;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom: 2px solid var(--color--ihs-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom: 2px solid var(--color--ihs-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading)
  ~ td {
  border-bottom: 2px solid var(--color--ihs-grey);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: 2px solid var(--color--ihs-grey);
}
