/* CSS vars */
:root {
  --color--word-blue: #185393;
  --color--word-navy: #0d2b4d;
}

/* Global CSS */

html {
  line-height: 1.5;
}

body {
  font-family:
    "Aptos",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

/* Headings */

.nofo_view h1,
.nofo_view h2,
.nofo_view h3,
.nofo_view h4,
.nofo_view h5,
.nofo_view h6 {
  line-height: 1;
}

.nofo_view h1 {
  font-family:
    "Fira Sans Condensed",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 36pt;
  margin-top: 28px;
  margin-bottom: 12px;
}

.nofo_view h2 {
  font-family:
    "Fira Sans Condensed",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 28pt;
  margin-top: 24px;
  margin-bottom: 12px;
}

.nofo_view h3 {
  font-family:
    "Fira Sans Condensed",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 500;
  color: var(--color--dark-blue);
  font-size: 22pt;
  margin-top: 16px;
  margin-bottom: 10px;
}

.nofo_view h4 {
  font-family:
    "Fira Sans Condensed",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  color: var(--color--cdc-blue);
  font-size: 18pt;
  margin-top: 14px;
  margin-bottom: 10px;
}

.nofo_view h5 {
  font-family:
    "Calibri",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  color: var(--color--black);
  font-size: 16pt;
  margin-top: 12px;
  margin-bottom: 10px;
}

.nofo_view h6 {
  font-family:
    "Calibri",
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  color: var(--color--black);
  font-size: 14pt;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 10px;
}

.nofo_view h2 {
  border-top: 2px dashed var(--color--word-blue);
}

.section--content > h3 + div > h4:first-of-type,
.section--content > h4 + div > h5:first-of-type,
.section--content > h5 + div > h6:first-of-type {
  margin-top: -8px;
}

/* Section */

section,
span.page-break {
  break-after: page;
  break-inside: avoid;
}

/* Lists */

.nofo_view ul li,
.nofo_view ol li {
  line-height: 1.75;
}

.nofo_view p + ul,
.nofo_view p + ol {
  margin-top: 6px;
}

.nofo_view ul li:not(:last-of-type),
.nofo_view ol li:not(:last-of-type) {
  margin-bottom: 8px;
}

.nofo_view ul ul:last-child,
.nofo_view ol ol:last-child {
  margin-bottom: 0;
}

/* Tables */

.nofo_view .section--content table th,
.nofo_view .section--content table:not(.callout-box) td,
.nofo_view .section--content table caption {
  font-size: 11pt;
}

.nofo_view .section--content table th {
  padding: 0.8rem 0.8rem;
  background: var(--color--word-blue);
  color: var(--color--white);
  vertical-align: top;
}

.nofo_view .section--content table:not(.callout-box) td {
  vertical-align: top;
}

.nofo_view .section--content table th,
.nofo_view .section--content table td {
  border: 1px solid black;
}

/* Callout boxes */

.nofo_view .callout-box .styled-subsection-body > *:last-child {
  margin-bottom: 0px;
}

.nofo_view .callout-box td {
  padding-bottom: 0;
}

/* Instructions boxes */

.nofo_view .subsection-instructions {
  font-size: 14px;
}

.nofo_view .subsection-instructions .instructions-heading {
  font-size: 16px;
  color: var(--color--word-navy);
}

.nofo_view .subsection-instructions p:not(.instructions-heading) strong {
  color: var(--color--word-blue);
}

.nofo_view .section--content table.subsection-instructions td {
  background-color: #d9e8f6;
  border-style: none;
}

/* Composer elements */

.nofo_view .styled-subsection-body--variables .md-curly-variable {
  background-color: yellow;
}
