/* Set @page rules */

@page {
  /* portrait letter size */
  size: 216mm 279mm;
}

@page cover {
  margin: 0;
}

@page title {
  margin: 0;
}

/* Regular CSS */

/* Headings */

/* Cover page */

.nofo--cover-page--footer--subheading {
  display: none;
}

.nofo--cover-page--header {
  padding: 10mm 20mm;
}

.nofo--cover-page--title {
  padding: 5mm 20mm 10mm 20mm;
}

.nofo--cover-page--footer {
  padding-left: 20mm;
}

.nofo--cover-page--header--logo--subheading {
  font-size: 11pt;
}

.nofo--cover-page--header--intro span:first-of-type {
  display: inline-block;
  margin-bottom: 5px;
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  font-size: 16pt;
  font-weight: 500;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  float: right;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo svg,
.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  height: 120px;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo svg {
  width: 120px;
}

/* Cover page: text */

section.nofo--cover-page.nofo--cover-page--text {
  justify-content: flex-start;
}

.nofo--cover-page--text .nofo--cover-page--header {
  height: 110mm;
  padding-top: 15mm;
  flex-direction: column-reverse;
}

.nofo--cover-page--text .nofo--cover-page--header--intro {
  align-self: flex-end;
}

.nofo--cover-page--text .nofo--cover-page--header--logo {
  align-self: flex-start;
}

.nofo--cover-page--text .nofo--cover-page--header--logo svg {
  width: 200px;
  height: auto;
  margin-bottom: 5px;
}

.nofo--cover-page--text .nofo--cover-page--header--logo--subheading p {
  font-weight: 400;
}

.nofo--cover-page--text .nofo--cover-page--title h1 {
  font-size: 36pt;
}

.nofo--cover-page--text
  .nofo--cover-page--title
  h1.nofo--cover-page--title--h1--smaller {
  font-size: 32pt;
}

.nofo--cover-page--medium
  .nofo--cover-page--title
  h1.nofo--cover-page--title--h1--smaller {
  font-size: 28pt;
}

.nofo--cover-page--medium
  .nofo--cover-page--title
  h1.nofo--cover-page--title--h1--very-smol {
  font-size: 24pt;
}

.nofo--cover-page--medium
  .nofo--cover-page--title
  h1.nofo--cover-page--title--h1--very-very-smol {
  font-size: 23pt;
}

.nofo--cover-page--text .nofo--cover-page--hero-image,
.nofo--cover-page--text .nofo--cover-page--title .nofo--cover-page--title--logo,
.nofo--cover-page--text
  .nofo--cover-page--footer
  .nofo--cover-page--footer--image {
  display: none;
}

.nofo--cover-page--text .nofo--cover-page--footer {
  flex-grow: 1;

  display: flex;
  padding-right: 20mm;
  padding-bottom: 20mm;
  justify-content: flex-end;
  align-items: flex-end;
}

.nofo--cover-page--text
  .nofo--cover-page--footer
  .nofo--cover-page--footer--logo {
  width: 120px;
}

.nofo--cover-page--text .nofo--cover-page--footer svg {
  width: 120px;
  height: 120px;
}

/* Cover page: medium image */

.nofo--cover-page--medium
  .nofo--cover-page--footer
  .nofo--cover-page--footer--logo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}

.nofo--cover-page--medium
  .nofo--cover-page--footer
  .nofo--cover-page--footer--logo {
  position: absolute;
  bottom: 10mm;
  left: 20mm;
}

.nofo--cover-page--medium
  .nofo--cover-page--footer
  .nofo--cover-page--footer--image {
  height: 520px;
  width: 82.5%;
  overflow: hidden;
}

/* Cover page: hero image */

section.nofo--cover-page.nofo--cover-page--hero {
  justify-content: flex-start;
}

.nofo--cover-page--hero .nofo--cover-page--header {
  padding: 10mm 12mm 5mm 12mm;
}

.nofo--cover-page--hero .nofo--cover-page--title {
  padding: 12mm 12mm 10mm 12mm;
}

.nofo--cover-page--hero .nofo--cover-page--hero-image {
  height: 158mm;
  overflow: hidden;
}

.nofo--cover-page--hero .nofo--cover-page--hero-image img {
  max-height: 100%;
  max-width: none;
  object-fit: cover;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--block {
  width: 90%;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--block
  h1 {
  font-weight: 600;
  margin-bottom: 20px;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--subheading {
  font-size: 13pt;
  font-weight: 500;
}

/* Table of contents */

/* Before you begin page */

section.before-you-begin {
  padding-top: 150px;
}

/* Section title page */

.section--title-page .section--title-page--header-nav > ol {
  margin-left: -5mm;
}

.section--title-page--toc a {
  width: 50%;
}

/* Section contents */

.section--content {
  position: relative;
}

.section--content > *:not(.section--content--right-col) {
  width: 80%;
}

.section--content > .section--content--basic-information {
  clear: both;
  float: left;
}

.section--content > .section--content--right-col {
  position: initial;
  float: right;
  width: 16.5%;
}

.section--content > .section--content--right-col > * {
  width: 180%;
}

.section--content > .section--content--right-col > *:first-child {
  margin-top: 0;
}

/* TODO */
.section--content--right-col .callout-box--contents {
  font-size: 10pt;
}

.section--content--right-col.section--content--right-col--smaller
  .callout-box--questions
  .callout-box--contents
  p,
.section--content--right-col.section--content--right-col--smaller
  .callout-box--contents {
  font-size: 9.5pt;
}

.section--content--right-col--tiny .callout-box .callout-box--title {
  font-size: 12pt;
}

.section--content--right-col.section--content--right-col--tiny
  .callout-box--questions
  .callout-box--contents
  p,
.section--content--right-col.section--content--right-col--tiny
  .callout-box--contents {
  font-size: 8.5pt;
}

.section--content--right-col .callout-box--contents p {
  padding-right: 5px;
}

.section--content--right-col .callout-box--questions .callout-box--contents p {
  font-size: 10pt;
}

.section--content table.table--large {
  width: calc(216mm - 40mm); /* large tables should be full-width */
}

body.portrait
  .section--step-4-learn-about-review-and-award
  .section--content
  p
  + table:not(.table--criterion),
body.portrait
  .section--step-4-learn-about-review-and-award
  .section--content
  div.page-break--hr--container
  + table:not(.table--criterion),
body.portrait
  .section--step-4-learn-about-review-and-award
  .section--content
  table
  + table:not(.table--criterion) {
  width: calc(216mm - 40mm); /* tables in section 4 should be full-width */
}

section.section--appendix > .section--content > table {
  width: calc(216mm - 40mm); /* tables in the appendix should be full-width */
}

.section--step-5-submit-your-application table tr td.usa-icon__td--sublist {
  padding-left: 30px;
}

/* Section-level table width override for portrait mode */
.section--tables-full-width table.table--small,
.section--tables-full-width table.table--large,
.section--tables-full-width table.table--criterion {
  width: calc(
    216mm - 40mm
  ) !important; /* Match large table full-width behavior */
}
