/* Page rules */

@page cover {
  background-color: var(--color--hrsa-blue);
}

@page title {
  background-color: var(--color--hrsa-blue);
}

/* Headings */

h2 {
  color: var(--color--white);
}

.section--content h2 {
  color: var(--color--black);
}

h3 {
  color: var(--color--dark-blue);
}

h4 {
  color: var(--color--hrsa-blue);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--white);
}

.nofo--cover-page--title,
.nofo--cover-page--footer {
  color: var(--color--white);
  background-color: var(--color--hrsa-blue);
}

.nofo--cover-page--footer svg {
  fill: var(--color--white);
}

.nofo--cover-page .nofo--cover-page--callout-box {
  background-color: var(--color--pale-blue);
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header--logo svg .hrsa-text--blue,
.nofo--cover-page--text .nofo--cover-page--header--logo svg .hrsa-text--red {
  fill: var(--color--white);
}

.nofo--cover-page--text .nofo--cover-page--callout-box {
  background-color: var(--color--white);
}

/* Cover page: hero image */

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo
  svg {
  fill: var(--color--white);
}

/* Table of contents */

.toc h2 {
  color: var(--color--dark-blue);
}

.toc ol li a.toc--section-name--a {
  color: var(--color--hrsa-blue);
}

.toc .toc--section-name .toc--section-name--img[class*="white-icon"] {
  background: var(--color--hrsa-blue);
}

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--hrsa-blue);
  fill: var(--color--white);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--white);
  fill: var(--color--hrsa-blue);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--hrsa-blue);
}

/* Before you begin */

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--hrsa-blue);
  fill: var(--color--white);
}

.nofo--icons--solid
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--hrsa-blue);
}

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--white);
  fill: var(--color--hrsa-blue);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--hrsa-blue);
}

.before-you-begin h2 {
  color: var(--color--dark-blue);
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--dark-blue);
  color: var(--color--white);
}

.header-nav li a {
  border-top: 4px solid var(--color--white);
  color: var(--color--white);
}

.section--title-page--name,
.section--title-page--toc {
  color: var(--color--white);
  background-color: var(--color--hrsa-blue);
}

.nofo--icons--solid .section--title-page--icon svg {
  color: var(--color--hrsa-blue);
  fill: var(--color--white);
}

.nofo--icons--solid .section--title-page--icon svg circle {
  stroke: var(--color--white);
}

/* Section contents */

.section--absolute--right-col .callout-box--questions .callout-box--contents p {
  font-weight: 400;
}

.callout-box {
  background-color: var(--color--hrsa-blue);
  color: var(--color--white);
}

.callout-box--contents a {
  color: var(--color--white);
}

.callout-box--icon {
  background-color: var(--color--dark-blue);
}

.callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
  color: var(--color--dark-blue);
}

.callout-box--icon .callout-box--contents svg circle {
  stroke: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--dark-blue);
  border: 3px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 3px solid var(--color--white);
}

/* Application checklist table */

.section--step-5-submit-your-application table tr td {
  border-bottom-color: var(--color--table-blue);
}

.section--step-5-submit-your-application table tr td.usa-icon__td,
.section--step-5-submit-your-application table tr td.usa-icon__td ~ td {
  border-bottom-color: var(--color--white);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom-color: var(--color--white);
}

.section--step-5-submit-your-application table tr td.usa-icon__td--list-heading,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--list-heading
  ~ td {
  border-bottom-color: var(--color--table-blue);
}

.section--step-5-submit-your-application table tr td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--sublist
  ~ td {
  border-bottom-color: var(--color--table-blue);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td.usa-icon__td--before-sublist
  ~ td {
  border-bottom-color: var(--color--white);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: none;
}
