/* CSS vars */

:root {
  --color--iod-teal: #00687f;
  --color--iod-purple: #672e6b;
  --color--iod-green: #7ebd41;
  --color--iod-navy: #143168;
  --color--iod-grey: #767676;
}

/* Page rules */

@page {
  @bottom-left {
    color: var(--color--iod-teal);
  }

  @bottom-right {
    color: var(--color--iod-teal);
  }
}

@page cover {
  background-color: var(--color--iod-teal);
}

@page title {
  background-color: var(--color--iod-teal);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Regular CSS */
.portrait-cdc-dop .table--small {
  width: 100%;
}

/* Headings */

h1 {
  color: var(--color--white);
}

h3 {
  color: var(--color--iod-purple);
}

h4 {
  color: var(--color--iod-teal);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--iod-teal);
}

.nofo--cover-page--title {
  background-color: var(--color--iod-teal);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--header--intro {
  color: var(--color--white);
}

.nofo--cover-page--title {
  color: var(--color--white);
}

.nofo--cover-page--footer {
  background: var(--color--white);
}

.portrait .nofo--cover-page--footer {
  background-color: var(--color--iod-teal);
}

/* Cover page: medium image */

.nofo--cover-page--medium .nofo--cover-page--footer--subheading {
  color: var(--color--white);
}

/* Cover page: hero image */

.nofo--cover-page--hero .nofo--cover-page--title {
  background-color: var(--color--iod-teal);
}

.nofo--cover-page--hero .nofo--cover-page--header--logo svg .cls-5 {
  fill: var(--color--cdc-blue);
}

/* Table of contents */

.toc h2 {
  color: var(--color--iod-teal);
}

.toc .toc--section-name .toc--section-name--a {
  color: var(--color--iod-teal);
}

.toc .toc--section-name .toc--section-name--img[class*="white-icon"] {
  background: var(--color--iod-teal);
}

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--iod-teal);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--white);
  fill: var(--color--iod-teal);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--iod-teal);
}

/* Before you begin */

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--iod-teal);
  fill: var(--color--white);
}

.nofo--icons--solid
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--iod-teal);
}

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--white);
  fill: var(--color--iod-teal);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--iod-teal);
}

.before-you-begin h2 {
  color: var(--color--iod-teal);
}

.before-you-begin .callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
  color: var(--color--iod-purple);
}

.before-you-begin .callout-box--icon .callout-box--contents svg circle {
  stroke: var(--color--white);
}

/* Section title page */

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--iod-grey);
  color: var(--color--iod-grey);
}

.section--title-page--header-nav li a[aria-current] {
  border-top: 4px solid var(--color--iod-green);
  color: var(--color--iod-teal);
}

.section--title-page {
  background-color: var(--color--iod-teal);
}

.section--title-page--header-nav {
  background-color: var(--color--white);
}

.nofo--icons--solid .section--title-page--icon svg {
  color: var(--color--iod-teal);
  fill: var(--color--white);
}

.nofo--icons--solid .section--title-page--icon svg circle {
  stroke: var(--color--white);
}

/* Section contents */

.header-nav--running-header li a {
  border-top-color: var(--color--iod-grey);
  color: var(--color--iod-grey);
}

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--iod-green);
  color: var(--color--iod-teal);
}

.nofo--tagline {
  color: var(--color--iod-navy);
}

.callout-box {
  background-color: var(--color--iod-teal);
  color: var(--color--white);
}

.callout-box--contents a {
  color: var(--color--white);
}

.callout-box--icon {
  background-color: var(--color--iod-purple);
  color: var(--color--white);
}

.callout-box--icon a {
  color: var(--color--white);
}

.callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
  color: var(--color--iod-purple);
}

.callout-box--icon .callout-box--contents svg circle {
  stroke: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--iod-purple);
  border: 3px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 3px solid var(--color--white);
}

/* Application checklist table */

.section--step-5-submit-your-application table tr th:first-of-type,
.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: none;
}

.section--step-5-submit-your-application table tr th:last-of-type,
.section--step-5-submit-your-application table tr td:last-of-type {
  border-right: none;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom-color: white;
}

.section--step-5-submit-your-application table tr td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--sublist
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}

.section--step-5-submit-your-application table tr td.usa-icon__td--list-heading,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--list-heading
  ~ td {
  border-bottom-color: var(--color--table-blue);
}

.section--step-5-submit-your-application
  table
  tbody
  tr:last-of-type
  td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tbody
  tr:last-of-type
  td.usa-icon__td--sublist
  ~ td {
  border-bottom: none;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom-color: white;
}

.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td),
.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td)
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}
