/* CSS vars */

:root {
  --color--hrsa-blue: #006699;
  --color--hrsa-red: #940200;
}

/* Add Helvetica condensed font */

@font-face {
  font-family: "Helvetica Condensed";
  src:
    url("/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff2")
      format("woff2"),
    url("/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Set @page rules */

@page {
  @bottom-left {
    font-family:
      "Helvetica Condensed",
      Helvetica Neue,
      Helvetica,
      Roboto,
      Arial,
      sans-serif;
    font-weight: 700;
    color: var(--color--hrsa-red);
  }

  @bottom-right {
    font-family:
      "Helvetica Condensed",
      Helvetica Neue,
      Helvetica,
      Roboto,
      Arial,
      sans-serif;
    font-weight: 700;
    color: var(--color--hrsa-red);
  }
}

/* Regular CSS */

/* Running header */

.header-nav {
  font-family:
    "Helvetica Condensed",
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial;
}

.header-nav.header-nav--running-header li a {
  border-top-color: var(--color--light-grey);
  color: var(--color--med-grey);
}

.header-nav.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--hrsa-red);
  color: var(--color--hrsa-red);
}

.section--title-page--header-nav a[aria-current] {
  border-top-color: var(--color--hrsa-blue);
}

/* Headings */

h1 {
  font-family:
    "Helvetica Condensed",
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
  letter-spacing: -0.5px;
}

h2 {
  font-family:
    "Open Sans",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

h3 {
  font-family:
    "Open Sans",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

h4 {
  font-family:
    "Open Sans",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

h5 {
  font-family:
    "Open Sans",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

h6 {
  font-family:
    "Open Sans",
    Source Sans Pro Web,
    Helvetica Neue,
    Helvetica,
    Roboto,
    Arial,
    sans-serif;
}

/* Cover page */

.nofo--cover-page--header--logo svg .hrsa-text--blue {
  fill: var(--color--hrsa-blue);
}

.nofo--cover-page--header--logo svg .hrsa-text--red {
  fill: var(--color--hrsa-red);
}

/* Cover page: medium image */

/* Cover page: hero image */

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header {
  background-color: var(--color--hrsa-blue);
  color: var(--color--white);
}

/* Table of contents */

.toc h2 {
  font-family: "Open Sans";
  font-weight: 800;
  margin-bottom: 24px;
}

/* Before you begin page */

/* Section title page */

/* Section contents */

.nofo--tagline {
  color: var(--color--hrsa-blue);
}

.nofo--cover-page--callout-box .callout-box--contents p,
.nofo--cover-page--callout-box .callout-box--contents a {
  color: var(--color--hrsa-red);
}
