/* Page rules */

@page {
  /* horizontal letter size */
  size: 279mm 216mm;
}

@page cover {
  margin: 0;
}

@page title {
  margin: 0 0 20mm 0;

  @bottom-left {
    content: string(sectiontitle);
    padding-bottom: 4mm;
    margin-left: 20mm;
    font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
      Roboto, Arial, serif;
    font-weight: 400;
  }

  @bottom-right {
    content: counter(page);
    padding-bottom: 4mm;
    font-weight: 400;
    margin-right: 20mm;
  }
}
/* USA classes */

body[class^="landscape"] .grid-container {
  max-width: 76rem;
}

/* Headings */

/* Cover page */

.nofo--cover-page {
  overflow: hidden;
}

.nofo--cover-page--medium .nofo--cover-page--header--intro {
  display: none;
}

.nofo--cover-page--header {
  padding: 6mm 20mm 6mm 20mm;
}

.nofo--cover-page--title {
  padding: 0 20mm 10mm 20mm;
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  margin-top: 20px;
  font-size: 13pt;
  font-weight: 600;
}

.nofo--cover-page--footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5mm 0 5mm 20mm;
  margin-right: 0;
  width: 100%;
  margin-bottom: -1mm;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo {
  position: relative;
  width: 80px;
  height: 80px;
  bottom: 0;
  margin-right: 160px;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  width: 80px;
  height: 80px;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 217mm;
}

.nofo--cover-page--footer .nofo--cover-page--footer--subheading span {
  font-size: 11pt;
  display: block;
  padding-bottom: 10px;
}

.nofo--cover-page--footer
  .nofo--cover-page--footer--subheading
  span:first-of-type {
  margin-top: 15px;
}

.nofo--cover-page--footer
  .nofo--cover-page--footer--subheading
  span:last-of-type {
  font-weight: 700;
}

/* Cover page: medium image */

.nofo--cover-page--medium .nofo--cover-page--header,
.nofo--cover-page--medium .nofo--cover-page--title {
  width: 65%;
}

/* Cover page: hero image */

.nofo--cover-page--hero .nofo--cover-page--hero-image {
  height: 120mm;
  overflow: hidden;
}

/* Table of contents */

.toc > ol {
  columns: 2;
  column-gap: 15mm;
}

.toc > ol > li {
  break-inside: avoid;
}

/* Before you begin page */

.before-you-begin--content {
  width: 50%;
}

.before-you-begin h2 {
  color: var(--color--cdc-blue);
}

.section--before-you-begin--psuedo-header {
  color: var(--color--cdc-blue);
}

/* Section title page */

.section--title-page--toc a {
  width: 40%;
}

/* Section contents */

.header-nav li a {
  border-top: 4px solid var(--color--light-grey);
  color: var(--color--med-grey);
}

.section--content {
  columns: 2;
  column-gap: 15mm;
}

.nofo--tagline {
  font-weight: 600;
}

.header-nav--running-header ol {
  padding-bottom: 2mm;
  border-bottom: 1px solid var(--color--light-grey);
}

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--cdc-blue);
  color: var(--color--cdc-blue);
}

.section--content table td {
  vertical-align: baseline;
}

.section--content table.table--large,
.section--content table.table--with-caption {
  margin-top: 10px;
}

.section--content table.table--small {
  width: 100%;
  break-inside: avoid-column;
}

.section--content table.table--large,
.section--content table.table--col-span {
  column-span: all;
}

table tr td.usa-icon__td--sublist:not(.usa-icon__td--link) {
  position: relative;
  padding-left: 44px;
}

table tr td.usa-icon__td--sublist:not(.usa-icon__td--link) img.usa-icon {
  position: absolute;
  top: 7px;
  left: 22px;
}

@media print {
  .nofo--cover-page {
    overflow: hidden;
    height: 215mm;
  }

  .section--title-page {
    min-height: 100vh;
  }
}

/* Full column spans for Criteria tables in section 4 */

.section--step-4-learn-about-review-and-award [id*="criteria"] ~ table {
  column-span: all;
}

/* Media queries */

@media screen {
  .section--content {
    column-fill: balance;
  }
}

@media print {
  .section--content {
    column-fill: auto;
  }
}
