/* CSS vars */

:root {
  --color--orr-blue: #003057;
  --color--orr-grey: #333f48;
  --color--orr-red: #d22730;
  --color--orr-azure: #00a3e0;
}

/* Page rules */

@page {
  @bottom-left {
    color: var(--color--orr-blue);
  }

  @bottom-right {
    color: var(--color--orr-blue);
  }
}

@page cover {
  background-color: var(--color--orr-blue);
}

@page title {
  background-color: var(--color--orr-blue);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Regular CSS */

img.usa-icon--check_box_outline_blank {
  background: var(--color--white);
  -webkit-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  -moz-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
}

/* Headings */

h1 {
  color: var(--color--white);
}

h3 {
  color: var(--color--orr-grey);
}

h4 {
  color: var(--color--orr-blue);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--orr-grey);
}

.nofo--cover-page--title {
  background-color: var(--color--orr-blue);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--header--intro {
  color: var(--color--white);
}

.nofo--cover-page--title {
  color: var(--color--white);
}

.nofo--cover-page--footer {
  background: var(--color--white);
}

.portrait .nofo--cover-page--footer {
  background-color: var(--color--orr-blue);
}

.nofo--cover-page--header--logo svg .cls-5 {
  fill: var(--color--white);
}

/* Cover page: medium image */

.nofo--cover-page--medium .nofo--cover-page--footer--subheading {
  color: var(--color--white);
}

/* Cover page: hero image */

section.nofo--cover-page.nofo--cover-page--hero {
  background-color: var(--color--orr-blue);
}

.nofo--cover-page--hero .nofo--cover-page--title {
  background-color: var(--color--orr-blue);
}

/* Table of contents */

.toc h2 {
  color: var(--color--orr-blue);
}

.toc .toc--section-name .toc--section-name--a {
  color: var(--color--orr-blue);
}

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--orr-blue);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--white);
  fill: var(--color--orr-blue);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--orr-blue);
}

/* Before you begin */

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--orr-blue);
  fill: var(--color--white);
}

.nofo--icons--solid
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--orr-blue);
}

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--white);
  fill: var(--color--orr-blue);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--orr-blue);
}

.before-you-begin h2 {
  color: var(--color--orr-blue);
}

/* Section title page */

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--white);
  color: var(--color--black);
}

.section--title-page--header-nav li a[aria-current] {
  border-top: 4px solid var(--color--black);
  color: var(--color--black);
}

.section--title-page {
  background-color: var(--color--orr-blue);
}

.section--title-page--header-nav {
  background-color: var(--color--orr-azure);
}

.nofo--icons--solid .section--title-page--icon svg {
  color: var(--color--orr-blue);
  fill: var(--color--white);
}

.nofo--icons--solid .section--title-page--icon svg circle {
  stroke: var(--color--white);
}

/* Section contents */

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--orr-red);
  color: var(--color--black);
}

.nofo--tagline {
  color: var(--color--black);
}

.callout-box {
  background-color: var(--color--orr-blue);
  color: var(--color--white);
}

.callout-box--contents a {
  color: var(--color--white);
}

.callout-box--icon {
  background-color: var(--color--orr-grey);
  color: var(--color--white);
}

.callout-box--icon a {
  color: var(--color--orr-white);
}

.callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
  color: var(--color--orr-grey);
}

.callout-box--icon .callout-box--contents svg circle {
  stroke: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--orr-blue);
  border: 3px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 3px solid var(--color--white);
}

/* Application checklist table */

.section--step-5-submit-your-application table tr th:first-of-type,
.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: none;
}

.section--step-5-submit-your-application table tr th:last-of-type,
.section--step-5-submit-your-application table tr td:last-of-type {
  border-right: none;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom-color: white;
}

.section--step-5-submit-your-application table tr td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--sublist
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}

.section--step-5-submit-your-application table tr td.usa-icon__td--list-heading,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--list-heading
  ~ td {
  border-bottom-color: var(--color--table-blue);
}

.section--step-5-submit-your-application
  table
  tbody
  tr:last-of-type
  td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tbody
  tr:last-of-type
  td.usa-icon__td--sublist
  ~ td {
  border-bottom: none;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom-color: white;
}

.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td),
.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td)
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}
