/* CSS vars */

:root {
  --color--powder-blue: #c0e9ff;
}

/* Set @page rules */

/* Utility classes for tables */

.table-row--blue-med td {
  background-color: var(--color--cdc-blue);
  color: var(--color--white);
}

.table-row--blue-light td {
  background-color: var(--color--powder-blue);
}

.table-row--blue-pale td {
  background-color: var(--color--pale-blue);
}

/* Regular CSS */

html {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  line-height: 1.5;
}

/* Headings */

h1 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h2 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h3 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--dark-blue);
}

h4 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--cdc-blue);
}

h5 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--black);
}

h6 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--black);
}

/* Running header */

.header-nav--running-header li a[aria-current] {
  border-top-color: var(--color--cdc-blue);
  color: var(--color--cdc-blue);
}

/* Cover page */

.nofo--cover-page--header--logo svg {
  width: 300px;
}

.nofo--cover-page--header--logo svg .cls-3,
.nofo--cover-page--header--logo svg .cls-4 {
  fill: var(--color--white);
}

.nofo--cover-page--header--logo svg .cls-5 {
  fill: var(--color--cdc-blue);
}

.nofo--cover-page--header--logo svg .cls-6 {
  fill: var(--color--white);
}

.portrait .nofo--cover-page--medium .nofo--cover-page--title {
  padding: 5mm 20mm 10mm 20mm;
  color: var(--color--white);
}

/* HHS logo is already in the header logo for CDC */
.nofo--cover-page--title .nofo--cover-page--title--logo,
.nofo--cover-page--footer .nofo--cover-page--footer--logo {
  display: none !important;
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header--logo svg {
  width: 270px;
}

/* Cover page: medium image */

.portrait
  .nofo--cover-page--medium
  .nofo--cover-page--footer
  .nofo--cover-page--footer--image {
  width: 100%;
}

/* Cover page: hero image */

section.nofo--cover-page.nofo--cover-page--hero {
  background-color: var(--color--dark-blue);
}

.nofo--cover-page--hero .nofo--cover-page--header--logo svg .cls-5 {
  fill: var(--color--white);
}

/* Table of contents */

.toc h2 {
  color: var(--color--cdc-blue);
}

.toc--section-name--a {
  color: var(--color--cdc-blue);
}

/* Before you begin page */

.before-you-begin h2 {
  color: var(--color--cdc-blue);
}

/* Section title page */

/* Section contents */
