<!-- sticky sidenav -->
<aside class="grid-col-12 tablet:grid-col-3 cg-sidenav">
  <p class="side-nav-list--intro">Steps in this {% if document_is_instance == True %}NOFO{% else %}content guide{% endif %}</p>

  <nav id="side-nav" aria-label="Step navigation">
    <ul id="side-nav-list" class="usa-sidenav">
      {% for section in sections %}
        <li class="usa-sidenav__item">
          <a
            href="{% url 'composer:section_view' document_pk section.pk %}"
            {% if section.id == current_section.id %}aria-current="page" class="usa-current"{% endif %}>
            {{ section.name }}
          </a>
        </li>
      {% endfor %}
      <li class="usa-sidenav__item">
        {% if document_is_instance %}
          <a href="{% url 'composer:writer_preview' document_pk %}" {% if is_preview %}aria-current="page" class="usa-current"{% endif %}>
            Preview NOFO
          </a>
        {% else %}
          <a href="{% url 'composer:composer_preview' document_pk %}" {% if is_preview %}aria-current="page" class="usa-current"{% endif %}>
            Preview content guide
          </a>
        {% endif %}
      </li>
    </ul>
  </nav>
</aside>
