{% load subsection_name_or_placeholder %}

<section
  class="usa-alert usa-alert--warning usa-alert--not-started usa-alert--heading-sm"
  aria-label="You have not started some sections."
>
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">You have not started some sections</h3>
    <div>
      <details class="usa-details">
        <summary>
          {% with count=not_started_subsections|length %}
            {% if count == 1 %}
              <span>You have not yet looked at <strong>1 section</strong> below</span>
            {% else %}
              <span>You have not yet looked at <strong>{{ count }} sections</strong> below</span>
            {% endif %}
          {% endwith %}
        </summary>
        <div class="margin-top-1">
          <ul class="usa-list usa-list--no-max-width margin-top-1">
            {% for subsection in not_started_subsections %}
              <li>
                <a href="#{{ subsection.html_id }}">
                  {{ subsection|subsection_name_or_placeholder }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </details>
    </div>
  </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", function () {

  // Find only the links inside the "not started" warning alert
  const links = document.querySelectorAll(
    ".usa-alert.usa-alert--not-started a[href^='#']"
  );

  links.forEach(link => {
    link.addEventListener("click", function (e) {
      const id = this.getAttribute("href").substring(1); // remove leading '#'
      // Find accordion for subsection
      const accordion = document.getElementById(id);
      if (!accordion) return;

      // Find accordion heading button that controls open/close behaviour
      const button = accordion.querySelector(".usa-accordion__button");
      if (!button) return;

      // USWDS accordions expand when aria-expanded="true"
      const isExpanded = button.getAttribute("aria-expanded") === "true";
      if (!isExpanded) {
        button.click();
        }
    });
  });
});
</script>
