{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO title and short name
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO title and short name" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-title--form" method="post">
    {% csrf_token %}

    {% include "includes/form_macro.html" with hint2="eg: “Physician Assistant Rural Training in Mental and Behavioral Health (PCTE-PARM) Program”" hint2for="title" %}

    <div class="usa-hint margin-top-05" id="short_name--hint-2">
      Opportunity number for this NOFO: {{ nofo.number }}
    </div>

    <button class="usa-button margin-top-3" type="submit">Save name</button>
  </form>
{% endblock %}
