{% extends 'base.html' %}

{% block title %}
  Name your NOFO
{% endblock %}

{% block content %}
  <section class="usa-section">
    <div class="grid-container">
      <div class="back-link font-body-md margin-bottom-105">
        <a href="{% url 'nofos:nofo_index' %}">← All NOFOs</a>
      </div>
      <h1 class="font-heading-xl margin-y-0">Name your NOFO</h1>

      <form id="nofo-name--form" method="post">
        {% csrf_token %}

        {% include "includes/text_input_macro.html" with field=form.title hint2="eg: “Physician Assistant Rural Training in Mental and Behavioral Health (PCTE-PARM) Program”" only %}

        {% include "includes/text_input_macro.html" with field=form.short_name hint2="eg: “(HRSA) PA Rural Training Program”" only %}

        <button class="usa-button margin-top-3" type="submit">Save NOFO name</button>
      </form>
    </div>
  </section>
{% endblock %}
