{% extends 'base.html' %}

{% block title %}
    NOFOs Web Flow
{% endblock %}

{% block content %}
    <section class="usa-section">
        <div class="grid-container">
            {% for message in messages %}
                {% if "success" in message.tags %}
                    <div class="usa-alert usa-alert--success margin-bottom-3">
                        <div class="usa-alert__body">
                            <h4 class="usa-alert__heading">NOFO imported successfully</h4>
                            <p class="usa-alert__text">
                                {{ message | safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="back-link font-body-md margin-bottom-105">
                <a href="{% url 'index' %}">← Homepage</a>
            </div>
            <h1 class="font-heading-xl margin-y-0">All NOFOs</h1>
            {% if nofo_list %}
                <table class="usa-table usa-table--borderless">
                    <caption>
                      All of your NOFOs in a big list
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">NOFO title</th>
                        <th scope="col">Number of sections</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for nofo in nofo_list %}
                            <tr>
                                <th scope="row">{{ nofo.title }}</th>
                                <td>{{ nofo.sections.count }}</td>
                            <tr>
                        {% endfor %}
                    </tbody>
                  </table>
            {% else %}
                <p>No Fos are available.</p>
            {% endif %}
            <h2 class="font-heading-md">Import a new NOFO</h2>
            <p><a href="{% url 'nofos:nofo_import' %}">Use this handy NOFO importer to add a NOFO</a>.</p>
            <p>Export your NOFO document as HTML or Markdown from Google Docs and then upload it here.</p>
        </div>
    </section>
{% endblock %}