{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  Re-import “{% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}”
{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning</h4>
      <p class="usa-alert__text">
        Re-importing a NOFO overwrites all existing content except the title.
      </p>
      <p class="usa-alert__text">
        If you continue, you will lose all manual edits made since creating the NOFO.
      </p>
    </div>
  </div>

  {% with nofo|nofo_name as nofo_name_str %}
    {% with "Edit  “"|add:nofo_name_str|add:"”" as back_text %}
      {% url 'nofos:nofo_edit' nofo.id as back_href %}
      {% include "includes/page_heading.html" with title="Re-import “"|add:nofo_name_str|add:"”" back_text=back_text back_href=back_href only %}
    {% endwith %}
  {% endwith %}

  <form id="nofo-import--form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% with id="nofo-import" label="Select NOFO file" hint="Please only submit HTML or Markdown files." value=title %}
      {% for message in messages %}
        {% if "error" in message.tags %}
          {% include "includes/file_input.html" with id=id label=label hint=hint error=message only %}
        {% endif %}
      {% empty %}
        {% include "includes/file_input.html" with id=id label=label hint=hint only %}
      {% endfor %}
    {% endwith %}

    <button class="usa-button margin-top-3" type="submit">Re-import</button>
  </form>
{% endblock %}
