{% extends 'base.html' %}

{% block title %}
  Import a new NOFO 
{% endblock %}

{% block content %}
  <div class="back-link font-body-md margin-bottom-105">
    <a href="{% url 'nofos:nofo_index' %}">← All NOFOs</a>
  </div>
  <h1 class="font-heading-xl margin-y-0">Import a new NOFO</h1>
  <form id="nofo-import--form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% with id="nofo-import" label="Select NOFO file" hint="Please only submit HTML or Markdown files." value=title %}
      {% for message in messages %}
        {% if "error" in message.tags %}
          {% include "includes/file_input.html" with id=id label=label hint=hint error=message only %}
        {% endif %}
      {% empty %}
        {% include "includes/file_input.html" with id=id label=label hint=hint only %}
      {% endfor %}
    {% endwith %}

    <button class="usa-button margin-top-3" type="submit">Import</button>
  </form>
{% endblock %}
