{% extends 'base.html' %}
{% load martortags nofo_name get_value_or_none %}

{% block title %}
  Edit “{{ nofo|nofo_name }}”
{% endblock %}

{% block js_footer %}
<script>
  const els = document.querySelectorAll("caption")
  console.log('els', els)
  const observer = new IntersectionObserver( 
    ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
    { threshold: [1] }
  );

  els.forEach(el => observer.observe(el));
</script>
{% endblock %}

{% block body_class %}nofo_edit{% endblock %}

{% block content %}
  <div class="back-link font-body-md margin-bottom-105">
    <a href="{% url 'nofos:nofo_index' %}">← All NOFOs</a>
  </div>
  <div class="nofo_edit--header">
    {% with nofo|nofo_name as nofo_name_str %}
      <h1 class="font-heading-xl margin-y-0">Edit “{{ nofo_name_str }}”</h1>
    {% endwith %}
    <span class="nofo_edit--header--view font-sans-md"><a href="{% url 'nofos:nofo_view' nofo.id %}">View this NOFO</a></span>
  </div>

  <p>Make small edits to your NOFO here.</p>
  <div
    class="usa-summary-box"
    role="region"
    aria-labelledby="summary-box-key-information"
  >
    <div class="usa-summary-box__body">
      <h2 class="usa-summary-box__heading font-heading-sm" id="summary-box-key-information">
        Other actions
      </h2>
      <div class="usa-summary-box__text">
        <ul class="usa-list usa-list--unstyled">
          <li>
            <p>
            <a class="usa-button" href="{% url 'nofos:nofo_import_overwrite' nofo.id %}">
              Re-import NOFO
            </a>— upload an updated HTML file
            </p>
          </li>
          <li>
            <p>
            <a class="usa-button usa-button--secondary" href="{% url 'nofos:nofo_delete' nofo.id %}">
              Delete NOFO
            </a>— remove this NOFO completely
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <table class="usa-table usa-table--borderless width-full">
    <caption>
      <h2 class="margin-bottom-0">NOFO metadata</h2>
      <span><a href="#back-to-top">Top ↑</a></span>
    </caption>
    <thead class="usa-sr-only">
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Title</th>
        <td>{{ nofo.title }}</td>
        <td><a href="{% url 'nofos:nofo_edit_title' nofo.id %}">Edit<span class="usa-sr-only"> title</span></a></td>
      <tr>
      {% if nofo.short_name %}
        <tr>
          <th scope="row">Short&nbsp;name</th>
          <td>{{ nofo.short_name }}</td>
          <td><a href="{% url 'nofos:nofo_edit_title' nofo.id %}">Edit<span class="usa-sr-only"> short name</span></a></td>
        <tr>
      {% endif %}
      <tr>
        <th scope="row">Number</th>
        <td>{{ nofo.number|get_value_or_none:"number" }}</td>
        <td><a href="{% url 'nofos:nofo_edit_number' nofo.id %}">Edit<span class="usa-sr-only"> number</span></a></td>
      <tr>
      <tr>
        <th scope="row">Tagline</th>
        <td>{{ nofo.tagline|get_value_or_none:"tagline" }}</td>
        <td><a href="{% url 'nofos:nofo_edit_tagline' nofo.id %}">Edit<span class="usa-sr-only"> theme</span></a></td>
      <tr>
      <tr>
        <th scope="row">Theme</th>
        <td>{{ nofo.get_theme_display|get_value_or_none:"theme" }}</td>
        <td><a href="{% url 'nofos:nofo_edit_theme' nofo.id %}">Edit<span class="usa-sr-only"> theme</span></a></td>
      <tr>
    </tbody>
  </table>

  <table class="usa-table usa-table--borderless width-full">
    <caption>
      <h2 class="margin-bottom-0">{% if nofo.coach %}Assigned coach{% else %}Assign a coach{% endif %}</h2>
      <span><a href="#back-to-top">Top ↑</a></span>
    </caption>
    <thead class="usa-sr-only">
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Value</th>
        <th scope="col">Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name of coach</th>
        <td>{{ nofo.get_coach_display|get_value_or_none:"coach" }}</td>
        <td><a href="{% url 'nofos:nofo_edit_coach' nofo.id %}">Edit<span class="usa-sr-only"> assigned coach</span></a></td>
      <tr>
    </tbody>
  </table>

  {% for section in nofo.sections.all %}
    <table class="usa-table usa-table--borderless width-full">
      <caption>
        <h2 class="margin-bottom-0">{{ section.name }}</h2>
        <span><a href="#back-to-top">Top ↑</a></span>
      </caption>
      <thead class="usa-sr-only">
        <tr>
          <th scope="col">Heading</th>
          <th scope="col">Content</th>
          <th scope="col">Manage</th>
        </tr>
      </thead>
      <tbody>
        {% for subsection in section.subsections.all %}
          <tr>
            <th scope="row" class="nofo-edit-table--subsection--name">{{ subsection.name }}</th>
            <td class="nofo-edit-table--subsection--body">{{ subsection.body|safe_markdown|get_value_or_none:"content" }}</td>
            <td><a href="{% url 'nofos:subsection_edit' nofo.id subsection.id %}">Edit<span class="usa-sr-only"> subsection: {{ subsection.name }}</span></a></td>
          <tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
{% endblock %}
