{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO Theme
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO Theme" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-theme--form" method="post">
    {% csrf_token %}

    <label class="usa-label" for="{{ form.theme.name }}">{{ form.theme.label }}</label>

    <div class="usa-hint" id="{{ form.theme.name }}--hint-1">
      {{ form.theme.help_text }}
    </div>
    <select class="usa-select border-2px" name="{{ form.theme.name }}" id="{{ form.theme.name }}" aria-describedby="{{ form.theme.name }}--hint-1">
      {% for opdiv, choices in theme_categories.items %}
        <optgroup label="{{ opdiv }}">
          {% for choice_value, choice_label in choices %}
           <option value="{{ choice_value }}" {% if  nofo.theme == choice_value %}selected{% endif %}>{{ choice_label }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select>

    <button class="usa-button margin-top-3" type="submit">Save theme</button>
  </form>
{% endblock %}
