{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  Delete “{{ nofo|nofo_name }}”
{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning</h4>
      <p class="usa-alert__text">
        Deleting a NOFO removes it permanently.
      </p>
      <p class="usa-alert__text">
        If you want to update this NOFO with new content, you can <a href="{% url 'nofos:nofo_import_overwrite' nofo.id %}">re-import this NOFO</a> instead.
      </p>
    </div>
  </div>

  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
  {% with "Delete “"|add:nofo_name_str|add:"”" as title %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title=title back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-delete--form" method="post">
    {% csrf_token %}
    <p>Are you absolutely sure you want to delete “{{ nofo|nofo_name }}”?</p>

    <ul class="usa-button-group margin-top-3">
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--secondary" type="submit">Yes, delete it</button>
      </li>
      <li class="usa-button-group__item">
        <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-button usa-button--outline">Never mind, I don’t want to delete this NOFO</a>
      </li>
    </ul>
  </form>
{% endblock %}
