{% extends 'base.html' %}

{% block title %}
  Import a JSON NOFO 
{% endblock %}

{% block content %}
  {% url 'nofos:nofo_index' as back_href %}
  {% include "includes/page_heading.html" with title="Import a JSON NOFO" back_text="All NOFOs" back_href=back_href only %}

  <form id="nofo-import-json--form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% with id="nofo-import-json" label="Select NOFO file" hint="Accepts .json files only." accept=".json" value=title %}
      {% for message in messages %}
        {% if "error" in message.tags %}
          {% include "includes/file_input.html" with id=id label=label hint=hint accept=accept error=message only %}
        {% endif %}
      {% empty %}
        {% include "includes/file_input.html" with id=id label=label hint=hint accept=accept only %}
      {% endfor %}
    {% endwith %}

    <button class="usa-button margin-top-3" type="submit">Import JSON NOFO</button>
  </form>
{% endblock %}
