{% extends "base.html" %}
{% load static nofo_name tz %}

{% block title %}
  Modification history for “{{ nofo|nofo_name }}”
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
    {% with "Edit “"|add:nofo_name_str|add:"”" as back_text %}
      {% url 'nofos:nofo_edit' nofo.id as back_href %}
      {% include "includes/page_heading.html" with title="Modification history for “"|add:nofo_name_str|add:"”" back_text=back_text back_href=back_href only %}
    {% endwith %}
  {% endwith %}

  {% if modification_date %}
    <p class="margin-bottom-4">
      Showing all changes made since adding modifications on <strong>{{ modification_date|localtime|date:"F j, Y, g:i a" }}</strong>
    </p>

    {% if modification_events %}
      <ul class="usa-list">
        {% for event in modification_events %}
          <li>
            <div>
              <strong>{{ event.event_type }}</strong>
            </div>
            <div>
              ({{ event.object_type }}) {{ event.object_description }}
            </div>
            <div class="text-base">
              {% timezone "America/New_York" %}
                {{ event.timestamp|date:'F j' }}, {{ event.timestamp|date:'g:i A' }}
              {% endtimezone %}
            </div>
          </li>
        {% endfor %}
      </ul>

      <h2 class="margin-top-4 font-serif-md">As a markdown table</h3>
      <div class="bg-base-lightest padding-3 radius-md margin-bottom-3 overflow-auto">
        <code>
          | Modification description | Date updated |</br>
          |--------------------------|--------------|</br>
          {% for event in modification_events %}
          {% if event.object_html_id %}
            | Updated “[{{ event.object_description }}](#{{ event.object_html_id }})” | {{ event.timestamp|date:"F j, Y" }} |</br>
          {% else %}
            | Updated “{{ event.object_description }}” | {{ event.timestamp|date:"F j, Y" }} |</br>
          {% endif %}
          {% endfor %}
          </code>
      </div>
    {% else %}
      <p>No changes found after the modification date.</p>
    {% endif %}

  {% else %}
    <p>
      This NOFO has no modification date set. No modification history available.
    </p>
  {% endif %}
{% endblock %}