{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO cover style
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO cover style" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <p>Pick a cover style for this NOFO.</p>
  <ul class="usa-list">
    <li><strong>Full coverage with image:</strong> Full-bleed image on cover page.</li>
    <li><strong>Standard image:</strong> A medium-sized image in the bottom-right corner.</li>
    <li><strong>Text only:</strong> A simple, typography-focused cover style.</li>
  </ul>

  <form id="nofo-cover--form" method="post">
    {% csrf_token %}

    {% include "includes/form_macro.html" %}

    <button class="usa-button margin-top-3" type="submit">Save cover style</button>
  </form>
{% endblock %}
