{% extends 'base_barebones.html' %}
{% load static martortags nofo_section_name_separator add_classes_to_tables add_footnote_ids callout_box_contents static_icon replace_unicode_with_icon add_classes_to_paragraphs add_captions_to_tables is_floating_callout_box split_char_and_remove %}

{% block metadata %}
  {% if nofo.author %}
    <meta name="author" content="{{ nofo.author }}" >
  {% endif %}
  {% if nofo.subject %}
    <meta name="subject" content="{{ nofo.subject }}" >
  {% endif %}
  {% if nofo.keywords %}
    <meta name="keywords" content="{{ nofo.keywords }}" >
  {% endif %}
{% endblock %}

{% block css %}
  {% with "theme-orientation-"|add:nofo_theme_orientation|add:'.css' as filename_orientation %}
    <link href="{% static filename_orientation %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}

  {% with "theme-opdiv-"|add:nofo_opdiv.key|add:'.css' as filename_opdiv %}
    <link href="{% static filename_opdiv %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}

  {% with "theme-opdiv-"|add:nofo_theme_base|add:'.css' as filename %}
    <link href="{% static filename %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}
{% endblock %}

{% block title %}{{ nofo.title }}{% endblock %}

{% block body_class %}{{ nofo.theme }} {{ nofo_theme_orientation }} {{ nofo_opdiv.key }} {{ nofo_theme_base }}{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" style="margin-top: 1rem;">
          <em class="usa-logo__text">
            <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link">← All NOFOs</a>
          </em>
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-nav-link">Edit this NOFO</a>
          </li>
          {% if request.user.is_superuser %}
            <li class="usa-nav__primary-item">
              <a href="/admin/constance/config/" class="usa-nav-link">
                {% if DOCRAPTOR_TEST_MODE %}Deactivate ‘test mode’{% else %}Activate ‘test mode’{% endif %}
              </a>
            </li>
          {% endif %}
          <li class="usa-nav__primary-item">
            <form method="post" action="{% url 'nofos:print_pdf' nofo.id %}">
              {% csrf_token %}
              <!-- Adding inline styling here because I don't want to clutter up the CSS file with non-PDF css -->
              <button type="submit" class="usa-button" {% if request.scheme == 'http' %}disabled style="margin-bottom:5px;border-radius:.25rem;text-decoration:line-through;box-shadow: inset 0 0 0 2px #c9c9c9;"{% else %}style="margin-bottom:5px;border-radius:.25rem;color:white;background-color:#005ea2;"{% endif %}>
                Print{% if DOCRAPTOR_TEST_MODE %} test{% endif %} NOFO
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- COVER PAGE -->
  <section id="section--cover-page" class="nofo--cover-page {{ nofo.cover }}">
    <div class="nofo--cover-page--header">
      <div class="nofo--cover-page--header--logo">
        <img class="nofo--cover-page--header--logo--img" alt="{{ nofo_opdiv.name }} logo" src="https://bn-ptzepiewjq-uc.a.run.app/static/{{ nofo_opdiv.filename }}">
        <div class="nofo--cover-page--header--logo--subheading">
          {% if nofo.cover == 'nofo--cover-page--text' %}
            <p>{{ nofo.agency }}</p>
            <p>{% if nofo.subagency2 %}{{ nofo.subagency2 }}{% elif nofo.subagency %}{{ nofo.subagency }}{% endif %}</p>
          {% else %}
            <p>{% if nofo.subagency2 %}{{ nofo.subagency2 }}{% elif nofo.subagency %}{{ nofo.subagency }}{% else %}{{ nofo.agency }}{% endif %}</p>
          {% endif %}
        </div>
      </div>
      <div class="nofo--cover-page--header--intro">
        <span>Notice of Funding Opportunity</span>
        <br >
        <span>Application due {{ nofo.application_deadline }}</span>
      </div>
    </div>
    <div class="nofo--cover-page--hero-image">
      <img alt="" src="{% static nofo_cover_img %}">
    </div>
    <div class="nofo--cover-page--title">
      <div class="nofo--cover-page--title--block">
        <h1>{{ nofo.title }}</h1>
        <div class="nofo--cover-page--title--subheading">
          <span>Opportunity number: {{ nofo.number }}</span>
        </div>
      </div>
      <div class="nofo--cover-page--title--logo">
        <img alt="Heath and Human Services logo" src="{% static nofo_hhs_img %}">
      </div>
    </div>
    <div class="nofo--cover-page--footer clearfix">
      <div class="nofo--cover-page--footer--logo">
        <img alt="Heath and Human Services logo" src="{% static nofo_hhs_img %}">
      </div>
      <div class="nofo--cover-page--footer--subheading">
        <span>Notice of Funding Opportunity</span>
        <span>Application due {{ nofo.application_deadline }}</span>
      </div>
      <div class="nofo--cover-page--footer--image">
        <img alt="" src="{% static nofo_cover_img %}">
      </div>
    </div>
  </section>

  <section id="section--toc" class="toc">
    <h2>Contents</h2>
    {% spaceless %}
    <ol class="usa-list usa-list--unstyled">

      <li class="toc--section-name toc--no-icon toc--before-you-begin">
        <div class="toc--section-name--wrapper">
          <ol class="usa-list usa-list--unstyled">
            <li class="toc--subsection-name"><a href="#section--before-you-begin">Before you begin</a></li>
          </ol>
        </div>
      </li>

      {% for section in nofo.sections.all|dictsort:"order" %}
        {% if section.has_section_page %}
          <li class="toc--section-name">
            <img class="toc--section-name--img {% static_icon section.name nofo.theme 'toc' nofo.number %}" src="{% static_icon section.name nofo.theme 'toc' nofo.number %}" alt="">
            <div class="toc--section-name--wrapper">
              <a href="#{{ section.html_id }}" class="toc--section-name--a">{{ section.name }}</a>

              {% if section.name != "Contacts & Support" and section.name != "Contacts and Support" %}
                <ol class="usa-list usa-list--unstyled">
                  {% for subsection in section.subsections.all|dictsort:"order" %}
                    {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                      {% if tag == 'h3' %}
                        <li class="toc--subsection-name"><a href="#{{ subsection.html_id }}">{{ content }}</a></li>
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
          </li>
        {% else %}
          <li class="toc--section-name toc--no-icon toc--{{ section.html_id }}">
            <div class="toc--section-name--wrapper">
              <ol class="usa-list usa-list--unstyled">
                <li class="toc--subsection-name"><a href="#section--{{ section.html_id }}">{{ section.name }}</a></li>
              </ol>
            </div>
          </li>
        {% endif%}
      {% endfor %}
    </ol>
    {% endspaceless %}
  </section>

  <section id="section--before-you-begin" class="before-you-begin">
    <div class="section--before-you-begin--icon">
      <img src="{% static_icon 'before you begin' nofo.theme 'before_you_begin' %}" alt="">
    </div>
    <h2>Before you begin</h2>
    <div class="before-you-begin--content">
      <p>If you believe you are a good candidate for this funding opportunity, secure your <a href="https://sam.gov">SAM.gov</a> and <a href="https://grants.gov">Grants.gov</a> registrations now. If you are already registered, make sure your registration is active and up-to-date.</p>
      <p class="section--before-you-begin--psuedo-header">SAM.gov registration (this can take several weeks)</p>
      <p>You must have an active account with SAM.gov. This includes having a Unique Entity Identifier (UEI).</p>
      <a href="#step-2-get-ready-to-apply">See Step 2: Get Ready to Apply</a>

      <p class="section--before-you-begin--psuedo-header">Grants.gov registration (this can take several days)</p>
      <p>You must have an active Grants.gov registration. Doing so requires a Login.gov registration as well.</p>
      <a href="#step-2-get-ready-to-apply">See Step 2: Get Ready to Apply</a>

      <p class="section--before-you-begin--psuedo-header">Apply by {{ nofo.application_deadline|split_char_and_remove:"-" }}</p>
      <p>Applications are due by 11:59 p.m. Eastern Time on {{ nofo.application_deadline|split_char_and_remove:"-" }}.</p>
    </div>
  </section>

  {% for section in nofo.sections.all|dictsort:"order" %}
    <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} section--{{ section.html_id }}">
      <!-- SECTION TITLE PAGE -->
      {% if section.has_section_page %}
        <div class="title-page section--title-page">
          <div class="header-nav section--title-page--header-nav">
            <p>Jump to a step</p>
            <ol>
              {% with nofo.sections.all|dictsort:"order" as nav_sections %}
                <li><a href="#section--{{ nav_sections.0.html_id }}" {% if nav_sections.0.html_id == section.html_id %}aria-current="step"{% endif %}>Review</a></li>
                <li><a href="#section--{{ nav_sections.1.html_id }}" {% if nav_sections.1.html_id == section.html_id %}aria-current="step"{% endif %}>Get ready</a></li>
                <li><a href="#section--{{ nav_sections.2.html_id }}" {% if nav_sections.2.html_id == section.html_id %}aria-current="step"{% endif %}>Prepare</a></li>
                <li><a href="#section--{{ nav_sections.3.html_id }}" {% if nav_sections.3.html_id == section.html_id %}aria-current="step"{% endif %}>Learn</a></li>
                <li><a href="#section--{{ nav_sections.4.html_id }}" {% if nav_sections.4.html_id == section.html_id %}aria-current="step"{% endif %}>Submit</a></li>
                <li><a href="#section--{{ nav_sections.5.html_id }}" {% if nav_sections.5.html_id == section.html_id %}aria-current="step"{% endif %}>Award</a></li>
                <li><a href="#section--{{ nav_sections.6.html_id }}" {% if nav_sections.6.html_id == section.html_id %}aria-current="step"{% endif %}>Contacts</a></li>
              {% endwith %}
            </ol>
          </div>
          <div class="section--title-page--name">
            <div class="section--title-page--icon">
              <img src="{% static_icon section.name nofo.theme 'section_cover' %}" alt="">
            </div>
            <h2 id="{{ section.html_id }}">
              {% with section.name|nofo_section_name_separator as section_name %}
                {% if section_name.number %}
                  <span>Step {{ section_name.number }}:</span>
                  <br >
                {% endif %}
                <span>{{ section_name.name }}</span>
              {% endwith %}
            </h2>
          </div>
          <div class="section--title-page--toc">
            <p>In this step</p>
            <ul>
              {% for subsection in section.subsections.all|dictsort:"order" %}
                {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                  {% if tag == 'h3' %}
                    <li><a href="#{{ subsection.html_id }}">{{ content }}</a></li>
                  {% endif %}
                {% endwith %}
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <!-- RUNNING HEADER -->
      <!-- after first section title page -->
      <div class="header-nav header-nav--running-header">
        <ol>
          {% with nofo.sections.all|dictsort:"order" as nav_sections %}
              <li><a href="#section--{{ nav_sections.0.html_id }}" {% if nav_sections.0.html_id == section.html_id %}aria-current="step"{% endif %}>Review</a></li>
              <li><a href="#section--{{ nav_sections.1.html_id }}" {% if nav_sections.1.html_id == section.html_id %}aria-current="step"{% endif %}>Get ready</a></li>
              <li><a href="#section--{{ nav_sections.2.html_id }}" {% if nav_sections.2.html_id == section.html_id %}aria-current="step"{% endif %}>Prepare</a></li>
              <li><a href="#section--{{ nav_sections.3.html_id }}" {% if nav_sections.3.html_id == section.html_id %}aria-current="step"{% endif %}>Learn</a></li>
              <li><a href="#section--{{ nav_sections.4.html_id }}" {% if nav_sections.4.html_id == section.html_id %}aria-current="step"{% endif %}>Submit</a></li>
              <li><a href="#section--{{ nav_sections.5.html_id }}" {% if nav_sections.5.html_id == section.html_id %}aria-current="step"{% endif %}>Award</a></li>
              <li><a href="#section--{{ nav_sections.6.html_id }}" {% if nav_sections.6.html_id == section.html_id %}aria-current="step"{% endif %}>Contacts</a></li>
            {% endwith %}
        </ol>
      </div>

      <!-- SECTION CONTENT -->
      <div class="section--content">
        {% if not section.has_section_page %}
          {% include "includes/heading.html" with tag="h2" content=section.name id=section.html_id only %}
        {% endif %}
        <!-- for the very first subsection, add the nofo agency, subagency, and tagline -->
        {% if section.order == 1 %}
          {% with first_subsection=nofo.get_first_subsection %}
            {% with tag=first_subsection.tag content=first_subsection.name id=first_subsection.html_id %}
              {% include "includes/heading.html" with tag=tag content=content id=id only %}
            {% endwith %}
              <div class="section--content--intro">
              <p><strong>{{ nofo.opdiv }}</strong></p>
              <p>{{ nofo.agency }}</p>
              {% if nofo.subagency %}<p>{{ nofo.subagency }}</p>{% endif %}
              {% if nofo.subagency2 %}<p>{{ nofo.subagency2 }}</p>{% endif %}
              {% if  nofo.tagline %}<p class="nofo--tagline">{{ nofo.tagline }}</p>{% endif %}
            </div>
          {% endwith %}
        {% endif %}

        <!-- if in portrait mode, add callout boxes in right margin -->
        {% if nofo_theme_orientation == 'portrait' %}
          <div class="section--absolute--right-col">
            {% for subsection in section.subsections.all|dictsort:"order" %}
              {% if subsection.callout_box and subsection|is_floating_callout_box %}
                {% include "includes/callout_box.html" with subsection=subsection nofo=nofo nofo_opdiv=nofo_opdiv break_colons=True only %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        <!-- loop through remaining subsections as usual -->
        {% for subsection in section.subsections.all|dictsort:"order" %}
          {% if subsection.callout_box %}
            {% if nofo_theme_orientation == 'portrait' %}
              {% if not subsection|is_floating_callout_box %}
                {% include "includes/callout_box.html" with subsection=subsection nofo=nofo nofo_opdiv=nofo_opdiv break_colons=False only %}
              {% endif %}
            {% else %}
              {% include "includes/callout_box.html" with subsection=subsection nofo=nofo nofo_opdiv=nofo_opdiv only %}
            {% endif %}
          {% else %}
            {% if subsection.name != 'Basic information' %}
              {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
              {% endwith %}
                {{ subsection.body|safe_markdown|add_classes_to_tables|replace_unicode_with_icon|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables }}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
