{% extends 'base_barebones.html' %}
{% load static martortags nofo_section_name_separator %}

{% block title %}
 View: {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}
{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">
            <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link">← All NOFOs</a>
          </em>
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-nav-link">Edit this NOFO</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}
  <section class="title-page nofo--title-page">
    <div class="nofo--title-page--header clearfix">
      <div class="nofo--title-page--header--logo">
        <img alt="HRSA Health Workforce logo" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/hrsa-logo.png" />
      </div>
      <div class="nofo--title-page--header--intro">
        <span>Notice of Funding Opportunity</span>
        <br />
        <span>Opportunity number: HRSA-24-019</span>
      </div>
    </div>
    <div class="nofo--title-page--title">
      <h1 class="font-heading-xl margin-y-0">{{ nofo.title }}</h1>
    </div>
    <div class="nofo--title-page--footer clearfix">
      <div>
        <img alt="Two doctors conversing" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/title-pic.jpg" />
      </div>
      <div>
        <img alt="Heath and Human Services logo" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/hhs-logo.svg" />
      </div>
    </div>
  </section>
  {% for section in nofo.sections.all %}
    <section id="{{ section.name|slugify }}" class="section section--{{ forloop.counter }}">
      <div class="title-page section--title-page">
        <div class="section--title-page--name">
          <h2 id="{{ section.html_id }}">
            {% with section.name|nofo_section_name_separator as section_name %}
              <span>Step {% if section_name.number %}{{ section_name.number }}{% else %}{{ forloop.counter }}{% endif %}:</span>
              <br />
              <span>{{ section_name.name }}</span>
            {% endwith %}
          </h2>
        </div>
        <div class="section--title-page--toc">
          <p>In this step</p>
          <ul>
            {% for subsection in section.subsections.all %}
              {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                {% if tag == 'h3' %}
                  <li><a href="#{{ subsection.html_id }}">{{ content }}</a></li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ul>
        </div>
        <div class="section--title-page--section-nav">
          <p>Jump to a section</p>
          <ol>
            {% for section in nofo.sections.all %}
              {% with section.name|nofo_section_name_separator as section_name %}
                <li><a href="#{{ section.html_id }}">{{ section_name.name }}</a></li>
              {% endwith %}
            {% endfor %}
          </ol>
        </div>
      </div>
      
      <div class="section--content">
        {% for subsection in section.subsections.all %}
          {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
            {% include "includes/heading.html" with tag=tag content=content id=id only %}
          {% endwith %}
          {{ subsection.body|safe_markdown }}
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
