{% extends 'base.html' %}

{% block title %}
	All NOFOs
{% endblock %}

{% block content %}
	{% include "includes/alerts.html" with messages=messages success_heading="NOFO imported successfully" error_heading="NOFO deleted" only %}

	<h1 class="font-heading-xl margin-y-0">All{% if nofo_status and nofo_status != 'all' %} {{ nofo_status }}{% endif %} NOFOs</h1>

	<p class="nofo_index--filter">
		<a href="{% url 'nofos:nofo_index' %}?status=all" {% if nofo_status == 'all' %}aria-current="page"{% endif %}>All NOFOs</a> | 
		<a href="{% url 'nofos:nofo_index' %}" {% if not nofo_status or nofo_status == 'unpublished' %}aria-current="page"{% endif %}>All unpublished NOFOs</a> | 
		<a href="{% url 'nofos:nofo_index' %}?status=published" {% if nofo_status == 'published' %}aria-current="page"{% endif %}>All published NOFOs</a>
	</p>

	{% if nofo_list %}
		<table class="usa-table usa-table--borderless width-full">
			<caption>
				{% if not nofo_status or nofo_status == 'unpublished' %}
					NOFOs being worked on or in review.
				{% elif nofo_status == 'published' %}
					NOFOs that made it across the finish line.
				{% elif nofo_status == 'all' %}
					All the NOFOs fit to show.
				{% else %}
					List of NOFOs with status: {{ nofo_status }}
				{% endif %}
			</caption>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Number</th>
					<th scope="col">Status</th>
					<th scope="col">Created</th>
					<th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				{% for nofo in nofo_list %}
					<tr>
						<th scope="row"><a href="{% url 'nofos:nofo_view' nofo.id %}">{% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</a></th>
						<td>{% if nofo.number %}{{ nofo.number }}{% else %}—{% endif %}</td>
						<td>{{ nofo.get_status_display }}</td>
						<td>{{ nofo.created|date:'M j' }}</td>
						<td><a href="{% url 'nofos:nofo_edit' nofo.id %}">Edit<span class="usa-sr-only"> {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</span></a></td>
					<tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No Fos are available{% if nofo_status %} that are “{{ nofo_status }}”{% endif %}.</p>
	{% endif %}
	<h2 class="font-heading-md margin-top-6">Import a new NOFO</h2>
	<p>Export your NOFO document as HTML from Google Docs and then upload it here.</p>
	<p>
		<a class="usa-button" href="{% url 'nofos:nofo_import' %}">
    Import NOFO
		</a>
	</p>
{% endblock %}
