{% extends 'base.html' %}

{% block title %}
	All NOFOs
{% endblock %}

{% block content %}
	{% include "includes/alerts.html" with messages=messages success_heading="NOFO imported successfully" error_heading="NOFO deleted" only %}

	{% include "includes/page_heading.html" with title="All NOFOs" only %}

	{% if nofo_list %}
		<table class="usa-table usa-table--borderless width-full">
			<caption>
				All the NOFOs fit to show.
			</caption>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Number</th>
					<th scope="col">Status</th>
					<th scope="col">Created</th>
					<th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				{% for nofo in nofo_list %}
					<tr>
						<th scope="row"><a href="{% url 'nofos:nofo_view' nofo.id %}">{% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</a></th>
						<td>{% if nofo.number %}{{ nofo.number }}{% else %}—{% endif %}</td>
						<td>{{ nofo.get_status_display }}</td>
						<td>{{ nofo.created|date:'M j' }}</td>
						<td><a href="{% url 'nofos:nofo_edit' nofo.id %}">Edit<span class="usa-sr-only"> {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</span></a></td>
					<tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No Fos are available.</p>
	{% endif %}
	<h2 class="font-heading-md">Import a new NOFO</h2>
	<p>Export your NOFO document as HTML from Google Docs and then upload it here.</p>
	<p>
		<a class="usa-button" href="{% url 'nofos:nofo_import' %}">
    Import NOFO
		</a>
	</p>
{% endblock %}
