{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO Agency
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO Agency" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-agency--form" method="post">
    {% csrf_token %}

    {% include "includes/form_macro.html" %}

    <button class="usa-button margin-top-3" type="submit">Save Agency</button>
  </form>
{% endblock %}
