{% extends 'base.html' %}
{% load tz %}

{% block title %}
	{{ nofo_group|title }}{% if nofo_status and nofo_status != 'all' %} {{ nofo_status }}{% endif %} NOFOs
{% endblock %}

{% block body_class %}nofo_index{% endblock %}

{% block content %}
	{% include "includes/alerts.html" with messages=messages success_heading="NOFO imported successfully" error_heading="NOFO deleted" only %}

	<h1 class="font-heading-xl margin-y-0">{{ nofo_group|title }}{% if nofo_status and nofo_status != 'all' %} {{ nofo_status }}{% endif %} NOFOs</h1>

	<p class="nofo_index--filter">
		<a href="{% url 'nofos:nofo_index' %}?group={{ nofo_group }}" {% if not nofo_status or nofo_status == 'in progress' %}aria-current="page"{% endif %}>In progress NOFOs</a> |
		<a href="{% url 'nofos:nofo_index' %}?status=published&group={{ nofo_group }}" {% if nofo_status == 'published' %}aria-current="page"{% endif %}>Published NOFOs</a> |
		<a href="{% url 'nofos:nofo_index' %}?status=paused&group={{ nofo_group }}" {% if nofo_status == 'paused' %}aria-current="page"{% endif %}>Paused NOFOs</a> |
		<a href="{% url 'nofos:nofo_index' %}?status=cancelled&group={{ nofo_group }}" {% if nofo_status == 'cancelled' %}aria-current="page"{% endif %}>Cancelled NOFOs</a>
	</p>

	{% if user.group == 'bloom' %}
    <p class="nofo_index--filter">
				<label class="usa-label display-inline-block font-sans-md margin-top-0" for="group-filter">Nofo Group:</label>
				<select class="usa-select border-2px width-auto display-inline-block margin-top-0" name="group-filter" id="group-filter" onchange="location = this.value;">
					<option value="{% url 'nofos:nofo_index' %}?status={{ nofo_status }}&group=bloom" {% if nofo_group == 'bloom' %}selected{% endif %}>Bloom</option>
					<option value="{% url 'nofos:nofo_index' %}?status={{ nofo_status }}&group=all" {% if nofo_group == 'all' %}selected{% endif %}>All</option>
				</select>
    </p>
	{% endif %}

	{% if nofo_list %}
		<table class="sortable usa-table usa-table--borderless width-full">
			<caption>
				{% if not nofo_status or nofo_status == 'in progress' %}
					NOFOs being worked on or in review.
				{% elif nofo_status == 'published' %}
					NOFOs that rode off into the sunset.
				{% elif nofo_status == 'paused' %}
					NOFOs cooling their heels at the saloon.
				{% elif nofo_status == 'cancelled' %}
					NOFOs that were put out to pasture.
				{% elif nofo_status == 'all' %}
					Every NOFO in the corral.
				{% else %}
					List of NOFOs with status: {{ nofo_status }}
				{% endif %}
			</caption>
			<thead>
				<tr>
					<th scope="col" tabindex="0">Short name</th>
					<th scope="col" tabindex="0">NOFO Number</th>
					{% if user.group == 'bloom' %}
						<th scope="col" class="nofo-group-col" tabindex="0">Group</th>
					{% endif %}
					<th scope="col" tabindex="0">Status</th>
					<th scope="col" tabindex="0">Coach</th>
					<th scope="col" tabindex="0">Designer</th>
					<th scope="col" tabindex="0">Updated</th>
					<th scope="col" class="no-sort">HTML</th>
				</tr>
			</thead>
			<tbody>
				{% for nofo in nofo_list %}
					<tr {% if nofo.status == 'ready-for-qa' %}class="ready-for-qa"{% endif %}>
						<th scope="row"><a href="{% url 'nofos:nofo_edit' nofo.id %}">{% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</a></th>
						<td>{% if nofo.number %}{{ nofo.number }}{% else %}—{% endif %}</td>
						{% if user.group == 'bloom' %}
							<td>
								<span class="usa-tag bg-group bg-group--{{ nofo.group }}">{{ nofo.group }}</span>
							</td>
						{% endif %}
						<td>{{ nofo.get_status_display }}</td>
						<td>{% if nofo.coach %}{{ nofo.get_coach_display }}{% else %}<span class="usa-sr-only">No coach assigned</span><span aria-hidden="true">—</span>{% endif %}</td>
						<td>{% if nofo.designer %}{{ nofo.get_designer_display }}{% else %}<span class="usa-sr-only">No designer assigned</span><span aria-hidden="true">—</span>{% endif %}</td>
						{% timezone "America/New_York" %}
							<td data-sort="{{ nofo.updated|date:"YmdHM" }}">
								<a href="{% url 'nofos:nofo_history' nofo.id %}" title="View audit history">
									{{ nofo.updated|date:'M j' }}{% if nofo.updated|date:'M j' == today_m_j %},<br>{{ nofo.updated|date:'g:i A' }}{% endif %}
									<span class="usa-sr-only"> - View audit history for {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</span>
								</a>
							</td>
						{% endtimezone %}
						<td><a href="{% url 'nofos:nofo_view' nofo.id %}">View<span class="usa-sr-only"> {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</span></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No Fos are available{% if nofo_status %} that are “{{ nofo_status }}”{% endif %}.</p>
	{% endif %}
	<h2 class="font-heading-md margin-top-6">Import a new NOFO</h2>
	<p>Upload your NOFO file as a Word Document.</p>
	<p>
		<a class="usa-button" href="{% url 'nofos:nofo_import' %}">
    Import NOFO
		</a>
	</p>
{% endblock %}

{% block js_footer %}
<script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@3/sortable.min.js"></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
    // Select all table headers in the nofo index
    const headers = document.querySelectorAll('.nofo_index table.usa-table.sortable thead th');

		headers.forEach(function(header) {
        header.addEventListener('keydown', function(event) {
            // Check if the Enter key (key code 13) is pressed
            if (event.key === 'Enter') {
                event.preventDefault();
                header.click(); // Simulate a click on the header
            }
        });
    });
	});
</script>
{% endblock %}