{% extends 'base.html' %}

{% block title %}
  Import a new NOFO 
{% endblock %}

{% block body_class %}nofo_import{% endblock %}

{% block content %}
  {% if WORD_IMPORT_STRICT_MODE %}
  <div class="usa-alert usa-alert--warning margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning</h4>
      <p class="usa-alert__text">
        “Strict mode” is active. In strict mode, .docx files with unhandled formatting will raise an exception.
      </p>
      {% if request.user.is_superuser %}
        <p class="usa-alert__text">
          <a href="/admin/constance/config/" target="_blank">Visit the admin backend to manage strict mode</a>.
        </p>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% url 'nofos:nofo_index' as back_href %}
  {% include "includes/page_heading.html" with title="Import a new NOFO" back_text="All NOFOs" back_href=back_href only %}

  <form id="nofo-import--form" class="form-import--loading" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% with id="nofo-import" label="Select NOFO file" hint="Accepts .docx files." accept=".html,.docx" value=title %}
      {% for message in messages %}
        {% if "error" in message.tags %}
          {% include "includes/file_input.html" with id=id label=label hint=hint accept=accept error=message only %}
        {% endif %}
      {% empty %}
        {% include "includes/file_input.html" with id=id label=label hint=hint accept=accept only %}
      {% endfor %}
    {% endwith %}

    {% include "includes/loading_horse.html" %}

    <button class="usa-button margin-top-3 submit-button" type="submit">Import</button>
  </form>
{% endblock %}
