{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO Application Deadline
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO Application Deadline" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-application-deadline--form" method="post">
    {% csrf_token %}

    {% include "includes/form_macro.html" with hint2="eg: “Monday, January 1, 2024”" %}

    <button class="usa-button margin-top-3" type="submit">Save application deadline</button>
  </form>

  {% if subsection_matches %}
    <hr class="margin-top-4 margin-bottom-3">
    <h2 class="h4">Application deadline found in {{ subsection_matches|length }} subsections</h2>
    <table class="usa-table usa-table--borderless">
      <caption>
        Subsections containing: “{{ form.application_deadline.value }}”
      </caption>
      <thead>
        <tr>
          <th scope="col">Section</th>
          <th scope="col">Subsection</th>
          <th scope="col">Content</th>
        </tr>
      </thead>
      <tbody>
        {% for match in subsection_matches %}
        <tr>
          <th scope="row">{{ match.section.name }}</th>
          <td>
            <a class="usa-link usa-link--external" href={% url "nofos:subsection_edit" nofo.id match.section.id match.subsection_id %}>
            {{ match.subsection_name }}
            </a>
          </td>
          <td>
            {{ match.highlighted_body|safe|linebreaksbr }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
