{% extends 'base_barebones.html' %}
{% load static martortags nofo_section_name_separator add_captions_to_tables add_classes_to_tables add_footnote_ids callout_box_contents get_icon_for_section replace_unicode_with_icon clear_empty_lis %}

{% block css %}
  {% with "theme-"|add:nofo_theme_base|add:'.css' as filename_base %}
    <link href="{% static filename_base %}" type="text/css" media="all" rel="stylesheet" />
  {% endwith %}

  {% with "theme-"|add:nofo.theme|add:'.css' as filename %}
    <link href="{% static filename %}" type="text/css" media="all" rel="stylesheet" />
  {% endwith %}
{% endblock %}

{% block title %}
 View: {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}
{% endblock %}

{% block body_class %}{{ nofo.theme }}{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" style="margin-top: 1rem;">
          <em class="usa-logo__text">
            <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link">← All NOFOs</a>
          </em>
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-nav-link">Edit this NOFO</a>
          </li>
          <li class="usa-nav__primary-item">
            <form method="post" action="{% url 'nofos:print_pdf' nofo.id %}">
              {% csrf_token %}
              <!-- Adding inline styling here because I don't want to clutter up the CSS file with non-PDF css -->
              <button type="submit" class="usa-button" {% if request.scheme == 'http' %}disabled style="margin-bottom:5px;border-radius:.25rem;text-decoration:line-through;box-shadow: inset 0 0 0 2px #c9c9c9;"{% else %}style="margin-bottom:5px;border-radius:.25rem;color:white;background-color:#005ea2;"{% endif %}>
                Print NOFO
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- COVER PAGE -->
  <section id="section--cover-page" class="nofo--cover-page">
    <div class="nofo--cover-page--header">
      <div class="nofo--cover-page--header--logo">
        <img class="nofo--cover-page--header--logo--img" alt="{{ nofo_opdiv.name }} logo" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/{{ nofo_opdiv.filename }}" />
        <div class="nofo--cover-page--header--logo--subheading">
          <p>
            {% if nofo.subagency %}
              {{ nofo.subagency }}
            {% else %}
              {{ nofo.agency }}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="nofo--cover-page--header--intro">
        <span>Notice of Funding Opportunity</span>
        <br />
        <span>Application due {{ nofo.application_deadline }}</span>
      </div>
    </div>
    <div class="nofo--cover-page--title">
      <h1>{{ nofo.title }}</h1>
      <div class="nofo--cover-page--title--subheading">
        <span>Opportunity number: {{ nofo.number }}</span>
      </div>
    </div>
    <div class="nofo--cover-page--footer clearfix">
      <div class="nofo--cover-page--footer--logo">
        <img alt="Heath and Human Services logo" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/hhs-logo.svg" />
      </div>
      <div class="nofo--cover-page--footer--subheading">
        <span>Notice of Funding Opportunity</span>
        <span>Application due {{ nofo.application_deadline }}</span>
      </div>
      <div class="nofo--cover-page--footer--image">
        <img alt="Two doctors conversing" src="https://bn-ptzepiewjq-uc.a.run.app/static/img/title-pic.jpg" />
      </div>
    </div>
  </section>

  <section id="section--toc" class="toc">
    <h2>Contents</h2>
    {% spaceless %}
    <ol class="usa-list usa-list--unstyled">
      {% for section in nofo.sections.all|dictsort:"order" %}
        <li class="toc--section-name">
          <img class="toc--section-name--img" src="{% static section.name|get_icon_for_section:nofo.theme %}" alt="" />
          <div class="toc--section-name--wrapper">
            <a href="#{{ section.html_id }}" class="toc--section-name--a">{{ section.name }}</a>

            <ol class="usa-list usa-list--unstyled">
              {% for subsection in section.subsections.all|dictsort:"order" %}
                {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                  {% if tag == 'h3' %}
                    <li class="toc--subsection-name"><a href="#{{ subsection.html_id }}">{{ content }}</a></li>
                  {% endif %}
                {% endwith %}
              {% endfor %}
            </ol>
          </div>
        </li>
      {% endfor %}
    </ol>
    {% endspaceless %}
  </section>

  <section id="section--before-you-begin" class="before-you-begin">
    <h2>Before you begin</h2>
    <p>If you believe you are a good candidate for this funding opportunity, secure your <a href="https://sam.gov">Sam.gov</a> and <a href="https://grants.gov">Grants.gov</a> registrations now. If you are already registered, make sure your registration is active and up-to-date.</p>
    <h3>Sam.gov Registration</h3>
    <p><strong>This can take several weeks.</strong></p>
    <p>You must have an active account with Sam.gov. This includes having a Unique Entity Identifier (UEI).</p>
    <a href="#step-2-get-ready-to-apply">See Step 2: Get Ready to Apply</a>

    <h3>Grants.gov Registration</h3>
    <p><strong>This can take several days.</strong></p>
    <p>You must have an active Grants.gov registration. Doing so requires a Login.gov registration as well.</p>
    <a href="#step-2-get-ready-to-apply">See Step 2: Get Ready to Apply</a>

    <h3>Apply by {{ nofo.application_deadline }}</h3>
    <p>Applications are due by 11:59pm Eastern Time on {{ nofo.application_deadline }}.</p>
  </section>

  {% for section in nofo.sections.all|dictsort:"order" %}
    <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} section--{{ section.html_id }}">
      <!-- SECTION TITLE PAGE -->
      <div class="title-page section--title-page">
        <div class="header-nav section--title-page--header-nav">
          <p>Jump to a step</p>
          <ol>
            <li><a href="#section--{{ nofo.sections.all.0.html_id }}" {% if nofo.sections.all.0.html_id == section.html_id %}aria-current="step"{% endif %}>Review</a></li>
            <li><a href="#section--{{ nofo.sections.all.1.html_id }}" {% if nofo.sections.all.1.html_id == section.html_id %}aria-current="step"{% endif %}>Get ready</a></li>
            <li><a href="#section--{{ nofo.sections.all.2.html_id }}" {% if nofo.sections.all.2.html_id == section.html_id %}aria-current="step"{% endif %}>Prepare</a></li>
            <li><a href="#section--{{ nofo.sections.all.3.html_id }}" {% if nofo.sections.all.3.html_id == section.html_id %}aria-current="step"{% endif %}>Learn</a></li>
            <li><a href="#section--{{ nofo.sections.all.4.html_id }}" {% if nofo.sections.all.4.html_id == section.html_id %}aria-current="step"{% endif %}>Submit</a></li>
            <li><a href="#section--{{ nofo.sections.all.5.html_id }}" {% if nofo.sections.all.5.html_id == section.html_id %}aria-current="step"{% endif %}>Award</a></li>
            <li><a href="#section--{{ nofo.sections.all.6.html_id }}" {% if nofo.sections.all.6.html_id == section.html_id %}aria-current="step"{% endif %}>Contacts</a></li>
          </ol>
        </div>
        <div class="section--title-page--name">
          <div class="section--title-page--icon">
            <img src="{% static section.name|get_icon_for_section %}" alt="" />
          </div>
          <h2 id="{{ section.html_id }}">
            {% with section.name|nofo_section_name_separator as section_name %}
              <span>Step {% if section_name.number %}{{ section_name.number }}{% else %}{{ forloop.counter }}{% endif %}:</span>
              <br />
              <span>{{ section_name.name }}</span>
            {% endwith %}
          </h2>
        </div>
        <div class="section--title-page--toc">
          <p>In this step</p>
          <ul>
            {% for subsection in section.subsections.all|dictsort:"order" %}
              {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                {% if tag == 'h3' %}
                  <li><a href="#{{ subsection.html_id }}">{{ content }}</a></li>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <!-- RUNNING HEADER -->
      <!-- after first section title page -->
      <div class="header-nav header-nav--running-header">
        <ol>
          <li><a href="#section--{{ nofo.sections.all.0.html_id }}" {% if nofo.sections.all.0.html_id == section.html_id %}aria-current="step"{% endif %}>Review</a></li>
          <li><a href="#section--{{ nofo.sections.all.1.html_id }}" {% if nofo.sections.all.1.html_id == section.html_id %}aria-current="step"{% endif %}>Get ready</a></li>
          <li><a href="#section--{{ nofo.sections.all.2.html_id }}" {% if nofo.sections.all.2.html_id == section.html_id %}aria-current="step"{% endif %}>Prepare</a></li>
          <li><a href="#section--{{ nofo.sections.all.3.html_id }}" {% if nofo.sections.all.3.html_id == section.html_id %}aria-current="step"{% endif %}>Learn</a></li>
          <li><a href="#section--{{ nofo.sections.all.4.html_id }}" {% if nofo.sections.all.4.html_id == section.html_id %}aria-current="step"{% endif %}>Submit</a></li>
          <li><a href="#section--{{ nofo.sections.all.5.html_id }}" {% if nofo.sections.all.5.html_id == section.html_id %}aria-current="step"{% endif %}>Award</a></li>
          <li><a href="#section--{{ nofo.sections.all.6.html_id }}" {% if nofo.sections.all.6.html_id == section.html_id %}aria-current="step"{% endif %}>Contacts</a></li>
        </ol>
      </div>

      <!-- SECTION CONTENT -->
      <div class="section--content">
        {% for subsection in section.subsections.all|dictsort:"order" %}
          {% if subsection.callout_box %}
            <div class="callout-box">
              <div class="callout-box--title">{{ subsection.name }}</div>
              <div class="callout-box--contents">
                {{ subsection.body|safe_markdown|callout_box_contents }}
              </div>
            </div>
          {% else %}
            {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
              {% include "includes/heading.html" with tag=tag content=content id=id only %}
            {% endwith %}
            {% if section.order == 1 and subsection.order == 1 %}
              <!-- for the very first section, add the nofo agency and tagline -->
              <p class="nofo--agency">
                {% if nofo.subagency %}
                  {{ nofo.subagency }}
                {% else %}
                  {{ nofo.agency }}
                {% endif %}
              </p>
              <p class="nofo--tagline">{{ nofo.tagline }}
            {% else %}
              {{ subsection.body|safe_markdown|add_classes_to_tables|add_captions_to_tables|replace_unicode_with_icon|add_footnote_ids|clear_empty_lis }}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
