{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  Delete “{{ nofo|nofo_name }}”
{% endblock %}

{% block content %}
  <div class="usa-alert usa-alert--warning margin-bottom-3">
    <div class="usa-alert__body">
      <h4 class="usa-alert__heading">Warning</h4>
      <p class="usa-alert__text">
        Deleting a Subsection is permanent.
      </p>
    </div>
  </div>

  {% with "Back to Subsection: "|add:subsection.name as back_text %}
  {% with "Delete Subsection: "|add:subsection.name as title %}
    {% url 'nofos:subsection_edit' nofo.id subsection.section.id subsection.id as back_href %}
    {% include "includes/page_heading.html" with title=title back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <form id="nofo-subsection-delete--form" method="post">
    {% csrf_token %}
    <p>Are you absolutely sure you want to delete “{{ subsection.name }}” in section “{{ subsection.section.name }}”?</p>
    <p></p>

    {{ form }}

    <ul class="usa-button-group margin-top-3">
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--secondary" type="submit">Yes, delete it</button>
      </li>
      <li class="usa-button-group__item">
        <a href="{% url 'nofos:subsection_edit' nofo.id subsection.section.id subsection.id %}" class="usa-button usa-button--outline">Never mind, I don’t want to delete this Subsection</a>
      </li>
    </ul>
  </form>
{% endblock %}
