{% extends 'base.html' %}
{% load static nofo_name input_type %}

{% block title %}
  Subsection: {{ subsection.name }}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
    {% with "Edit  “"|add:nofo_name_str|add:"”" as back_text %}
      {% url 'nofos:nofo_edit' nofo.id as back_href %}
      {% include "includes/page_heading.html" with title="Subsection: "|add:subsection.name back_text=back_text back_href=back_href only %}
    {% endwith %}
  {% endwith %}
  
  <p>Edit page for this subsection.</p>

  <form class="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      {% with id="name" label=form.name.label value=form.name.value hint=form.name.help_text hint2="Heading level: "|add:subsection.tag error=form.name.errors.0 input_type=form.name|input_type %}
        {% include "includes/_text_input.html" with id=id label=label hint=hint hint2=hint2 hint2for=hint2for value=value error=error input_type=input_type only %}
      {% endwith %}
    </div>
    <div class="form-group">
      <div class="border-2px border-base-lighter margin-top-4 radius-md">
        <label class="usa-label usa-sr-only" for="{{ form.body.id_for_label }}">Subsection content</label>
        {{ form.body }}
      </div>
    </div>
    <div class="form-group">
      <button class="usa-button margin-top-3" type="submit">Save</button>
    </div>
  </form>
{% endblock %}

{% block js_footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}
