{% extends 'base.html' %}
{% load static %}

{% block title %}
  Subsection: {{ subsection.name }}
{% endblock %}

{% block css %}
  <link href="{% static 'plugins/css/bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block content %}
  <section class="usa-section">
    <div class="grid-container">
      <div class="back-link font-body-md margin-bottom-105">
        <a href="{% url 'nofos:nofo_edit' nofo.id %}">← Back to {% if nofo.short_name %}{{ nofo.short_name }}{% else %}{{ nofo.title }}{% endif %}</a>
      </div>
      <h1 class="font-heading-xl margin-y-0">Subsection: {{ subsection.name }}</h1>
      <p>Edit page for this Subsection.</p>

      <form class="form" method="post">
        {% csrf_token %}
        <div class="form-group">
          {% with id="name" label=form.name.label hint=subsection.tag value=form.name.value error=form.name.errors.0 %}
            {% include "includes/text_input.html" with id=id label=label value=value hint=hint error=error only %}
          {% endwith %}
        </div>
        <div class="form-group">
          <div class="border-2px border-base-lighter margin-top-4 radius-md">
            <label class="usa-label usa-sr-only" for="{{ form.body.id_for_label }}">Subsection content</label>
            {{ form.body }}
          </div>
        </div>
        <div class="form-group">
          <button class="usa-button margin-top-3" type="submit">Save</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

{% block js_footer %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/bootstrap.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}
