{% extends 'base.html' %}

{% block title %}
	{% if status %}{{ status }}{% else %}400{% endif %} - Bad Request
{% endblock %}


{% block content %}
	<h1 class="font-heading-xl margin-y-0">{% if status %}{{ status }}{% else %}400{% endif %} Error</h1>
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% elif error_message_html %}
		{{ error_message_html | safe }}
	{% else %}
		<p><strong>{% if status %}{{ status }}{% else %}400{% endif %} error.</strong></p>
	{% endif %}
  <p>If you don’t know what this means, let Paul (<a href="mailto:p.craig@bloomworks.digital">p.craig@bloomworks.digital</a>) know what happened and he will get to the bottom of it.</p>
	<p>Maybe go back to:</p>
	<ul class="usa-list">
		<li><a href="{% url 'index' %}">homepage</a></li>
		<li><a href="{% url 'nofos:nofo_index' %}">all nofos</a></li>
	</ul>
{% endblock %}
