{% extends 'base_barebones.html' %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text"
            ><a href="{% url 'index' %}" title="NOFO Web Flow homepage">NOFO Web Flow</a></em
          >
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block footer %}
  <footer class="usa-footer">
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap">
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            "
          >
            <a class="usa-footer__primary-link" href="#back-to-top"
              >Back to top ↑</a
            >
          </li>
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            "
          >
            <a class="usa-footer__primary-link" href="https://bloomworks.digital/" target="_blank"
              >A product by Bloomworks Digital</a
            >
          </li>
          <li>
            {% if user.is_authenticated %}
              <span>Welcome, {{ user.email }}. Thanks for logging in.</span>
          {% else %}
              <span>Welcome, new user. Please log in.</span>
          {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </footer>
{% endblock %}
