<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}It’s NOFOs, baby{% endblock %}</title>

    <!-- Includes -->
    {% block css %}{% endblock %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    {% block js %}{% endblock %}

    <!-- add favicon -->
  </head>
  <body class="{% block body_class %}{% endblock %}" id="back-to-top">
    {% block header %}{% endblock %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% block footer %}{% endblock %}
    {% block js_footer %}{% endblock %}
  </body>
</html>