{% extends 'base_barebones.html' %}
{% load static %}

{% block base_css %}
  <link href="{% static 'styles.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text"
            ><a href="{% url 'index' %}" title="NOFO Web Flow homepage">NOFO Web Flow</a></em
          >
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          {% if user.is_authenticated %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link" {% if request.resolver_match.url_name == 'nofo_index' %}aria-current="page"{% endif %}>All NOFOs</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'users:user_view' %}" class="usa-nav-link" {% if request.resolver_match.url_name == 'user_view' %}aria-current="page"{% endif %}><span class="usa-sr-only">Your account</span><span aria-hidden="true">{{ user.email }}</span></a>
            </li>
          {% endif %}
          <li class="usa-nav__primary-item">
            {% if user.is_authenticated %}
              <a href="{% url 'users:logout' %}" class="usa-nav-link">Logout</a>
            {% else %}
              <a href="{% url 'users:login' %}" class="usa-nav-link">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}

{% block main_container_start %}
<main id="main-content">
  <section class="usa-section">
    <div class="grid-container">
{% endblock %}

{% block main_container_end %}
    </div>
  </section>
</main>
{% endblock %}

{% block footer %}
  <footer class="usa-footer">
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav" aria-label="Footer navigation">
        <ul class="grid-row grid-gap">
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            "
          >
            <a class="usa-footer__primary-link" href="#back-to-top"
              >Back to top ↑</a
            >
          </li>
          {% if request.path == "/" %}
            <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="https://bloomworks.digital/" target="_blank">
                A product by Bloomworks Digital
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </footer>
{% endblock %}
