<!DOCTYPE html>
{% load static djversion_tags %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    {% project_version as VERSION %}
    <meta name="version" content="{{ VERSION }}" >

    <title>{% block title %}It’s NOFOs, baby{% endblock %}</title>

    <!-- Get Open Sans from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Includes -->
    <link href="{% static 'usa.css' %}" rel="stylesheet">
    {% block base_css %}
      <link href="{% static 'theme-base.css' %}" type="text/css" media="all" rel="stylesheet" />
    {% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
  </head>
  <body class="{% block body_class %}{% endblock %}" id="back-to-top">
    {% block header %}{% endblock %}
    {% block main_container_start %}
      <main id="main-content">
        <div class="grid-container">
    {% endblock %}
          {% block content %}{% endblock %}
    {% block main_container_end %}
        </div>
      </main>
    {% endblock %}
    {% block footer %}{% endblock %}
    {% block js_footer %}{% endblock %}
  </body>
</html>