{% extends 'base.html' %}

{% block title %}
    NOFO Web Flow
{% endblock %}

{% block content %}
  <section class="usa-section">
    <div class="grid-container">
      <h1 class="font-heading-xl margin-y-0">Create NOFOs online</h1>
      <p class="usa-intro">
        Simplify the process of creating a Notice of Financial Opportunity (NOFO). This application provides a streamlined way to create NOFOs and turn them into accessible PDF files. 
      </p>
      <a class="usa-button usa-button--big" href="{% url 'nofos:index' %}">All NOFOs</a>
      <p>Note that if you edit a NOFO at the same time as someone else, you may overwrite each others’ changes.</p>
    </div>
  </section>
{% endblock %}