{% load split_char_and_remove %}

<section id="section--before-you-begin" class="before-you-begin before-you-begin--using-this-guide">
  <h2 id="section--before-you-begin--heading">Introduction</h2>
  <div class="before-you-begin--content">
    <p>The new How to Apply - Application Guide replaces the existing HRSA Standard and Research & Related (R&R) Application Guides, merging them into one, easy-to-navigate document.</p>

    <p>Key improvements designed to better synchronize the Guide with HRSA Notices of Funding Opportunity (NOFOs) include:</p>

    <ul>
      <li>Restructured Guide layout and contents to align with the NOFOs.</li>
      <li>Removal of sections already covered in the NOFOs.</li>
    </ul>

    <h3>Using this Guide</h2>

    <p>
      The How to Apply - Application Guide is a companion to the NOFO. Both follow the same 6-step process ensuring applicants can easily access relevant guidance as they navigate each step of the application process. The Guide provides supplemental information to help you.
    </p>

    <ul>
      <li>This Application Guide provides information that is consistent for single-tier HRSA NOFOs. It provides additional knowledge that you may want.</li>
      <li>The NOFO provides information specific to the funding program.</li>
    </ul>

    <h3 class="before-you-begin--using-this-guide--heading-red">Updates to this guide</h3>
    <p>
      We periodically update this guide to align with statutory, regulatory, and policy changes. To see what’s changed, <a href="#appendix-c-changes-to-this-guide">see the guide updates in the appendix</a>.
    </p>

    <p class="with-box">
      <strong>Learn more</strong> <a href="https://www.hrsa.gov/about" target="_blank">about HRSA</a> and <a href="https://data.hrsa.gov/" target="_blank">explore data and maps</a> on our health care programs.
    </p>
  </div>
</section>
