{% load static martortags callout_box_contents add_classes_to_tables is_floating_callout_box %}

<div {% if not subsection.name %}id="{{ subsection.html_id }}"{% endif %} class="callout-box{% if 'uestions?' in subsection.body %} callout-box--icon callout-box--questions{% endif %}{% if 'Adobe Reader' in subsection.body %} callout-box--icon callout-box--keyboard{% endif %}{% if subsection.html_class %} {{ subsection.html_class }}{% endif %}">
  {% if subsection.name %}
    {% with "callout-box--title "|add:subsection.html_class as class %}
      {% include "includes/heading.html" with tag=subsection.tag content=subsection.name id=subsection.html_id class=class only %}
    {% endwith %}
  {% endif %}
  <div class="callout-box--contents">
    {% if 'uestions?' in subsection.body %}
      {% if "thin" in nofo.icon_style %}
        {% include "includes/icons/thin/7-contact.svg" %}
      {% else %}
        {% include "includes/icons/7-contact.svg" %}
      {% endif %}
    {% elif 'Adobe Reader' in subsection.body %}
      {% if "thin" in nofo.icon_style %}
        {% include "includes/icons/thin/00-adobe-pdf.svg" %}
      {% else %}
        {% include "includes/icons/00-adobe-pdf.svg" %}
      {% endif %}
    {% endif %}
    {% if break_colons %}
      {{ subsection.body|safe_markdown|callout_box_contents }}
    {% else %}
      {{ subsection.body|safe_markdown }}
    {% endif %}
  </div>
</div>
