{% load input_type %}

{% for field in form.visible_fields %}
  {% if field|input_type in 'TextInput Textarea PasswordInput EmailInput URLInput' %}
    {% with id=field.name label=field.label value=field.value id_for_label=field.id_for_label hint=field.help_text hint2=hint2 hint2for=hint2for error=field.errors.0 disabled=field.field.widget.attrs.is_disabled required=field.field.required input_type=field|input_type %}
      {% if show_required_asterisk %}
        {% include "includes/_text_input.html" with id=id label=label id_for_label=id_for_label hint=hint hint2=hint2 hint2for=hint2for value=value error=error disabled=disabled input_type=input_type required=required only %}
      {% else %}
        {% include "includes/_text_input.html" with id=id label=label id_for_label=id_for_label hint=hint hint2=hint2 hint2for=hint2for value=value error=error disabled=disabled input_type=input_type only %}
      {% endif %}
    {% endwith %}
  {% elif field|input_type == 'Select' %}
    {% with id=field.name label=field.label id_for_label=field.id_for_label hint=field.help_text value=field.value choices=field.field.choices error=field.errors.0 %}
      {% include "includes/select.html" with id=id label=label id_for_label=id_for_label value=value hint=hint choices=choices error=error only %}
    {% endwith %}
  {% elif field|input_type == 'RadioSelect' %}
    {% with id=field.name label=field.label id_for_label=field.id_for_label hint=field.help_text value=field.value choices=field.field.choices required=field.field.required error=field.errors.0 %}
      {% if show_required_asterisk %}
        {% include "includes/radio_group.html" with id=id label=label id_for_label=id_for_label hint=hint value=value choices=choices required=required with_radio_tiles=with_radio_tiles error=error only %}
      {% else %}
        {% include "includes/radio_group.html" with id=id label=label id_for_label=id_for_label hint=hint value=value choices=choices with_radio_tiles=with_radio_tiles error=error only %}
      {% endif %}
    {% endwith %}
  {% else %}
    <p>Field name: {{ field.name }}</p>
    <p>Input type: {{ field|input_type }}</p>
    <div class="fieldWrapper">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
  {% endif %}
{% endfor %}
