<label class="usa-label" for="{{ id }}">{{ label }}</label>
{% if hint %}
<div class="usa-hint" id="{{ id }}--hint-1">
  {{ hint }}
</div>
{% endif %}
{% if error %}
<div class="usa-error-message" id="{{ id }}--error">
  Error: {{ error }}
</div>
{% endif %}
<select class="usa-select border-2px{% if error %} border-secondary-dark{% endif %}" name="{{ id }}" id="{{ id }}" aria-describedby="{{ id }}--hint-1{% if error %} {{ id }}--error{% endif %}">
  {% for choice_id, choice_name in choices %}
    <option value="{{ choice_id }}" {% if value == choice_id %}selected{% endif%}>{{ choice_name }}</option>
  {% endfor %}
</select>
