/* Very helpful article about paged CSS rules: https://alistapart.com/article/boom/ */

/* which section uses which named page */

div.title-page { 
  page: title
}

/* page breaks */

div.titlepage {
  page-break-before: always
}

/* page rules */

@page  {
  /* 
  https://printcss.net/articles/running-headers-and-footers
  */
  size: letter;
  margin: 20mm;
}

@page title {
  background-color: #00659B;
  margin: 0;
}

/* regular CSS */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: transparent;
}

h1 {
  font-size: 2.10rem !important;
}

h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

h2,
h4 {
  font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 1.75rem;
}

h3 {
  font-size: 1.85rem;
  color: #163a60;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1.3rem;
  color: #336a90;
  margin-top: 1.5rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #336a90;
  text-transform: uppercase;
  margin-top: 1.15rem;
}

h6 {
  font-size: 1rem;
  color: #336a90;
  text-transform: uppercase;
  margin-top: 1.10rem;
}

p,
li {
  font-size: 1.10rem;
  margin: .75rem 0;
}

table {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
  color: #1b1b1b;
  margin: 1.25rem 0;
  text-align: left;
}

table caption {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .75rem;
  text-align: left;
}

table th,
table td {
  background-color: #fff;
  border: 1px solid #1b1b1b;
  font-weight: 400;
  padding: .5rem 1rem;
}

table thead th,
table thead td {
  background-color: #e6e6e6;
  color: #1b1b1b;
}

table thead th {
  background-clip: padding-box;
  font-weight: 700;
  line-height: 1.3;
}

ul, ol {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  padding-left: 3ch;
}

ul:last-child, ol:last-child {
  margin-bottom: 0;
}

.grid-container {
  padding: 0;
}

.section--title-page {
  background-color: #00659B;
  border: 1px solid #00659B;
  color: white;
  min-height: calc(100vh + 40mm);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section--title-page--name {
  padding: 150px 20mm 0 20mm;
}

.section--title-page h2 {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 300%;
  font-weight: 700;
}

.section--title-page a {
  color: white;
  text-decoration: none;
}

.section--title-page--toc {
  padding: 12mm 20mm;
}

.section--title-page--section-nav {
  padding: 12mm 20mm 20mm 20mm;
  background-color: #143168;
}

.section--title-page--toc p,
.section--title-page--section-nav p {
  font-size: 120%;
  font-weight: 700;
}

.section--title-page ul,
.section--title-page ol,
.section--title-page li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.section--title-page--toc ul {
  list-style-type: none;
}

@media print {
  .usa-header {
    display: none;
  }

  .section--title-page {
    min-height: calc(100vh + 40mm);
  }
}