/* Very helpful articles about paged CSS:
   - https://alistapart.com/article/boom/
   - https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
*/

/* CSS vars */
:root {
  --color--black: #000000;
  --color--white: #FFFFFF;
  --color--table-grey: #EDF1F3;
  --color--light-grey: #DDE2E8;
  --color--med-grey: #475260;
  --color--dark-blue: #274A64;
  --color--med-blue: #336A90;
  --color--light-blue: #BDD9ED;
  --color--med-brown: #C0B0A2;
}

/* Assign named pages */

div.title-page {
  page: title
}

section.title-page {
  page: cover
}

/* Assign page breaks */

div.titlepage {
  page-break-before: always
}

/* Set @page rules */

h2 { 
  string-set: sectiontitle content(); 
}

@page  {
  /* 
  https://printcss.net/articles/running-headers-and-footers
  */
  size: letter;
  margin: 20mm 20mm 16mm 20mm;

  @bottom-left {
    border-top: 2px solid var(--color--light-grey);
    content: string(sectiontitle);
    padding-bottom: 4mm;
    font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 700;
    color: var(--color--dark-blue);
  }

  @bottom-right {
    border-top: 2px solid var(--color--light-grey);
    content: counter(page);
    padding-bottom: 4mm;
  }
}

@page cover {
  margin: 0;
}

@page title {
  background-color: var(--color--med-blue);
  margin: 0;
}

/* Regular CSS */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: transparent;
}

h1 {
  font-size: 3rem !important;
  font-family: Helvetica,Roboto,Arial,sans-serif !important;
  color: var(--color--dark-blue);
}

h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

h1,
h2,
h3,
h5 {
  font-family: Merriweather Web,Georgia,Cambria,Times New Roman,Times,serif;
}

h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 1.75rem;
}

h3 {
  font-size: 30.5px;
  color: var(--color--med-blue);
  margin-top: 1.5rem;
  font-weight: 400;
}

h4 {
  font-size: 20.5px;
  color: var(--color--dark-blue);
  margin-top: 1.5rem;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 1.15rem;
}

h6 {
  font-size: 12px;
  color: var(--color--med-blue);
  text-transform: uppercase;
  margin-top: 1.10rem;
}

p,
li {
  font-size: 1.10rem;
  margin: .75rem 0;
}

a {
  color: var(--color--med-blue);
}

hr {
  border: none;
  border-top: 1px solid var(--color--light-grey);
}

table {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 1.06rem;
  line-height: 1.5;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--color--black);
  margin: 1.25rem 0;
  text-align: left;
}

table caption {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .75rem;
  text-align: left;
}

table th,
table td {
  background-color: var(--color--table-grey);
  border: 2px solid var(--color--white);
  font-weight: 400;
  padding: .5rem 1rem;
}

table thead th,
table thead td {
  background-color: transparent;
  color: #1b1b1b;
}

table thead th {
  background-clip: padding-box;
  font-weight: 700;
  line-height: 1.3;
}

ul, ol {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5;
  padding-left: 3ch;
}

ul:last-child, ol:last-child {
  margin-bottom: 0;
}

.nofo--title-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nofo--title-page--header,
.nofo--title-page--title {
    padding-left: 20mm;
}

.nofo--title-page--header,
.nofo--title-page--title,
.nofo--title-page--footer {
    padding-right: 20mm;
}

.nofo--title-page--header--logo img {
  width: 150px;
}

.nofo--title-page--header {
  padding: 20mm;
}

.nofo--title-page--title {
  padding-bottom: 20mm;
}

.nofo--title-page--footer {
  position: relative;
}


.nofo--title-page--header .nofo--title-page--header--logo,
.nofo--title-page--header .nofo--title-page--header--intro,
.nofo--title-page--footer div {
  display: float;
  float: left;
}

.nofo--title-page--header .nofo--title-page--header--intro,
.nofo--title-page--footer div:last-of-type {
  float: right;
}

.nofo--title-page--footer div:last-of-type {
  position: absolute;
  bottom: 10mm;
  right: 10mm;
}

.nofo--title-page--header .nofo--title-page--header--intro span:first-of-type {
  font-size: 120%;
  color: var(--color--med-blue);
  font-weight: 700;
}

.nofo--title-page--footer div:first-of-type {
  height: 500px;
  width: 85%;
  overflow: hidden;
}

.nofo--title-page--footer div:first-of-type img {
  height: 100%;
  border-radius: 0 80px 0 0;
  object-fit: cover;
}

.nofo--title-page--footer div:last-of-type img {
  width: 100px;
  filter: invert(23%) sepia(77%) saturate(2406%) hue-rotate(180deg) brightness(89%) contrast(103%);
}

.section--title-page {
  background-color: #00659B;
  color: var(--color--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section--title-page--name {
  padding: 150px 20mm 0 20mm;
}

.section--title-page h2 {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 300%;
  font-weight: 700;
}

.section--title-page a {
  color: var(--color--white);
  text-decoration: none;
}

.section--title-page--toc {
  padding: 12mm 20mm;
}

.section--title-page--section-nav {
  padding: 12mm 20mm 20mm 20mm;
  background-color: var(--color--dark-blue);
}

.section--title-page--toc p,
.section--title-page--section-nav p {
  font-size: 120%;
  font-weight: 700;
}

.section--title-page--toc a {
  display: inline-block;
  position: relative;
  width: 50%;
}

.section--title-page--toc a:after {
  position: absolute;
  right: 0;
  content: "page " target-counter(attr(href, url), page);
}

.section--title-page ul,
.section--title-page ol,
.section--title-page li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.section--title-page--toc ul {
  list-style-type: none;
}

.section--content {
  width: 70%;
}

/* Media queries */
@media print {
  .usa-header {
    display: none;
  }

  .grid-container {
    padding: 0;
  }

  .nofo--title-page,
  .section--title-page {
    min-height: calc(100vh + 36mm);
  }
}