@media screen {
  /* Remove right padding from last nav item */
  .usa-nav__primary-item:not(.usa-nav__primary-item__right-padding):last-of-type
    > .usa-nav-link {
    padding-right: 0;
  }

  @media (max-width: calc(64em - 1px)) {
    .hide-on-tablet {
      display: none;
    }
  }

  header + main {
    border-top: 1px solid #dfe1e2;
  }

  /* Keep the menu around for longer */
  @media (min-width: 42.5em) {
    .usa-header--basic .usa-nav-container {
      align-items: center;
      justify-content: space-between;
      display: flex;
    }

    .usa-header--basic .usa-navbar {
      position: relative;
      width: 33%;
      border-bottom: none;
      display: inline-block;
      height: auto;
    }

    .usa-header--basic .usa-nav {
      float: right;
      position: relative;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      display: flex;
      padding: 0 0 0 0.5rem;
      width: 100%;
    }

    .usa-nav__primary {
      display: flex;
      width: auto;
      margin-top: 0;
    }

    .usa-nav__primary > .usa-nav__primary-item {
      font-size: 0.93rem;
      line-height: 0.9;
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      line-height: 0.9;
      padding: 1rem;
      color: #565c65;
      display: block;
      font-weight: 700;
    }
  }

  /* Button group */
  .usa-button-group * {
    height: inherit;
  }

  .usa-button-group .usa-button {
    padding: 0.75rem 1.05rem;
  }

  .usa-button-group .usa-button-group__item:first-of-type button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px;
  }

  .usa-button-group .usa-button-group__item:last-of-type button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 0;
    margin-left: -1px;
    width: calc(100% + 2px);
  }

  .usa-button-group--print-buttons button[disabled] {
    text-decoration: line-through;
  }
}
