/* Button with drop-down menu */
.button-group {
  position: relative;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  height: 100%;
}

.button-group > * {
  float: left;
  border-right-width: 0;
  border-radius: 0;
  height: 100%;
  margin-bottom: -5px;
}

.button-group .usa-button {
  margin-bottom: 5px;
  border-radius: 0.25rem;
  color: white;
  background-color: #005ea2;
}

.button-group .usa-button:hover {
  background-color: #1a4480;
  border-bottom: 0;
  color: white;
  text-decoration: none;
}

.button-group .usa-button:active {
  color: white;
  background-color: #162e51;
}

.button-group .usa-button--accent-cool,
.button-group .usa-button--accent-cool:visited {
  color: #1b1b1b;
  background-color: #00bde3;
}

.button-group .usa-button--accent-cool:hover,
.button-group .usa-button--accent-cool:visited:hover {
  background-color: #28a0cb;
}

.button-group .usa-button--accent-cool:active,
.button-group .usa-button--accent-cool:visited:active {
  color: #fff;
  background-color: #07648d;
}

.button-group .usa-button.button-group--primary {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 1px solid white;
  margin-right: 0;
}

.button-group .usa-button.button-group--summary {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-bottom: calc(0.75rem - 0.5px);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: 100%;
  list-style: none;
}

.button-group .usa-button.button-group--summary::-webkit-details-marker {
  display: none;
}

.button-group summary::after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  border: 6px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin-bottom: -5px;
}

.button-group .button-group--content {
  top: 100%;
  position: absolute;
  z-index: 99;
  margin-top: 4px;
  right: 0;
}
