@charset "UTF-8";
/* Custom CSS */

/* Make sure footer sits on the bottom */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body > main {
  flex-grow: 1;
}
body > footer {
  margin-top: auto;
}

/* Make sure header is evenly spaced */
@media (min-width: 64em) {
  .usa-logo {
    margin-top: 1rem;
  }
}

table tbody tr:first-of-type td:last-of-type {
  width: 25%;
}

.usa-nav__primary .usa-nav__primary-item a[aria-current] {
  text-decoration: underline;
}

.back-link a:not(:hover) {
  text-decoration: none;
}

.nofo_edit .nofo-edit-table--subsection--body {
  word-break: break-word;
}

.nofo_edit .nofo-edit-table--subsection--body pre {
  white-space: pre-wrap;
}

.nofo_edit caption {
  top: 0px;
  position: sticky;
  background: white;
}

.main-martor {
  margin-top: 0;
  margin-bottom: 0;
}

.nofo_edit main table tbody tr:first-of-type th {
  width: 15%;
}

.nofo_edit main table tbody tr:first-of-type td:last-of-type {
  width: 5%;
  text-align: right;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

fieldset legend {
  margin-bottom: -0.5rem;
}

.usa-footer__not-actually-a-link {
  color: #565c65;
  font-weight: 400;
}

.usa-footer__not-actually-a-link:hover {
  text-decoration: none;
}
