@charset "UTF-8";
/* Custom CSS */

:root {
  --color--text-default: #1b1b1b;
  --color--text-grey: #71767a;
  --color--usa-link: #005ea2;
  --color--usa-link-rgb: 0, 94, 162;
  --color--usa-link-visited: #54278f;
  --color--usa-error-message: #b50909;
  --color--usa-error-bg-light: #f3e1e4;
  --color--usa-error-bg-dark: #8b0a03;
  --color--usa-error-bg-darker: #775540;
  --color--usa-emergency-light: #ffe7d4;
  --color--usa-emergency: #9c3d10;
  --color--usa-accent-warm: #fa9441;
  --color--usa-accent-warm-hover: #c05600;
}

html:not(.html--nofo_edit) {
  scroll-behavior: smooth;
}

/* Make sure footer sits on the bottom */
body,
body.subsection_edit,
body.subsection_create {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
}
body > main {
  flex-grow: 1;
}

body > footer {
  margin-top: auto;
}

a,
a.nav-link {
  color: var(--color--usa-link);
}

a:visited {
  color: var(--color--usa-link-visited);
}

blockquote {
  margin: 0;
  padding: 10px 15px;
  border-left: 8px solid #dfe1e2;
  font-style: italic;
}

/* Util classes */

.inline-block {
  display: inline-block;
}

.small-caps {
  font-variant: small-caps;
}

/* General USDS CSS */

footer .usa-footer__primary-link:visited {
  color: var(--color--text-default);
}

.usa-combo-box__input,
.usa-input,
.usa-input-group,
.usa-select {
  height: 2.6rem;
}

/* Make sure header is evenly spaced */
@media (min-width: 64em) {
  .usa-logo {
    margin-top: 1rem;
  }
}

.usa-footer__nav--reverse ul {
  flex-direction: row-reverse;
}

a.back-to-top::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  background-image: url("/static/img/usa-icons/arrow_upward.svg");
  height: 12px;
  width: 18px;
  margin-right: 5px;
}

.usa-footer__nav a.back-to-top {
  color: var(--color--text-default);
}

caption a.back-to-top::before {
  margin-right: 2px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(331deg)
    brightness(102%) contrast(101%);
}

.usa-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usa-logo .usa-tag--link {
  display: inline-flex;
  align-items: center;
  color: white;
}

.usa-logo .usa-tag--link:hover,
.nofo_edit .usa-tag--link:hover .bg-group {
  text-decoration: underline;
  opacity: 0.9;
}

.usa-logo__text {
  display: inline-block;
}

.usa-logo__text a {
  color: var(--color--text-default);
}

details > summary > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.usa-list--no-max-width li {
  max-width: none;
}

.usa-nav__primary .usa-nav__primary-item a[aria-current] {
  text-decoration: underline;
}

.back-link {
  position: relative;
  z-index: 25;
}

.back-link a:not(:hover) {
  text-decoration: none;
}

.usa-tag.bg-group--not-uppercase {
  text-transform: none;
}

label.usa-label {
  margin-bottom: 0.25rem;
}

.outline-box {
  border: 2px solid #c9c9c9;
  border-radius: 0.25rem;
  padding: 8px 12px;
  max-width: 450px;
}

.outline-box p:not(:last-of-type) {
  margin-bottom: 4px;
}

.outline-box .outline-box--heading {
  font-size: 1rem;
}
.outline-box .outline-box--content {
  font-size: 1.15rem;
  margin-bottom: 0;
}

/* Link check page */

.pre--code-box {
  background-color: #f0f0f0;
  box-shadow: inset 1px 1px 15px 5px #a9aeb1;
  border-radius: 8px;
  border: 2px solid var(--color--text-grey);
  padding: 20px;
  overflow-y: auto;
}

/* List page */

.nofo_index .nofo_index--filter a {
  text-decoration: none;
}

.nofo_index .nofo_index--filter a:hover {
  text-decoration: underline;
}

.nofo_index .nofo_index--filter a[aria-current] {
  font-weight: 700;
  text-decoration: underline;
}

.nofo_index table th:first-of-type {
  width: 25%;
}

.nofo_index table .nofo-group-col {
  width: 1%;
}

.nofo_index table tr.ready-for-qa th,
.nofo_index table tr.ready-for-qa td {
  background: #f2e4d4;
}

.nofo_index .usa-prose > table td,
.nofo_index .usa-prose > table th,
.nofo_index .usa-table td,
.nofo_index .usa-table th {
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;
}

.nofo_index table.usa-table thead th:not(:last-of-type) {
  padding: 0.5rem 1.5rem 0.5rem 0.6rem;
}

.nofo_index .usa-table th:last-of-type {
  padding-right: 0;
}

.nofo_index table.usa-table thead th {
  color: #1b1b1b;
  background-color: #ffffff;
  font-weight: 700;
  position: relative;
  border-radius: 0;
}

.nofo_index table.usa-table thead th:not(.no-sort):hover {
  background: rgba(180, 180, 180, 0.2);
  cursor: pointer;
}

.nofo_index table.usa-table thead th:not(.no-sort):focus {
  z-index: 1;
}

.nofo_index .sortable thead th:not(.no-sort)::after {
  color: inherit;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(180, 180, 180, 0.5);
  content: "";
  position: absolute;
  right: 6px;
  top: 45%;
}

.nofo_index .sortable thead th:not(.no-sort)[aria-sort="ascending"]::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
}

.nofo_index .sortable thead th:not(.no-sort)[aria-sort="descending"]::after {
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid black;
  top: 25%;
}

/* Import  page */

.nofo_import .form-import--loading {
  position: relative;
}

.nofo_import .loading-horse--container {
  position: absolute;
  top: 52px;
  height: 84px;
  width: 100%;
  max-width: 30rem;
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: progress;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.nofo_import .usa-form-group--error + .loading-horse--container {
  top: 78px;
  height: 86px;
  margin-left: 1.25rem;
}

@media (min-width: 64em) {
  .nofo_import .usa-form-group--error + .loading-horse--container {
    margin-left: 0;
  }
}

.nofo_import .loading-horse--container.visible {
  opacity: 1;
  visibility: visible;
}

.nofo_import .loading-horse {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  padding: 8px 0;
}

.nofo_import .submit-button {
  width: 132px;
}

.nofo_import.nofo_import--compare .submit-button {
  width: 165px;
}

.nofo_import .submit-button.submit-button--loading {
  text-align: left;
}

/* Edit page */

/* header widget for NOFO */

.nofo_edit a.usa-tag--link {
  text-decoration: none;
}

.nofo_edit--header,
.section_edit--header,
.subsection_edit--header {
  position: relative;
}

.nofo_edit--header a,
.section_edit--header a,
.subsection_edit--header a {
  color: var(--color--usa-link);
}

.nofo_edit--header .nofo_edit--header--h1 a:not(:hover):not(:focus) {
  color: var(--color--text-default);
}

.nofo_edit--header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 12px;
  padding-top: 8px;
  margin-bottom: 6px;
  height: 58px;
}

.nofo_edit--header--sticky {
  position: sticky;
  top: -1px;
  background: white;
  z-index: 20;
}

.nofo_edit--header .nofo_edit--header--h1 {
  flex: 1 1 auto;
  min-width: 0;
}

.nofo_edit--header .nofo_edit--header--h1 h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.95rem;
  line-height: normal;
}

.nofo_edit--header .nofo_edit--header--h1--smaller h1 {
  font-size: 1.65rem;
}

.nofo_edit--header .nofo_edit--header--view,
.nofo_edit--header .nofo_edit--header--back-to-top {
  flex: 0 0 auto;
  white-space: nowrap;
}

.section_edit--header h1,
.subsection_edit--header h1 {
  width: 65%;
}

.section_edit--header--view,
.subsection_edit--header--view {
  position: absolute;
  right: 0;
  top: 0px;

  display: flex;
  align-items: baseline;
  gap: 20px;
}

.nofo_edit--audit-widget {
  display: flex;
  justify-content: space-between;
}

.nofo--archived .nofo_edit--audit-widget {
  display: none;
}

.nofo_edit .usa-summary-box__text p:last-of-type {
  margin-bottom: 0;
}

.nofo_edit .usa-site-alert .usa-button-icon--copy-button {
  padding: 0.75rem 1rem 0.75rem 0.9rem;
  position: absolute;
  right: 0;
  top: 2rem;
  margin-right: 4rem; /* match the padding on usa-alert__body */
}

.nofo_edit .usa-site-alert--broken-links a,
.nofo_edit .usa-site-alert--heading-errors a,
.nofo_edit .usa-site-alert--h7-headers a {
  color: var(--color--white);
}

.nofo_edit .usa-site-alert--broken-links li,
.nofo_edit .usa-site-alert--heading-errors li,
.nofo_edit .usa-site-alert--h7-headers li {
  margin-bottom: 0.75em;
}

.nofo_edit .usa-site-alert--heading-errors .usa-alert {
  border-left-color: var(--color--usa-error-bg-dark);
}

.nofo_edit .usa-site-alert--heading-errors .usa-alert__body {
  background-color: var(--color--usa-error-bg-dark);
}

.nofo_edit .usa-site-alert--h7-headers .usa-alert {
  border-left-color: var(--color--usa-error-bg-darker);
}

.nofo_edit .usa-site-alert--h7-headers .usa-alert__body {
  background-color: var(--color--usa-error-bg-darker);
}

.nofo_edit caption,
.section_edit caption {
  position: sticky;
  top: -1px;
  margin: 0;
  background: white;
  z-index: 10;
}

.nofo_edit caption {
  top: 46px;
}

.nofo_edit caption div,
.section_edit caption div {
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  gap: 12px;
}

.nofo_edit caption div > *,
.section_edit caption div > * {
  margin-top: 0;
  flex: 0 0 auto;
  min-width: 0;
}

.nofo_edit caption div > *:not(h2),
.section_edit caption div > *:not(h2) {
  font-weight: 400;
}

.nofo_edit caption div > .section--copy-button {
  flex-grow: 1;
}

.nofo_edit .section--copy-button .usa-button-icon--copy-button,
.nofo_edit .subsection--copy-button .usa-button-icon--copy-button {
  padding: 5px;
  border-radius: 3px;
}

.nofo_edit .subsection--copy-button .usa-button-icon--copy-button {
  padding: 4px;
}

.nofo_edit .section--copy-button .usa-button-icon--copy-button:hover,
.nofo_edit .subsection--copy-button .usa-button-icon--copy-button:hover {
  background: rgba(180, 180, 180, 0.2);
}

.nofo_edit .section--copy-button .usa-button-icon--copy-button::after,
.nofo_edit .subsection--copy-button .usa-button-icon--copy-button::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  background-image: url("/static/img/usa-icons/content_copy.svg");
  filter: invert(0%) sepia(68%) saturate(995%) hue-rotate(19deg)
    brightness(102%) contrast(79%);
  width: 18px;
  height: 17px;
}

.nofo_edit .usa-alert__body .usa-button-icon--copy-button::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  background-image: url("/static/img/usa-icons/content_copy.svg");
  filter: invert(99%) sepia(100%) saturate(207%) hue-rotate(194deg)
    brightness(111%) contrast(100%);
  width: 13px;
  height: 12px;
  margin-right: 4px;
}

.nofo_edit
  .section--copy-button
  .usa-button-icon--copy-button.usa-button-icon--copy-button--copied::after,
.nofo_edit
  .subsection--copy-button
  .usa-button-icon--copy-button.usa-button-icon--copy-button--copied::after {
  background-image: url("/static/img/usa-icons/check.svg");
  filter: invert(36%) sepia(93%) saturate(2132%) hue-rotate(58deg)
    brightness(92%) contrast(101%);
}

.nofo_edit .subsection--copy-button .usa-button-icon--copy-button::after {
  width: 15px;
  height: 15px;
}

.nofo_edit.nofo_status--cancelled .add-or-remove-subsections,
.nofo_edit.nofo--archived .add-or-remove-subsections {
  display: none;
}

.nofo_edit caption div a {
  text-decoration: none;
}

.nofo_edit caption div a:hover {
  text-decoration: underline;
}

.nofo_edit caption a.back-to-top,
.nofo_edit caption a.back-to-top:visited {
  color: var(--color--white);
  outline-offset: 3px;
}

.nofo_edit caption a.back-to-top {
  padding: 3px 14px 3px 8px;
  background-color: var(--color--usa-link);
  border-radius: 0.25rem;
}

.nofo_edit .page-break--hr--container {
  position: relative;
}

.nofo_edit .page-break--hr--container hr.page-break--hr {
  position: relative;
  margin: 18px 0;
  border-top: none;
  border-bottom: 2px dashed #5c5c5c;
}

.nofo_edit .page-break--hr--container hr.column-break-before.page-break--hr,
.nofo_edit .page-break--hr--container hr.column-break-after.page-break--hr {
  border-bottom: 1px dotted #5c5c5c;
}

.section_edit .nofo-edit-table--subsection--body h1,
.nofo_edit .nofo-edit-table--subsection--body h1 {
  font-size: 2.202rem;
}

.section_edit .nofo-edit-table--subsection--body h2,
.nofo_edit .nofo-edit-table--subsection--body h2 {
  font-size: 2.002rem;
}

.section_edit .nofo-edit-table--subsection--body h3,
.nofo_edit .nofo-edit-table--subsection--body h3 {
  font-size: 1.802rem;
}

.section_edit .nofo-edit-table--subsection--body h4,
.nofo_edit .nofo-edit-table--subsection--body h4 {
  font-size: 1.602rem;
}

.section_edit .nofo-edit-table--subsection--body h5,
.nofo_edit .nofo-edit-table--subsection--body h5 {
  font-size: 1.424rem;
}

.section_edit .nofo-edit-table--subsection--body h6,
.nofo_edit .nofo-edit-table--subsection--body h6 {
  font-size: 1.225rem;
}

.section_edit .nofo-edit-table--subsection--body div[role="heading"],
.nofo_edit .nofo-edit-table--subsection--body div[role="heading"] {
  font-size: 1.105rem;
  font-weight: 700;
  margin-block-start: 1.25em;
  margin-block-end: 1.25em;
}

.section_edit .nofo-edit-table--subsection--body,
.nofo_edit .nofo-edit-table--subsection--body {
  word-break: break-word;
}

.nofo-edit-table--subsection--body table thead th p,
.nofo-edit-table--subsection--body table tbody tr:first-of-type th p {
  font-weight: 400;
}

.nofo-edit-table--subsection--body table > thead > tr > th[class]::after,
.subsection_edit div.martor-preview table > thead > tr > th[class]::after {
  content: "." attr(class);
  display: block;
  font-size: 0.85em;
  font-weight: 400;
  font-family: monospace;
  color: var(--color--med-grey);
}

/* broken link error + tooltip */
.nofo_edit .nofo-edit-table--subsection--body a.nofo_edit--broken-link,
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  color: var(--color--usa-emergency);
  background-color: var(--color--usa-emergency-light);
}

.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body,
.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body--top {
  background-color: var(--color--usa-emergency);
}

.nofo_edit
  .nofo-edit-table--subsection--body
  a.nofo_edit--broken-link
  + .usa-tooltip__body--bottom:after {
  border-bottom-color: var(--color--usa-emergency);
}

/* heading  error + tooltip */
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  color: var(--color--usa-error-message);
  background-color: var(--color--usa-error-bg-light);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body,
.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body--top {
  background-color: var(--color--usa-error-bg-dark);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating
  .usa-tooltip__body--bottom:after {
  border-bottom-color: var(--color--usa-error-bg-dark);
}

.nofo_edit
  .nofo-edit-table--subsection--name.nofo_edit--heading-error
  span.floating {
  cursor: default;
}

.section_edit .nofo-edit-table--subsection--body pre,
.nofo_edit .nofo-edit-table--subsection--body pre {
  white-space: pre-wrap;
}

.nofo_edit main table.table--section {
  border-collapse: initial;
  border-spacing: 0 8px;
}

.nofo_edit main table.table--section th,
.nofo_edit main table.table--section td {
  padding: calc(0.75rem - 5px) 1rem 0.75rem 1rem;
  border-top: none;
}

.nofo_edit main table.table--section .nofo-edit-table--subsection--name,
.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level,
.nofo_edit main table.table--section .nofo-edit-table--subsection--copy-button,
.nofo_edit main table.table--section .nofo-edit-table--subsection--callout-box,
.nofo_edit main table.table--section .nofo-edit-table--subsection--manage {
  vertical-align: top;
}

.nofo_edit main table.table--section .nofo-edit-table--subsection--copy-button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level,
.nofo_edit main table.table--section .nofo-edit-table--subsection--callout-box {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nofo_edit
  main
  table.table--section
  .nofo-edit-table--subsection--heading-level {
  color: var(--color--text-grey);
}

.nofo_edit main table.table--section .floating {
  display: inline-block;
  margin: 1em 0;
  position: sticky;
  top: 139px;
}

.nofo_edit main table.usa-table > tbody > tr:first-of-type > th {
  width: 15%;
}

.nofo_edit table.usa-table th.nofo-edit-table--subsection--name {
  scroll-margin-top: 115px;
}

.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before,
.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before
  ~ td {
  border-top: 2px dashed #5c5c5c;
}

.nofo_edit .page-break--hr--container .page-break--hr--text,
.nofo_edit
  table.usa-table
  th.nofo-edit-table--subsection--name.page-break-before::before {
  content: "[ ↓ page-break ↓ ]";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%);
  background: white;
  color: #5c5c5c;
  font-family: monospace;
  font-size: 12px;
}

/* Target only safari */
_::-webkit-full-page-media,
_:future,
:root .nofo_edit table th.nofo-edit-table--subsection--name.page-break-before {
  position: relative;
}

_::-webkit-full-page-media,
_:future,
:root
  .nofo_edit
  table
  th.nofo-edit-table--subsection--name.page-break-before::before {
  right: -270%;
  left: unset;
  transform: none;
}

.nofo_edit table th.nofo-edit-table--subsection--name.column-break-before,
.nofo_edit table th.nofo-edit-table--subsection--name.column-break-before ~ td {
  border-top: 1px dotted #5c5c5c;
}

.nofo_edit table td.nofo-edit-table--subsection--callout-box {
  padding: 0;
}

.nofo_edit main table.usa-table > tbody > tr:first-of-type > td:last-of-type {
  width: 5%;
  text-align: right;
}

.nofo_edit.nofo_status--published:not(.nofo--modifications)
  table.table--hide-edit-if-published
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo_status--published:not(.nofo--modifications)
  table.table--hide-edit-if-published
  tbody
  tr
  td:last-of-type,
.nofo_edit.nofo_status--cancelled
  table.table--hide-edit-if-archived
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo_status--cancelled
  table.table--hide-edit-if-archived
  tbody
  tr
  td:last-of-type,
.nofo_edit.nofo--archived
  table.table--hide-edit-if-archived
  thead
  tr
  th:last-of-type,
.nofo_edit.nofo--archived
  table.table--hide-edit-if-archived
  tbody
  tr
  td:last-of-type {
  display: none;
}

.nofo_edit .nofo-modifications-message,
.nofo_edit .nofo-modifications-message a,
.nofo_edit .nofo-modifications-message a:visited {
  font-style: italic;
  color: #71767a;
}

/* Section edit page */

.section_edit .edit_section--other_sections {
  display: flex;
  justify-content: space-between;
}

main .back-link a,
.nofo_edit caption div a:visited,
.section_edit .edit_section--other_sections a,
.section_edit .edit_section--other_sections a:visited {
  color: var(--color--usa-link);
}

main .back-link a::before,
.section_edit .edit_section--other_sections a::before,
.section_edit .edit_section--other_sections a::after {
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  filter: invert(25%) sepia(62%) saturate(1908%) hue-rotate(183deg)
    brightness(93%) contrast(104%);
}

main .back-link a::before,
.section_edit
  .edit_section--other_sections
  a.section_edit--previous-section::before {
  background-image: url("/static/img/usa-icons/arrow_back.svg");
  height: 12px;
  width: 18px;
  margin-right: 3px;
}

.section_edit
  .edit_section--other_sections
  a.section_edit--next-section::after {
  background-image: url("/static/img/usa-icons/arrow_forward.svg");
  height: 12px;
  width: 18px;
  margin-left: 3px;
}

.nofo_edit .table--section tr,
.section_edit .table--section tr {
  position: relative;
}

.section_edit main table.table--section th,
.section_edit main table.table--section td {
  padding: calc(1.2rem - 5px) 1rem 1.2rem 1rem;
}

.section_edit .table--section td:not(:last-of-type) a {
  color: var(--color--text-default);
}

/* add button generic */

.section_edit .add_button,
.subsection_edit .add-button {
  padding: 0.55rem 0.9rem 0.55rem 0.6rem;
  font-weight: 400;
}

.section_edit .add-button::before,
.subsection_edit .add-button::before {
  background-image: url(/static/img/usa-icons/add.svg);
  background-repeat: no-repeat;
  content: "";
  background-position: center center;
  background-size: cover;
  display: inline-flex;
  filter: invert(20%) sepia(99%) saturate(1868%) hue-rotate(190deg)
    brightness(95%) contrast(98%);
}

.section_edit .add-button:hover::before,
.subsection_edit .add-button:hover::before {
  filter: invert(16%) sepia(92%) saturate(1493%) hue-rotate(201deg)
    brightness(98%) contrast(88%);
}

/* add button specific */

.section_edit table.table--section .add-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  font-size: 90%;
  background-color: white;
  box-shadow: inset 0 0 0 0.75px var(--color--text-default);
}

.usa-button--outline {
  background-color: transparent;
  color: #005ea2;
}

.section_edit table.table--section .add-button::before {
  height: 9px;
  width: 16px;
}

/* Nofo edit properties pages */

.edit__application-deadline form table h2 {
  margin: 0;
}

.edit__application-deadline form table tr > th:first-of-type,
.edit__application-deadline form table tr > td:first-of-type {
  padding-left: 0.5rem;
  padding-right: 0;
}

.edit__application-deadline
  form
  table
  tr
  > td:first-of-type
  .usa-checkbox__label {
  margin-top: 0;
}

.edit__application-deadline form table tr.subsection--selected td {
  background-color: #f2e4d4;
}

/* Subsection edit page */

.subsection_edit blockquote {
  font-weight: 700;
  color: #71767a;
}

.subsection_edit .hint--subsection-id {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-top: 6px;
  max-width: 30rem;
  background-color: #e7f6f8;
  border-radius: 0.25rem;
  border: 1px #99deea solid;
  padding: 4px 6px;
}

.subsection_edit .hint--subsection-id button {
  font-size: 90%;
  padding: 8px 12px;
  margin-right: 0;
}

.subsection_edit .hint--subsection-id {
  color: var(--color--text-grey);
}

.subsection_edit .hint--subsection-id:hover {
  color: var(--color--text-default);
}

.subsection_edit .usa-legend + .usa-hint {
  margin-bottom: 1rem;
}

/* Styling the martor editing window */

.subsection_edit .main-martor,
.subsection_create .main-martor {
  margin-top: 0;
  margin-bottom: 0;
}

.subsection_edit .main-martor .icon.expand-editor,
.subsection_create .main-martor .icon.expand-editor {
  display: none;
}

.subsection_edit .main-martor .resizable .resizable-b,
.subsection_create .main-martor .resizable .resizable-b {
  width: 100%;
  cursor: row-resize;
}

.subsection_edit .main-martor .nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.subsection_edit .main-martor .nav-tabs .nav-link:not(.active) {
  background-color: rgba(var(--color--usa-link-rgb), 0.06);
  border-bottom: 2px solid rgba(var(--color--usa-link-rgb), 0.06);
}

.subsection_edit .main-martor .nav-tabs .nav-link:not(.active):hover {
  background-color: rgba(var(--color--usa-link-rgb), 0.1);
  border-bottom: 2px solid rgba(var(--color--usa-link-rgb), 0.2);
}

.subsection_edit .main-martor .nav-tabs .nav-link:not(.active):hover span {
  text-decoration: underline;
}

.subsection_edit .main-martor .nav-tabs .btn-toolbar .btn:hover {
  background-color: var(--color--light-grey);
}

.subsection_edit .main-martor .nav-tabs .btn-toolbar .btn.markdown-help {
  background-color: var(--color--usa-accent-warm);
}

.subsection_edit .main-martor .nav-tabs .btn-toolbar .btn.markdown-help:hover {
  background-color: var(--color--usa-accent-warm-hover);
  color: var(--color--white);
}

.subsection_edit .modal .modal-dialog .modal-content .text-center.small.credit {
  display: none;
}

.subsection_edit div.martor-preview div[role="heading"] {
  color: #777;
  font-size: 12.5px;
  font-weight: 600;
  font-variant: small-caps;
}

.subsection_edit div.martor-preview table thead th > p,
.subsection_edit div.martor-preview table tbody tr:first-of-type th p {
  font-weight: 400;
}

.subsection_edit div.martor-preview table thead th p:first-child,
.subsection_edit
  div.martor-preview
  table
  tbody
  tr:first-of-type
  th
  p:first-child {
  font-weight: 600;
}

/* Content guides */

.content_guide_edit .nofo_edit--header--subheading {
  margin-bottom: -10px;
  z-index: 30;
  position: relative;
  margin-top: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.subsection_edit--diff-subsection
  .subsection_edit--comparison-table
  .row-comparison--no
  > *:not(:nth-of-type(2)) {
  color: var(--color--text-grey);
  font-style: italic;
}

.subsection_edit .add-button {
  box-shadow: inset 0 0 0 1.5px var(--color--text-default);
}

.subsection_edit .add-button::before {
  height: 11px;
  width: 18px;
}

.subsection_edit .diff-strings--button-container {
  max-width: 30em;
  text-align: center;
}

/* NOFO external links page */

.nofo_links .usa-table td,
.nofo_links .usa-table th {
  padding: 0.5rem 0.75rem;
  vertical-align: baseline;
}

.nofo_links .usa-table .nofo_links--location span.link-wrapper {
  display: inline-block;
  padding-left: 20px;
}

.nofo_links .usa-table .nofo_links--location span.link-wrapper::before {
  content: "—";
  margin-left: -20px;
}

details.usa-accordion .usa-accordion__button {
  box-sizing: border-box;
}

details.usa-accordion .usa-accordion--heading {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

details.usa-accordion .usa-accordion__content ul li:not(:last-of-type) {
  margin-bottom: 16px;
}

.subsection_edit fieldset legend:not(.legend--bootstrap) {
  margin-bottom: -0.5rem;
}

.table--callout-box {
  display: none;
}

.usa-footer__not-actually-a-link {
  color: #565c65;
  font-weight: 400;
}

.usa-footer__not-actually-a-link:hover {
  text-decoration: none;
}

.usa-footer__primary-link.usa-link--external::after {
  margin-left: 6px;
}

.usa-error-message {
  font-size: 1rem;
}

/* compare page */

.usa-alert--warning.usa-alert--alpha .usa-alert__body {
  border-left: 2px solid black;
  background-color: #f0f0f0;
}

.usa-alert--warning.usa-alert--alpha .usa-alert__text {
  display: flex;
}

.usa-alert--warning.usa-alert--alpha .usa-tag {
  height: 100%;
}

.nofo_compare caption h2 {
  margin-bottom: 0;
}

.nofo_compare .usa-table caption {
  margin-bottom: 0.5rem;
}

.nofo_compare .usa-table .diff {
  word-break: break-word;
}

del {
  color: var(--color--usa-error-message);
  background-color: #ffebe9;
}

.nofo_compare--content-guide del {
  text-decoration: none;
}

ins {
  background-color: #aceebb;
}

del + ins > br {
  display: none;
}

.login-gov-container {
  max-width: 30rem;
}

/* User pages */

.user_view .form--export-report .form-group {
  display: flex;
  align-items: baseline;
}

.user_view .form--export-report .form-group label {
  width: 200px;
}

.user_view .form--export-report .form-group input {
  height: 2.6rem;
  border: 2px solid;
}
