/* Set @page rules */

/* Regular CSS */

html {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  line-height: 1.5;
}

/* Headings */

h1 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h2 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h3 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--dark-blue);
}

h4 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--vibrant-blue);
}

h5 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--black);
}

h6 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  color: var(--color--black);
}

/* Cover page */

.nofo--cover-page--header--logo img {
  width: 300px;
}

.nofo--cover-page--title .nofo--cover-page--title--logo {
  display: none !important;
}

/* Cover page: medium image */

/* Cover page: hero image */

section.nofo--cover-page.nofo--cover-page--hero {
  background-color: var(--color--dark-blue);
}

/* Table of contents */

.toc h2 {
  color: var(--color--vibrant-blue);
}

.toc--section-name--a {
  color: var(--color--vibrant-blue);
}

.toc ol ol li a {
  color: var(--color--black);
}

/* Before you begin page */

/* Section title page */

/* Section contents */

/* Media queries */
