/* Page rules */

@page cover {
  background-color: var(--color--vibrant-blue);
}

@page title {
  background-color: var(--color--vibrant-blue);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Headings */

h1 {
  color: var(--color--white);
}

h3 {
  color: var(--color--med-blue);
}

h4 {
  color: var(--color--dark-blue);
}

/* Cover page */

.nofo--title-page--header,
.nofo--title-page--title {
  background-color: var(--color--vibrant-blue);
}

.nofo--title-page--header--logo--subheading,
.nofo--title-page--title {
  color: var(--color--white);
}

.nofo--title-page--footer .nofo--title-page--footer--logo img {
  filter: invert(22%) sepia(51%) saturate(3181%) hue-rotate(191deg)
    brightness(98%) contrast(99%);
}

.nofo--title-page--footer {
  background: var(--color--white);
}

/* Table of contents */

.toc h2 {
  color: var(--color--vibrant-blue);
}

.toc ol li a {
  color: var(--color--black);
}

/* Section title page */

.section--title-page {
  background-color: var(--color--vibrant-blue);
}

.section--title-page--header-nav {
  background-color: var(--color--dark-blue);
}

/* Section contents */

.callout-box {
  background-color: var(--color--vibrant-blue);
  color: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--vibrant-blue);
  border: 2px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 2px solid var(--color--white);
}

table td a {
  color: var(--color--vibrant-blue);
}
