/* CSS vars */

/* Set @page rules */

/* Page rules */

@page {
  @bottom-left {
    color: var(--color--cms-blue);
  }

  @bottom-right {
    color: var(--color--cms-blue);
  }
}

@page cover {
  background-color: var(--color--cms-blue);
}

@page title {
  background-color: var(--color--cms-blue);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Regular CSS */

/* Headings */

h1 {
  color: var(--color--white);
}

h2 {
  color: var(--color--cms-blue);
}

.section--title-page h2 {
  color: var(--color--white);
}

/* Cover page */

.nofo--cover-page--header,
.nofo--cover-page--footer {
  background-color: var(--color--cms-blue);
  color: var(--color--white);
}

.nofo--cover-page--header--logo--subheading {
  color: var(--color--cms-blue);
}

.nofo--cover-page--title {
  background: var(--color--cms-blue);
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  color: var(--color--white);
}

/* logo */
.nofo--cover-page--header--logo svg .path--cms-yellow {
  fill: var(--color--white);
}

.nofo--cover-page--header--logo svg .path--cms-blue {
  fill: var(--color--white);
}

.nofo--cover-page--footer svg {
  fill: var(--color--white);
}

/* Cover page: text */

/* Cover page: medium image */

/* Cover page: hero image */

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo
  svg {
  fill: var(--color--white);
}

/* Table of contents */

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--cms-blue);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--cms-blue);
  fill: var(--color--cms-yellow);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--cms-yellow);
}

/* Before you begin page */

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--cms-blue);
  fill: var(--color--cms-yellow);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--cms-yellow);
}

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--cms-blue);
}

section.before-you-begin h2 {
  color: var(--color--cms-blue);
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--cms-yellow);
  color: var(--color--black);
}

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--black);
  color: var(--color--black);
}

.section--title-page--name,
.section--title-page--toc,
.section--title-page--toc a {
  color: var(--color--white);
  background-color: var(--color--cms-blue);
}

.nofo--icons--border .section--title-page--icon svg {
  color: var(--color--cms-blue);
  fill: var(--color--cms-yellow);
}

.nofo--icons--border .section--title-page--icon svg circle {
  stroke: var(--color--cms-yellow);
}

/* Section contents */

.nofo--tagline {
  color: var(--color--cms-blue);
}

.callout-box:not(.callout-box--icon) {
  background-color: var(--color--cms-blue);
  color: var(--color--white);
}

.callout-box:not(.callout-box--icon) a {
  color: var(--color--white);
}

.callout-box--icon {
  background-color: var(--color--cms-yellow);
  border: 2px solid var(--color--cms-yellow);
}

.callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
  color: var(--color--cms-blue);
}

.callout-box--icon .callout-box--contents svg circle {
  color: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--cms-blue);
  border-top: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
  border-left: 2px solid var(--color--light-grey);
}

table th:first-of-type {
  border-left: 2px solid var(--color--light-grey);
}

table th:last-of-type {
  border-right: 2px solid var(--color--light-grey);
}

table td {
  border-left: 2px solid var(--color--light-grey);
  border-right: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
}

/* Application checklist table */

.section--step-5-submit-your-application table td {
  border: none;
}

.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application table tr td:last-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading)
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: 2px solid var(--color--light-grey);
}

body[class*="-blue"] table td img.usa-icon--check_box_outline_blank {
  box-shadow: none;
}
