/* Page rules */

/* Headings */

h1 {
  color: var(--color--dark-blue);
}

h3 {
  color: var(--color--dark-blue);
}

h5 {
  color: var(--color--dark-blue);
}

/* Cover page */

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--title {
  color: var(--color--dark-blue);
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  filter: invert(22%) sepia(51%) saturate(3181%) hue-rotate(191deg)
    brightness(98%) contrast(99%);
}

.nofo--cover-page--footer {
  background: var(--color--pale-blue);
}

/* Table of contents */

.toc h2 {
  color: var(--color--dark-blue);
}

.toc ol li a {
  color: var(--color--black);
}

/* Before you begin */

.section--before-you-begin--icon {
  filter: invert(25%) sepia(12%) saturate(2247%) hue-rotate(163deg)
    brightness(94%) contrast(91%);
}

.before-you-begin h2 {
  color: var(--color--dark-blue);
}

.section--before-you-begin--psuedo-header {
  color: var(--color--dark-blue);
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.header-nav li a {
  border-top: 4px solid var(--color--med-blue);
  color: var(--color--black);
}

.section--title-page--name {
  color: var(--color--dark-blue);
}

.section--title-page--toc,
.section--title-page--toc a {
  color: var(--color--black);
}

.section--title-page--icon img {
  filter: invert(23%) sepia(70%) saturate(357%) hue-rotate(162deg)
    brightness(97%) contrast(96%);
}

/* Section contents */

.nofo--tagline {
  color: var(--color--dark-blue);
}

.callout-box {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.callout-box--questions .callout-box--contents img {
  filter: invert(0%) sepia(4%) saturate(842%) hue-rotate(232deg) brightness(88%)
    contrast(103%);
}

table th {
  color: var(--color--white);
  background-color: var(--color--vibrant-blue);
  border: 2px solid var(--color--vibrant-blue);
}

table td {
  border: 2px solid var(--color--pale-blue);
}

/* Application checklist table */

.section--step-5-submit-your-application table td {
  border: none;
}

.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: var(--color--pale-blue) 2px solid;
  border-right: var(--color--pale-blue) 2px solid;
}

.section--step-5-submit-your-application table tr td:last-of-type {
  border-left: var(--color--pale-blue) 2px solid;
  border-right: var(--color--pale-blue) 2px solid;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom: 2px solid var(--color--pale-blue);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: 2px solid var(--color--pale-blue);
}
