/* Add Helvetica condensed font */

@font-face {
  font-family: "Helvetica Condensed";
  src: url("https://bn-ptzepiewjq-uc.a.run.app/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff2")
      format("woff2"),
    url("https://bn-ptzepiewjq-uc.a.run.app/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Page rules */

@page {
  /* portrait letter size */
  size: 216mm 279mm;
}

@page cover {
  margin: 0;
}

@page title {
  margin: 0;
}

/* Cover page */

.nofo--title-page--footer--subheading {
  display: none;
}

.nofo--title-page--header {
  padding: 20mm;
  padding-bottom: 15mm;
  background-color: var(--color--pale-blue);
}

.nofo--title-page--title {
  padding: 0 20mm 10mm 20mm;
}

.nofo--title-page--footer {
  padding-left: 20mm;
}

.nofo--title-page--header--logo--subheading {
  font-weight: 700;
  font-size: 14px;
}

.nofo--title-page--header--intro {
  font-size: 14px;
}

.nofo--title-page--header--intro span:first-of-type {
  display: inline-block;
  margin-bottom: 5px;
}

.nofo--title-page--title h1 {
  font-family: "Helvetica Condensed", Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: -0.5px;
}

.nofo--title-page--title .nofo--title-page--title--subheading {
  font-size: 19px;
  font-weight: 700;
}

.nofo--title-page--footer .nofo--title-page--footer--image {
  float: right;
}

.nofo--title-page--footer .nofo--title-page--footer--logo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}

.nofo--title-page--footer .nofo--title-page--footer--image {
  height: 520px;
  width: 85%;
  overflow: hidden;
}

.nofo--title-page--footer .nofo--title-page--footer--image img {
  height: 100%;
  border-radius: 80px 0 0 0;
  object-fit: cover;
}

.nofo--title-page--footer .nofo--title-page--footer--logo img {
  width: 100px;
  filter: invert(23%) sepia(77%) saturate(2406%) hue-rotate(180deg)
    brightness(89%) contrast(103%);
}

/* Table of contents */

.toc h2 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 24px;
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.header-nav li a {
  border-top: 4px solid var(--color--med-blue);
  color: var(--color--black);
}

.section--title-page h2 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: var(--color--black);
}

.section--title-page--toc,
.section--title-page--toc a {
  color: var(--color--black);
}

.section--title-page--toc p {
  font-size: 18px;
}

/* Section styling */

.section--content {
  width: 70%;
}
