/* Very helpful articles about paged CSS:
   - https://alistapart.com/article/boom/
   - https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
*/

/* CSS vars */
:root {
  --color--black: #000000;
  --color--white: #ffffff;
  --color--table-grey: #edf1f3;
  --color--table-blue: #f2f6fc;
  --color--light-grey: #dde2e8;
  --color--med-grey: #5c5c5c;
  --color--dark-blue: #00345e;
  --color--med-blue: #336a90;
  --color--vibrant-blue: #005eaa;
  --color--hrsa-blue: #006699;
  --color--cms-blue: #004a86;
  --color--light-blue: #bdd9ed;
  --color--pale-blue: #e8f0f3;
  --color--med-brown: #c0b0a2;
  --color--med-red: #940200;
}

/* Assign named pages */

section.nofo--cover-page {
  page: cover;
}

div.section--title-page {
  page: title;
}

/* Assign page breaks */

div.title-page,
section.toc,
section.before-you-begin {
  page-break-before: always;
}

/* put endnotes on its own page */
#contacts-support--endnotes {
  page-break-before: always;
}

/* Set @page rules */

h2 {
  string-set: sectiontitle content();
}

@page {
  margin: 20mm 20mm 16mm 20mm;

  /*
  https://printcss.net/articles/running-headers-and-footers
  */
  @top-center {
    content: element(breadcrumbs);
  }

  @bottom-left {
    border-top: 1px solid var(--color--light-grey);
    content: string(sectiontitle);
    font-size: 9pt;
    margin-top: 3mm;
    padding-top: 3mm;
    padding-bottom: 4mm;
  }

  @bottom-right {
    border-top: 1px solid var(--color--light-grey);
    content: counter(page);
    font-size: 9pt;
    margin-top: 3mm;
    padding-top: 3mm;
    padding-bottom: 4mm;
  }
}

/* Add Calibri */

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibri-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibri-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibrib-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibrib-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("/static/fonts/calibri/calibril-webfont.woff2") format("woff2"),
    url("/static/fonts/calibri/calibril-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Add Public Sans */

@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Black.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-LightItalic.woff2)
    format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-Italic.woff2) format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-BoldItalic.woff2)
    format("woff2");
}
@font-face {
  font-family: "Public Sans Web";
  font-style: italic;
  font-weight: 900;
  font-display: fallback;
  src: url(/static/fonts/public-sans/PublicSans-BlackItalic.woff2)
    format("woff2");
}

/* Utility classes */

.w-100,
.w-full {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

/* Regular CSS */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 11pt;
  line-height: 1.5;
}

body {
  background-color: transparent;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color--light-grey);
}

p {
  margin: 5px 0;
}

p + p {
  margin-top: 10px;
}

.section--before-you-begin--psuedo-header + p,
p[role="heading"] + p,
.section--content--intro p + p {
  margin-top: 5px;
}

.section--endnotes p {
  font-size: 9pt;
}

li {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0 20px;
  text-align: left;
}

table.table--large {
  padding-top: 0px;
  width: 100%;
}

table.table--with-caption caption {
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}

.section--step-4-learn-about-review-and-award
  [id*="criteria"]
  ~ table
  th:first-of-type {
  width: 65%;
}

.avoid-break,
.avoid-break--heading,
.avoid-break--heading + *,
.section--step-4-learn-about-review-and-award [id*="criteria"] ~ h6,
.section--step-4-learn-about-review-and-award [id*="criteria"] ~ p {
  break-before: avoid-column;
  break-inside: avoid-column;
}

.section--step-4-learn-about-review-and-award [id*="risk-review"] ~ h6,
.section--step-4-learn-about-review-and-award [id*="risk-review"] ~ p {
  break-before: auto;
  break-inside: auto;
}

table th,
table td,
table caption {
  font-size: 10pt;
}

table th,
table td {
  padding: 0.4rem 0.8rem;
}

table td {
  vertical-align: baseline;
}

table tr.table-row--empty {
  height: 28px;
}

table th.header-row-empty[colspan] {
  height: 31px;
  background-color: var(--color--table-blue);
}

table td a {
  color: var(--color--vibrant-blue);
}

table thead th {
  background-clip: padding-box;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
}

table td > *:first-child,
table td > *:first-child {
  margin-top: 0;
}

table td ul,
table td ol {
  padding-left: 20px;
  margin-left: 0;
}

table td ul li:first-of-type,
table td ol li:first-of-type {
  margin-top: 0;
}

body[class*="-blue"] table td img.usa-icon--check_box_outline_blank {
  background: var(--color--white);
  -webkit-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  -moz-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
}

ul,
ol {
  margin-bottom: 12px;
  margin-top: 4px;
  line-height: 1.5;
  padding-left: 30px;
  margin-left: 0;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul ul:last-child,
ol ol:last-child {
  margin-bottom: 0.5rem;
}

img.usa-icon--check_box_outline_blank {
  height: 17px;
  width: 17px;
  margin-bottom: -3px;
  margin-right: 5px;
}

td.usa-icon__td ul,
td.usa-icon__td ol {
  list-style: none;
}

td.usa-icon__td p + ul,
td.usa-icon__td p + ol {
  padding-left: 25px;
}

.usa-icon__list-element {
  position: relative;
}

.usa-icon__list-element .usa-icon {
  position: absolute;
  left: -25px;
  height: 20px;
  width: 20px;
  min-width: 20px;
  top: 1px;
}

/* Headings */

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

h1 {
  font-weight: 400;
  font-size: 32pt;
  line-height: 1.2;
  margin-top: 0;
}

h2 {
  font-size: 32pt;
  font-weight: 700;
  margin-top: 20px;
}

.section--content h2 {
  line-height: 1.2;
}

h3 {
  font-size: 28pt;
  font-weight: 700;
  margin-top: 20px;
  line-height: 1.2;
}

h4 {
  font-size: 20pt;
  font-weight: 600;
  margin-top: 15px;
  line-height: 1.4;
}

h5 {
  font-size: 16pt;
  font-weight: 600;
  margin-top: 15px;
}

h6 {
  font-size: 14pt;
  font-weight: 500;
  margin-top: 12px;
}

/* Headings which follow headings have less top spacing */

h3 + h4 {
  margin-top: 12px;
}

h4 + h5 {
  margin-top: 8px;
}

h5 + h6 {
  margin-top: 8px;
}

/* this functions as an h7 */
p[role="heading"] {
  margin: 10px 0 5px;
  font-size: 12.5pt;
  font-weight: 500;
}

/* Running header */

.table--callout-box {
  display: none;
}

.header-nav {
  width: 100%;
  height: 20mm;
}

.header-nav ol {
  counter-reset: n;
  width: calc(100% + 10mm);
  margin: 0 0 0 -5mm;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none; /* use CSS counters for the list numbers */
  text-align: center;
}

.header-nav li {
  counter-increment: n; /* Increment the value of counter by 1 for each list item */
  margin: 0;
}

.header-nav li a {
  font-size: 9pt;
  display: inline-block;
  width: 85px;
  text-decoration: none;
  padding-top: 5px;
}

.header-nav li a:before {
  content: counter(n) ".";
  padding-right: 2px;
}

.header-nav li:last-of-type {
  list-style-type: none;
}

.header-nav li:last-of-type a:before {
  content: none;
}

.header-nav--running-header {
  display: none;
  position: running(breadcrumbs);
}

.header-nav--running-header li a {
  border-top: 4px solid var(--color--light-grey);
  color: var(--color--med-grey);
}

.header-nav--running-header li a[aria-current] {
  font-weight: 700;
}

/* Cover page */

.nofo--cover-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nofo--cover-page .nofo--cover-page--header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nofo--cover-page--header--logo img {
  width: 150px;
}

.nofo--cover-page--header--logo--subheading p {
  margin: 0;
}

.nofo--cover-page--footer {
  position: relative;
}

.nofo--cover-page--header--intro {
  text-align: right;
  font-size: 11pt;
}

.nofo--cover-page--header .nofo--cover-page--header--intro span:last-of-type {
  font-weight: 700;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image img {
  height: 100%;
  border-radius: 80px 0 0 0;
  object-fit: cover;
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header--logo--subheading p {
  white-space: pre;
}

.nofo--cover-page--text
  .nofo--cover-page--title
  .nofo--cover-page--title--subheading {
  font-weight: 400;
}

/* Cover page: medium image */

.nofo--cover-page--medium .nofo--cover-page--title--logo,
.nofo--cover-page--medium .nofo--cover-page--hero-image {
  display: none;
}

/* Cover page: hero image */

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--block {
  width: 75%;
}

.nofo--cover-page--hero .nofo--cover-page--hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nofo--cover-page--hero .nofo--cover-page--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5mm 20mm 10mm 20mm;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--block
  h1 {
  font-size: 24pt;
  margin-bottom: 10px;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo {
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo
  img {
  width: 120px;
  height: 120px;
}

.nofo--cover-page--hero .nofo--cover-page--footer {
  display: none;
}

/* Table of contents */

.toc h2 {
  font-weight: 700;
  font-size: 32pt;
  margin-top: 0;
  margin-bottom: 10px;
}

.toc ol {
  margin-left: 0;
}

.toc > ol > li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.toc > ol > li:not(:last-of-type) {
  border-bottom: 1px solid var(--color--light-grey);
}

.toc ol li {
  margin-top: 8px;
}

.toc a {
  display: inline-block;
  position: relative;
  width: 100%;
  text-decoration: none;
  font-size: 13pt;
}

.toc a:after {
  position: absolute;
  right: 0;
  content: target-counter(attr(href, url), page);
  text-decoration: underline;
}

.toc .toc--subsection-name a {
  font-size: 11pt;
}

.toc .toc--section-name .toc--section-name--a {
  font-weight: 600;
}

.toc .toc--section-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.toc .toc--section-name--wrapper {
  margin-top: 2px;
  width: 100%;
  margin-left: 10px;
}

.toc .toc--section-name .toc--section-name--img {
  width: 30px;
  border-radius: 50%;
}

.toc ol li.toc--no-icon {
  margin-top: -10px;
  padding-left: 30px;
}

/* Before you begin page */

.before-you-begin--content {
  width: 80%;
}

.section--before-you-begin--psuedo-header {
  margin-top: 15px;
  font-size: 13pt;
  font-weight: 600;
}

/* Section title page */

.section--title-page {
  color: var(--color--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section--title-page--name {
  padding: 150px 20mm 0 20mm;
}

.section--title-page a {
  color: var(--color--white);
  text-decoration: none;
}

.section--title-page--toc {
  padding: 12mm 20mm;
}

.section--title-page--toc > p {
  font-weight: 600;
}

.section--title-page--header-nav {
  padding: 0mm 20mm;
}

.section--title-page--header-nav p {
  font-size: 10pt;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.section--title-page--header-nav a[aria-current] {
  font-weight: 700;
}

.section--title-page--toc p {
  font-size: 13pt;
  padding-bottom: 10px;
}

.section--title-page--toc a {
  display: inline-block;
  position: relative;
}

.section--title-page--toc a:after {
  position: absolute;
  right: 0;
  content: target-counter(attr(href, url), page);
  text-decoration: underline;
}

.section--title-page ul,
.section--title-page ol,
.section--title-page li {
  padding-left: 0;
  margin-left: 0;
  list-style-position: inside;
}

.section--title-page--toc ul {
  list-style-type: none;
}

.section--before-you-begin--icon img,
.section--title-page--icon img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

/* Section contents */

.section--content {
  orphans: 2;
  widows: 2;
}

.section--content strong {
  font-weight: 600;
}

.section--content h3:first-of-type {
  margin-top: 0;
}

.section--content h2 ~ h3:first-of-type {
  margin-top: 20px;
}

.section--content .section--content--intro {
  margin-top: 15px;
}

.section--content--intro p.nofo--tagline {
  font-size: 14pt;
  border-top: 1px solid var(--color--light-grey);
  border-bottom: 1px solid var(--color--light-grey);
  padding: 15px 0;
  margin: 15px 0 25px 0;
}

.callout-box {
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  break-inside: avoid-column;
}

.callout-box--title {
  font-size: 13pt;
  font-weight: 600;
  color: var(--color-black);
  margin: 0 0 10px 0;
}

.callout-box--contents {
  font-size: 10pt;
}

.callout-box--contents strong {
  display: block;
}

.callout-box--contents p:first-of-type {
  margin-top: 0;
}

.callout-box--contents p:last-of-type {
  margin-bottom: 0;
}

.callout-box--icon {
  padding: 15px;
}

.callout-box--icon .callout-box--contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.callout-box--keyboard .callout-box--contents {
  align-items: flex-start;
}

.callout-box--icon .callout-box--contents img {
  width: 30px;
  margin-right: 10px;
}

.callout-box--questions .callout-box--contents p {
  font-size: 12pt;
}

.section--endnotes h3,
.section--references h3,
.appendix--h3 {
  font-size: 11pt;
  font-weight: 600;
  color: var(--color--black);
  margin-bottom: 10px;
}

/* Footnotes
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/#footnotes
*/

/* Media queries */

@media screen {
  /* top nav */
  .usa-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .usa-logo .usa-tag--link {
    display: inline-flex;
    align-items: center;
    color: white;
  }

  .usa-logo .usa-tag--link:hover {
    text-decoration: underline;
    opacity: 0.9;
  }

  .usa-logo__text {
    display: inline-block;
  }

  .page-break--hr.page-break-before,
  .page-break--hr.column-break-before {
    border-bottom: none;
  }

  /* Page break rules */
  .page-break-before,
  .page-break-before--heading {
    border-top: 2px dashed var(--color--med-grey);
  }

  .page-break-after,
  .page-break-after--heading {
    border-bottom: 2px dashed var(--color--med-grey);
  }

  .column-break-before {
    border-top: 1px dotted var(--color--med-grey);
  }

  .column-break-after {
    border-bottom: 1px dotted var(--color--med-grey);
  }

  /* Outlines for the view page */
  section.nofo--cover-page,
  section.toc,
  section.before-you-begin,
  section.section {
    outline: 1px solid var(--color--light-grey);
  }

  .section--title-page {
    border-bottom: 1px solid var(--color--light-grey);
  }

  /* Padding for the view page */
  section.toc,
  section.before-you-begin,
  div.section--content {
    padding: 20mm;
  }

  .grid-container {
    padding-bottom: 20mm;
  }
}

/* Media queries */
@media print {
  /* Page break rules */
  .page-break-before,
  .page-break-before--heading {
    break-before: page !important;
    page-break-before: always !important;
  }

  .page-break-after,
  .page-break-after--heading {
    break-after: page !important;
    page-break-after: always !important;
  }

  .column-break-before {
    break-before: column;
  }

  .column-break-after {
    break-after: column;
  }

  .page-break--hr {
    visibility: hidden;
    border: 0;
    margin: 0;
  }

  .running-header,
  .header-nav--running-header {
    display: block;
  }

  .usa-header {
    display: none;
  }

  .grid-container {
    padding: 0;
    margin: 0;
    max-width: none !important;
  }

  .nofo--cover-page,
  .section--title-page {
    min-height: calc(100vh + 36mm - 0.01px);
  }
}
