/* Headings */

h1 {
  color: var(--color--hrsa-blue);
}

h2 {
  color: var(--color--black);
  font-weight: 800;
}

h3 {
  color: var(--color--black);
}

h4 {
  color: var(--color--dark-blue);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--pale-blue);
}

.nofo--cover-page .nofo--cover-page--callout-box {
  background-color: var(--color--white);
}

/* Cover page: hero image */

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo
  svg {
  fill: var(--color--hhs-blue);
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header {
  background-color: var(--color--white);
}

.nofo--cover-page--text .nofo--cover-page--callout-box {
  background-color: var(--color--pale-blue);
}

.nofo--cover-page--text .nofo--cover-page--header--logo--subheading,
.nofo--cover-page--text .nofo--cover-page--header--intro,
.nofo--cover-page--text
  .nofo--cover-page--title
  .nofo--cover-page--title--subheading {
  color: var(--color--hrsa-blue);
}

/* Table of contents */

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--hrsa-blue);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--white);
  fill: var(--color--hrsa-blue);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--hrsa-blue);
}

/* Before you begin */

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--white);
  fill: var(--color--hrsa-blue);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--hrsa-blue);
}

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--hrsa-blue);
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.header-nav li a {
  border-top: 4px solid var(--color--med-blue);
  color: var(--color--black);
}

.section--title-page--name,
.section--title-page--toc,
.section--title-page--toc a {
  color: var(--color--black);
}

.section--title-page--icon svg {
  color: var(--color--hrsa-blue);
}

.nofo--icons--border .section--title-page--icon svg {
  color: var(--color--white);
  fill: var(--color--hrsa-blue);
}

.nofo--icons--border .section--title-page--icon svg circle {
  stroke: var(--color--hrsa-blue);
}

/* Section contents */

.callout-box {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.callout-box--icon .callout-box--contents svg {
  fill: var(--color--white);
}

table th {
  color: var(--color--white);
  background-color: var(--color--hrsa-blue);
  border-top: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
  border-left: 2px solid var(--color--light-grey);
}

table th:first-of-type {
  border-left: 2px solid var(--color--light-grey);
}

table th:last-of-type {
  border-right: 2px solid var(--color--light-grey);
}

table td {
  border-left: 2px solid var(--color--light-grey);
  border-right: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
}

/* Application checklist table */

.section--step-5-submit-your-application table td {
  border: none;
}

.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application table tr td:last-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist)
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading),
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td:not(.usa-icon__td--sublist):not(.usa-icon__td--list-heading)
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: 2px solid var(--color--light-grey);
}
