/* CSS vars */

:root {
  --color--acf-blue: #264a64;
  --color--acf-blue-light: #336a90;
  --color--light-black: #172c3c;
}

/* Page rules */

@page {
  @bottom-left {
    font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
      serif;
    font-weight: 700;
    color: var(--color--dark-blue);
  }

  @bottom-right {
    font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
      serif;
    font-weight: 700;
    color: var(--color--dark-blue);
  }
}

/* Regular CSS */

/* Running header */

.header-nav.header-nav--running-header li a {
  border-top: 4px solid var(--color--light-grey);
  color: var(--color--med-grey);
}

/* Headings */

h1 {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
}

h2 {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
}

h3 {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
}

h4 {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  color: var(--color--vibrant-blue);
}

h5 {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
  font-size: 14pt;
}

h6 {
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
}

/* Cover page */

.nofo--cover-page--footer--subheading {
  display: none;
}

.nofo--cover-page--title {
  padding: 5mm 20mm 10mm 20mm;
}

.nofo--cover-page--footer {
  padding-left: 20mm;
}

.nofo--cover-page--header--logo,
.nofo--cover-page--header--logo img {
  width: 250px;
}

.nofo--cover-page--header--logo--subheading {
  font-weight: 700;
  font-size: 11pt;
}

.nofo--cover-page--header--intro span:first-of-type {
  display: inline-block;
  margin-bottom: 5px;
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  font-size: 16pt;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  float: right;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image img {
  height: 100%;
  border-radius: 80px 0 0 0;
  object-fit: cover;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  width: 100px;
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header--intro {
  width: 120%;
}

/* Before you begin page */

/* Section title page */

/* Section contents */

.section--content--intro p.nofo--tagline {
  color: var(--color--acf-blue);
}
