/* Add Helvetica condensed font */

@font-face {
  font-family: "Helvetica Condensed";
  src: url("https://bn-ptzepiewjq-uc.a.run.app/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff2")
      format("woff2"),
    url("https://bn-ptzepiewjq-uc.a.run.app/static/fonts/helvetica-condensed/helvetica_lt_condensed_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Set @page rules */

@page {
  @bottom-left {
    font-family: "Helvetica Condensed", Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif;
    font-weight: 700;
    color: var(--color--med-red);
  }

  @bottom-right {
    font-family: "Helvetica Condensed", Helvetica Neue, Helvetica, Roboto, Arial,
      sans-serif;
    font-weight: 700;
    color: var(--color--med-red);
  }
}

/* Regular CSS */

/* Running header */

.header-nav.header-nav--running-header li a {
  border-top: 4px solid var(--color--light-grey);
  color: var(--color--med-grey);
}

.header-nav.header-nav--running-header li a[aria-current] {
  border-top: 4px solid var(--color--med-red);
  color: var(--color--med-red);
}

.section--title-page--header-nav a[aria-current] {
  border-top: 4px solid var(--color--hrsa-blue);
}

/* Headings */

h1 {
  font-family: "Helvetica Condensed", Helvetica Neue, Helvetica, Roboto, Arial,
    sans-serif;
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h3 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h4 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h5 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

h6 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
}

/* Cover page */

/* Cover page: medium image */

/* Cover page: hero image */

/* Cover page: text */

/* Table of contents */

.toc h2 {
  font-family: "Open Sans";
  font-weight: 800;
  margin-bottom: 24px;
}

/* Before you begin page */

/* Section title page */

/* Section contents */

/* Media queries */
