/* Set @page rules */

/* Regular CSS */

/* Headings */

h1 {
  color: var(--color--black);
}

h2,
h3 {
  color: var(--color--ihs-blue);
}

h4,
h5,
h6 {
  color: var(--black);
}

/* this functions as an h7 */
div[role="heading"] {
  color: var(--black);
}

/* Cover page */

.nofo--cover-page.nofo--cover-page--medium .nofo--cover-page--header {
  background-color: var(--color--ihs-grey);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--header--intro {
  color: var(--color--black);
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  color: var(--color--black);
}

/* Cover page: text */

/* Cover page: medium image */

/* Cover page: hero image */

/* Table of contents */

.toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--ihs-blue);
}

.nofo--icons--border .toc .toc--section-name .toc--section-name--img svg {
  color: var(--color--white);
  fill: var(--color--ihs-blue);
}

.nofo--icons--border
  .toc
  .toc--section-name
  .toc--section-name--img
  svg
  circle {
  stroke: var(--color--ihs-blue);
}

/* Before you begin page */

.nofo--icons--border .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--white);
  fill: var(--color--ihs-blue);
}

.nofo--icons--border
  .before-you-begin
  .section--before-you-begin--icon
  svg
  circle {
  stroke: var(--color--ihs-blue);
}

.nofo--icons--solid .before-you-begin .section--before-you-begin--icon svg {
  color: var(--color--ihs-blue);
}

section.before-you-begin h2 {
  color: var(--color--ihs-blue);
}

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--ihs-grey);
  color: var(--color--ihs-blue);
}

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--white);
  color: var(--color--ihs-blue);
}

.section--title-page--header-nav li a[aria-current] {
  border-top: 4px solid var(--color--ihs-blue);
}

.section--title-page--name,
.section--title-page--toc,
.section--title-page--toc a {
  color: var(--color--ihs-blue);
}

.nofo--icons--border .section--title-page--icon svg {
  color: var(--color--white);
  fill: var(--color--ihs-blue);
}

.nofo--icons--border .section--title-page--icon svg circle {
  stroke: var(--color--ihs-blue);
}

/* Section contents */

.section--content--intro p.nofo--tagline {
  color: var(--color--ihs-blue);
}

table th {
  color: var(--color--white);
  background-color: var(--color--ihs-blue);
  border: 2px solid var(--color--ihs-grey);
}

table td {
  border: 2px solid var(--color--ihs-grey);
}
