/* CSS vars */

:root {
  --color--dop-teal: #004c52;
  --color--dop-blue: #1a3b66;
  --color--dop-yellow: #dba826;
  --color--dop-seafoam: #51a3a1;
}

/* Page rules */

@page {
  @bottom-left {
    color: var(--color--dop-teal);
  }

  @bottom-right {
    color: var(--color--dop-teal);
  }
}

@page cover {
  background-color: var(--color--dop-teal);
}

@page title {
  background-color: var(--color--dop-teal);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Regular CSS */
.portrait-cdc-dop .table--small.table--empty {
  width: 100%;
}

.callout-box--icon.callout-box--before-you-begin {
  background-color: var(--color--dop-yellow);
  border: none;
}

.callout-box--icon.callout-box--before-you-begin .callout-box--contents {
  align-items: flex-start;
}

img.usa-icon--check_box_outline_blank {
  background: var(--color--white);
  -webkit-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  -moz-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
}

/* Headings */

h1 {
  color: var(--color--white);
}

h3 {
  color: var(--color--dop-blue);
}

h4 {
  color: var(--color--dop-teal);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--white);
}

.nofo--cover-page--title {
  background-color: var(--color--dop-teal);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--header--intro {
  color: var(--color--dop-teal);
}

.nofo--cover-page--title {
  color: var(--color--white);
}

.nofo--cover-page--footer {
  background: var(--color--white);
}

.portrait .nofo--cover-page--footer {
  background-color: var(--color--dop-teal);
}

/* Cover page: medium image */

.nofo--cover-page--medium .nofo--cover-page--footer--subheading {
  color: var(--color--white);
}

/* Cover page: hero image */

.nofo--cover-page--hero .nofo--cover-page--title {
  background-color: var(--color--dop-teal);
}

/* Table of contents */

.toc h2 {
  color: var(--color--dop-teal);
}

.toc .toc--section-name .toc--section-name--a {
  color: var(--color--dop-teal);
}

.toc
  .toc--section-name
  .toc--section-name--img:not([class*="med-blue-border"]) {
  background: var(--color--dop-teal);
}

/* Before you begin */

.before-you-begin h2 {
  color: var(--color--dop-teal);
}

/* Section title page */

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--white);
  color: var(--color--white);
}

.section--title-page--header-nav li a[aria-current] {
  border-top: 4px solid var(--color--dop-yellow);
  color: var(--color--dop-yellow);
}

.section--title-page {
  background-color: var(--color--dop-teal);
}

.section--title-page--header-nav {
  background-color: var(--color--dop-blue);
}

/* Section contents */

.header-nav--running-header li a[aria-current] {
  border-top: 4px solid var(--color--dop-yellow);
  color: var(--color--black);
}

.nofo--tagline {
  color: var(--color--dop-teal);
}

.callout-box {
  background-color: var(--color--dop-yellow);
  color: var(--color--black);
}

.callout-box--contents a {
  color: var(--color--black);
}

.callout-box--icon {
  background-color: var(--color--white);
  border: 2px solid var(--color--dop-teal);
}

table th {
  color: var(--color--white);
  background-color: var(--color--dop-teal);
  border-top: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
  border-left: 2px solid var(--color--light-grey);
}

table th:first-of-type {
  border-left: 2px solid var(--color--light-grey);
}

table th:last-of-type {
  border-right: 2px solid var(--color--light-grey);
}

table td {
  border-left: 2px solid var(--color--light-grey);
  border-right: 2px solid var(--color--light-grey);
  border-bottom: 2px solid var(--color--light-grey);
}

/* Application checklist table */

.section--step-5-submit-your-application table td {
  border: none;
}

.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application table tr td:last-of-type {
  border-left: var(--color--light-grey) 2px solid;
  border-right: var(--color--light-grey) 2px solid;
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom: 2px solid var(--color--light-grey);
}

.section--step-5-submit-your-application table tr:last-of-type td {
  border-bottom: 2px solid var(--color--light-grey);
}
