/* Set @page rules */

@page {
  /* portrait letter size */
  size: 216mm 279mm;
}

@page cover {
  margin: 0;
}

@page title {
  margin: 0;
}

/* Regular CSS */

/* Headings */

/* Cover page */

.nofo--cover-page--footer--subheading {
  display: none;
}

.nofo--cover-page--header {
  padding: 20mm;
  padding-bottom: 15mm;
}

.nofo--cover-page--title {
  padding: 0 20mm 10mm 20mm;
}

.nofo--cover-page--footer {
  padding-left: 20mm;
}

.nofo--cover-page--header--logo--subheading {
  font-weight: 700;
  font-size: 11pt;
}

.nofo--cover-page--header--intro span:first-of-type {
  display: inline-block;
  margin-bottom: 5px;
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  font-size: 16pt;
  font-weight: 700;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  float: right;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  height: 520px;
  width: 85%;
  overflow: hidden;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image img {
  height: 100%;
  border-radius: 80px 0 0 0;
  object-fit: cover;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  width: 100px;
}

/* Cover page: medium image */

/* Cover page: hero image */

/* Table of contents */

/* Before you begin page */

/* Section title page */

/* Section contents */

.section--content {
  width: 80%;
}

table.table--large {
  width: 130%; /* large tables should try to be full-width */
}

/* Media queries */
