/* Set @page rules */

/* Regular CSS */

/* Headings */

h1,
h2,
h3 {
  color: var(--color--ihs-blue);
}

/* Cover page */

.nofo--cover-page.nofo--cover-page--medium .nofo--cover-page--header {
  background-color: var(--color--ihs-grey);
}

.nofo--cover-page--header--logo--subheading {
  color: var(--color--ihs-blue);
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  color: var(--color--ihs-blue);
}

/* Cover page: text */

/* Cover page: medium image */

/* Cover page: hero image */

/* Table of contents */

/* Before you begin page */

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--ihs-grey);
  color: var(--color--ihs-blue);
}

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--ihs-blue);
}

.section--title-page--toc,
.section--title-page a {
  color: var(--color--ihs-blue);
}

/* Section contents */

table th {
  color: var(--color--white);
  background-color: var(--color--ihs-blue);
  border: 2px solid var(--color--ihs-grey);
}

table td {
  border: 2px solid var(--color--ihs-grey);
}

table td a {
  color: var(--color--ihs-blue);
}

/* Media queries */
