/* Page rules */

@page {
  /* portrait letter size */
  size: 216mm 279mm;

  @bottom-left {
    font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
      serif;
    font-weight: 700;
    color: var(--color--dark-blue);
  }

  @bottom-right {
    font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
      serif;
    font-weight: 700;
    color: var(--color--dark-blue);
  }
}

@page cover {
  margin: 0;
}

@page title {
  margin: 0;
}

/* Running header */

.header-nav.header-nav--running-header li a {
  border-top: 4px solid var(--color--light-grey);
  color: var(--color--med-grey);
}

/* Headings */

h1 {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Merriweather Web", Georgia, Cambria, Times New Roman, Times,
    serif;
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
}

h3 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-family: "Open Sans", Source Sans Pro Web, Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif;
  font-size: 19px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 1.15rem;
  text-transform: uppercase;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 1.1rem;
}

/* Cover page */

.nofo--cover-page--footer--subheading {
  display: none;
}

.nofo--cover-page--header {
  padding: 20mm;
  padding-bottom: 15mm;
}

.nofo--cover-page--title {
  padding: 0 20mm 10mm 20mm;
}

.nofo--cover-page--footer {
  padding-left: 20mm;
}

.nofo--cover-page--header--logo,
.nofo--cover-page--header--logo img {
  width: 250px;
}

.nofo--cover-page--header--logo--subheading {
  font-weight: 700;
  font-size: 14px;
}

.nofo--cover-page--header--intro {
  font-size: 14px;
}

.nofo--cover-page--header--intro span:first-of-type {
  display: inline-block;
  margin-bottom: 5px;
}

.nofo--cover-page--title .nofo--cover-page--title--subheading {
  font-size: 19px;
  font-weight: 700;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  float: right;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image {
  height: 520px;
  width: 85%;
  overflow: hidden;
}

.nofo--cover-page--footer .nofo--cover-page--footer--image img {
  height: 100%;
  border-radius: 80px 0 0 0;
  object-fit: cover;
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  width: 100px;
}

/* Table of contents */

.toc h2 {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 24px;
}

/* Section title page */

.section--title-page--toc p {
  font-size: 18px;
}

/* Section styling */

.section--content {
  width: 80%;
}
