/* Page rules */

@page {
  @bottom-left {
    color: var(--color--dark-blue);
  }

  @bottom-right {
    color: var(--color--dark-blue);
  }
}

@page cover {
  background-color: var(--color--vibrant-blue);
}

@page title {
  background-color: var(--color--vibrant-blue);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Headings */

h1 {
  color: var(--color--white);
}

h3 {
  color: var(--color--vibrant-blue);
}

h4 {
  color: var(--color--dark-blue);
}

/* Cover page */

.nofo--cover-page--header,
.nofo--cover-page--title {
  background-color: var(--color--vibrant-blue);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--title {
  color: var(--color--white);
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  filter: invert(22%) sepia(51%) saturate(3181%) hue-rotate(191deg)
    brightness(98%) contrast(99%);
}

.nofo--cover-page--footer {
  background: var(--color--white);
}

/* Table of contents */

.toc h2 {
  color: var(--color--vibrant-blue);
}

.toc ol li a {
  color: var(--color--black);
}

.toc .toc--section-name .toc--section-name--img {
  background: var(--color--vibrant-blue);
}

/* Before you begin */

.before-you-begin h2 {
  color: var(--color--med-blue);
}

/* Section title page */

.section--title-page {
  background-color: var(--color--vibrant-blue);
}

.section--title-page--header-nav {
  background-color: var(--color--dark-blue);
}

.section--title-page--icon img {
  filter: invert(99%) sepia(99%) saturate(17%) hue-rotate(212deg)
    brightness(105%) contrast(100%);
}

/* Section contents */

.callout-box {
  background-color: var(--color--vibrant-blue);
  color: var(--color--white);
}

.callout-box--contents a {
  color: var(--color--white);
}

.callout-box--questions .callout-box--contents img {
  filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(222deg)
    brightness(104%) contrast(100%);
}

table th {
  color: var(--color--white);
  background-color: var(--color--vibrant-blue);
  border: 2px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 2px solid var(--color--white);
}

table td a {
  color: var(--color--vibrant-blue);
}
