/* Page rules */

@page {
  @bottom-left {
    color: var(--color--dark-blue);
  }

  @bottom-right {
    color: var(--color--dark-blue);
  }
}

@page cover {
  background-color: var(--color--vibrant-blue);
}

@page title {
  background-color: var(--color--vibrant-blue);

  @bottom-left {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }

  @bottom-right {
    border-top: 1px solid var(--color--white);
    color: var(--color--white);
  }
}

/* Regular CSS */

img.usa-icon--check_box_outline_blank {
  background: var(--color--white);
  -webkit-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  -moz-box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
  box-shadow: inset 0px 0px 5px 3px var(--color--table-blue);
}

/* Headings */

h1 {
  color: var(--color--white);
}

/* Cover page */

.nofo--cover-page--header,
.nofo--cover-page--title {
  background-color: var(--color--vibrant-blue);
}

.nofo--cover-page--header--logo--subheading,
.nofo--cover-page--title,
.nofo--cover-page--header--intro {
  color: var(--color--white);
}

.nofo--cover-page--footer .nofo--cover-page--footer--logo img {
  filter: invert(22%) sepia(51%) saturate(3181%) hue-rotate(191deg)
    brightness(98%) contrast(99%);
}

.nofo--cover-page--footer {
  background: var(--color--white);
}

/* Cover page: hero image */

.nofo--cover-page--hero .nofo--cover-page--title {
  background-color: var(--color--dark-blue);
}

.nofo--cover-page--hero
  .nofo--cover-page--title
  .nofo--cover-page--title--logo
  img {
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(90deg) brightness(105%)
    contrast(101%);
}

/* Table of contents */

.toc .toc--section-name .toc--section-name--img {
  background: var(--color--vibrant-blue);
}

/* Before you begin */

.before-you-begin h2 {
  color: var(--color--vibrant-blue);
}

.section--before-you-begin--psuedo-header {
  color: var(--color--vibrant-blue);
}

/* Section title page */

.section--title-page--header-nav li a {
  border-top: 4px solid var(--color--white);
  color: var(--color--white);
}

.section--title-page {
  background-color: var(--color--vibrant-blue);
}

.section--title-page--header-nav {
  background-color: var(--color--dark-blue);
}

/* Section contents */

.nofo--tagline {
  color: var(--color--vibrant-blue);
}

.callout-box {
  background-color: var(--color--vibrant-blue);
  color: var(--color--white);
}

.callout-box--contents a {
  color: var(--color--white);
}

.callout-box--icon {
  background-color: var(--color--dark-blue);
}

table th {
  color: var(--color--white);
  background-color: var(--color--vibrant-blue);
  border: 2px solid var(--color--white);
}

table td {
  background-color: var(--color--table-blue);
  border: 2px solid var(--color--white);
}

table td a {
  color: var(--color--vibrant-blue);
}

/* Application checklist table */

.section--step-5-submit-your-application table tr th:first-of-type,
.section--step-5-submit-your-application table tr td:first-of-type {
  border-left: none;
}

.section--step-5-submit-your-application table tr th:last-of-type,
.section--step-5-submit-your-application table tr td:last-of-type {
  border-right: none;
}

.section--step-5-submit-your-application table tr td.usa-icon__td--sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--sublist
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}

.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist,
.section--step-5-submit-your-application
  table
  tr
  td.usa-icon__td--before-sublist
  ~ td {
  border-bottom-color: white;
}

.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td),
.section--step-5-submit-your-application
  table
  tr
  td:first-of-type:not(.usa-icon__td)
  ~ td {
  border-bottom-color: var(--color--table-blue);
  background-color: var(--color--table-blue);
}
