/* Headings */

h1 {
  color: var(--color--hrsa-blue);
}

h2 {
  color: var(--color--black);
  font-weight: 800;
}

h3 {
  color: var(--color--black);
}

h4 {
  color: var(--color--dark-blue);
}

/* Cover page */

.nofo--cover-page--header {
  background-color: var(--color--pale-blue);
}

/* Cover page: text */

.nofo--cover-page--text .nofo--cover-page--header {
  background-color: var(--color--white);
}

.nofo--cover-page--text .nofo--cover-page--header--logo--subheading,
.nofo--cover-page--text .nofo--cover-page--header--intro,
.nofo--cover-page--text
  .nofo--cover-page--title
  .nofo--cover-page--title--subheading {
  color: var(--color--hrsa-blue);
}

/* Table of contents */

.toc ol li a {
  color: var(--color--black);
}

/* Before you begin */

/* Section title page */

.section--title-page--header-nav {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

.header-nav li a {
  border-top: 4px solid var(--color--med-blue);
  color: var(--color--black);
}

.section--title-page--name,
.section--title-page--toc {
  color: var(--color--black);
}

.section--title-page--toc a {
  color: var(--color--black);
}

/* Section contents */

.callout-box {
  background-color: var(--color--pale-blue);
  color: var(--color--black);
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  margin-left: -2px;
}

table caption {
  margin-left: 2px;
}

table th {
  padding-left: 0;
}

table td {
  border: 2px solid var(--color--light-grey);
}
