{% extends 'base_barebones.html' %}
{% load static %}

{% block base_css %}
  <link href="{% static 'styles.css' %}" rel="stylesheet">
{% endblock %}

{% block uswds_js %}
  <script src="{% static 'uswds/uswds-init.js' %}"></script>
  <link rel="preload" href="{% static 'uswds/uswds.js' %}" as="script">
{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo">
          <em class="usa-logo__text">
            {% if '/compare/' in request.path %}
              <a href="{% url 'compare:compare_index' %}">NOFO Compare</a>
            {% elif '/composer/writer' in request.path %}
              <a href="{% url 'composer:writer_index' %}">NOFO Composer</a>
            {% elif '/composer/' in request.path %}
              <a href="{% url 'composer:composer_index' %}">NOFO Composer</a>
            {% else %}
              <a href="{% url 'index' %}">NOFO Builder</a>
            {% endif %}
          </em>
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          {% if user.is_authenticated and '/nofos/' in request.path %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'compare:compare_index' %}">NOFO Compare</a>
            </li>
          {% endif %}
          {% if user.is_authenticated and '/compare/' in request.path %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'index' %}">NOFO Builder</a>
            </li>
          {% endif %}
          {% if user.is_superuser and nofo and subsection %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'admin:nofos_subsection_change' subsection.id %}">Subsection admin link</a>
            </li>
          {% endif %}
          {% if user.is_superuser and nofo and section %}
            <li class="usa-nav__primary-item">
              <a href="{% url 'admin:nofos_section_change' section.id %}">Section admin link</a>
            </li>
          {% endif %}
          {% if user.is_superuser and nofo %}
            <li class="usa-nav__primary-item">
              <a href="{{ nofo.get_admin_url }}">NOFO admin link</a>
            </li>
          {% endif %}
          {% if user.is_superuser and document %}
            <li class="usa-nav__primary-item">
              <a href="{{ document.get_admin_url }}">Doc admin link</a>
            </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="usa-nav__primary-item">
              {% if '/compare/' in request.path %}
                <a href="{% url 'compare:compare_index' %}" class="usa-nav-link" {% if request.resolver_match.url_name == 'compare_index' %}aria-current="page"{% endif %}>All documents</a>
              {% elif '/composer/' in request.path %}
                {# TODO #}
              {% else %}
                <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link" {% if request.resolver_match.url_name == 'nofo_index' %}aria-current="page"{% endif %}>All NOFOs</a>
              {% endif %}
            </li>
          {% endif %}
          <li class="usa-nav__primary-item">
            {% if user.is_authenticated %}
              <a href="{% url 'users:user_view' %}" class="usa-nav-link" {% if request.resolver_match.url_name == 'user_view' %}aria-current="page"{% endif %}><span class="usa-sr-only">Your account</span><span aria-hidden="true">{{ user.email }}</span></a>
            {% else %}
              <a href="{% url 'users:login' %}" class="usa-nav-link">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </header>
{% endblock %}

{% block main_container_start %}
<main id="main-content">
  <section class="usa-section">
    <div class="grid-container">
{% endblock %}

{% block main_container_end %}
    </div>
  </section>
  {% if include_scroll_to_top|default:False %}
    {% include "includes/scroll_to_top_button.html" %}
  {% endif %}
</main>
{% endblock %}

{% block footer %}
  <footer class="usa-footer">
    <div class="usa-footer__primary-section">
      <nav class="usa-footer__nav usa-footer__nav--reverse" aria-label="Footer navigation">
        <ul class="grid-row grid-gap">
          <li
            class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            "
          >
            <a class="usa-footer__primary-link back-to-top" href="#back-to-top"
              >Back to top</a
            >
          </li>
          <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
            <a class="usa-footer__primary-link" href="https://github.com/HHS/simpler-grants-pdf-builder/blob/main/CHANGELOG.md" target="_blank">
              Latest updates
            </a>
          </li>
          {% if user.is_authenticated %}
            <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
              {% include "includes/feedback_link.html" with html_class="usa-footer__primary-link usa-link--external" link_text="Submit a support ticket" only %}
            </li>
          {% endif %}
          {% if request.path == "/" %}
            <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="https://bloomworks.digital/" target="_blank">
                A Bloomworks Digital product
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </footer>
{% endblock %}


{% block uswds_js_footer %}
  <script src="{% static 'uswds/uswds.js' %}"></script>
{% endblock %}
