{% extends 'base.html' %}

{% block title %}
    PDF print mode
{% endblock %}

{% block content %}
  <h1 class="font-heading-xl margin-y-0">PDF print mode</h1>
  <p class="font-sans-md">Currently, the NOFO Builder is in <strong>{% if DOCRAPTOR_LIVE_MODE %}“Live” mode{% else %}“Test” mode{% endif %}</strong>.</p>
  {% if DOCRAPTOR_LIVE_MODE %}
    <p>Use “Live” mode when you have a good-copy PDF ready to send back to our OpDivs.</p>
    <p>In “Live” mode, PDFs are not watermarked, but there is a limit of <a href="https://app.docraptor.com/signup">1,250 a month</a>.</p>
    <p>“Live” mode lasts for <strong>5 minutes</strong>, then it flips back to “Test” mode.</p>
  {% else %}
    <p>In “Test” mode, PDFs are watermarked with a DocRaptor banner.</p>
    <p>Generating Test PDFs is unlimited, so we recommend using test mode until you are ready to send.</p>
  {% endif %}
  
  <br />

  <form method="post">
    {% csrf_token %}

    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend font-serif-lg padding-bottom-105"><strong>Set print mode</strong></legend>
      <div class="usa-radio">
        <input
          class="usa-radio__input"
          id="docraptor_live_mode--true"
          type="radio"
          name="docraptor_live_mode"
          value="true"
          {% if DOCRAPTOR_LIVE_MODE %}checked="checked"{% endif %}
        />
        <label class="usa-radio__label" for="docraptor_live_mode--true"
          >Live mode</label
        >
      </div>
      <div class="usa-radio">
        <input
          class="usa-radio__input"
          id="docraptor_live_mode--false"
          type="radio"
          name="docraptor_live_mode"
          value="false"
          {% if not DOCRAPTOR_LIVE_MODE %}checked="checked"{% endif %}
        />
        <label class="usa-radio__label" for="docraptor_live_mode--false"
          >Test mode</label
        >
      </div>
    
    <button class="usa-button margin-top-3" type="submit">Save</button>
  </form>
{% endblock %}
