{% extends 'base.html' %}

{% block title %}
    NOFO Builder — Generate tagged PDFs for Notices of Financial Opportunity
{% endblock %}

{% block content %}
  {% if ".rodeo" in request.get_host %}
    <div class="usa-alert usa-alert--error margin-bottom-4"" role="alert">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">YOU ARE ON THE WRONG WEBSITE</h4>
        <p class="usa-alert__text">
          The NOFO Builder has moved.
        </p>
        <p class="usa-alert__text">
          To log in, go to
          <a class="usa-link" href="http://nofos.simpler.grants.gov">nofos.simpler.grants.gov</a>.
        </p>
      </div>
    </div>
  {% elif ".dev" in request.get_host %}
    <div class="usa-alert usa-alert--warning margin-bottom-4">
      <div class="usa-alert__body">
        <h4 class="usa-alert__heading">YOU ARE ON THE DEVELOPMENT SITE</h4>
        <p class="usa-alert__text">
          This is a <strong>test</strong> version of the NOFO Builder.
        </p>
        <p class="usa-alert__text">
          Go to the live site at <a class="usa-link" href="http://nofos.simpler.grants.gov">nofos.simpler.grants.gov</a>.
        </p>
      </div>
    </div>
  {% endif %}

  <h1 class="font-heading-xl margin-y-0">Generate NOFOs from Word Documents</h1>
  <p class="usa-intro">
    Simplify the process of publishing Notices of Financial Opportunity (NOFOs).
  </p>
  <p class="usa-intro">
    Import your NOFOs and turn them into accessible PDF files. 
  </p>
  <a class="usa-button usa-button--big" href="{% url 'nofos:nofo_index' %}">
    {% if user.is_authenticated %}
      All NOFOs
    {% else %}
      Login to see NOFOs
    {% endif %}
  </a>

  <p>At a glance:</p>
  <ol class="usa-list">
    <li>Export your completed NOFO document as an HTML file</li>
    <li>Import the HTML file into the NOFO builder</li>
    <li>Edit the NOFO to make small changes or correct metadata (author, date, number, tagline, etc.)</li>
    <li>Select the right theme: default or light</li>
    <li>Print your NOFO as a PDF file</li>
  </ol>
{% endblock %}
