{% extends 'base.html' %}

{% block title %}
    NOFO upload
{% endblock %}

{% block content %}
  <section class="usa-section">
    <div class="grid-container">
        <div class="back-link font-body-md margin-bottom-105">
          <a href="{% url 'posts:posts_list' %}">← All Posts</a>
        </div>
        <h1 class="font-heading-xl margin-y-0">Import a new NOFO</h1>
        <form id="nofo-upload--form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for message in messages %}
            {% if "error" in message.tags %}
              {% include "includes/file_input.html" with error=message %}
            {% endif %}
          {% empty %}
            {% include "includes/file_input.html" %}
          {% endfor %}

          <button class="usa-button margin-top-3" type="submit">Upload</button>
        </form>
    </div>
  </section>
{% endblock %}
