{% extends "base.html" %}

{% block title %}
  Change password — NOFO Web Flow
{% endblock %}

{% block content %}
  <section class="usa-section">
    <div class="grid-container">

      <h1 class="font-heading-xl margin-y-0">Change your password</h1>

      <p>Change the password for account: “{{ user.email }}”</p>

      {{ title }}

      <form method="post" action="">
        <fieldset>
          
          {% if form.non_field_errors %}
            <legend>
              <div class="usa-error-message">
                Error: {{ form.non_field_errors.0 }}
              </div>
            </legend>
          {% endif %}

          {% csrf_token %}

          {% with id="old_password" label=form.old_password.label value=form.old_password.value error=form.old_password.errors.0 %}
            {% include "includes/text_input.html" with id=id label=label value=value error=error only %}
          {% endwith %}
          <br />

          {% with id="new_password1" label=form.new_password1.label value=form.new_password1.value hint=form.new_password1.help_text error=form.new_password1.errors.0 %}
            {% include "includes/text_input.html" with id=id label=label hint=hint  value=value error=error only %}
          {% endwith %}

          {% with id="new_password2" label=form.new_password2.label value=form.new_password2.value error=form.new_password2.errors.0 %}
            {% include "includes/text_input.html" with id=id label=label value=value error=error only %}
          {% endwith %}
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}">

        <button class="usa-button margin-top-3" type="submit">Change password</button>
      </form>

    </div>
  </section>
{% endblock %}
