{% extends "base.html" %}

{% block title %}
  Change your name — NOFO Web Flow
{% endblock %}

{% block content %}
  {% url 'users:user_view' as back_href %}
  {% include "includes/page_heading.html" with title="Change your name" back_text="Your account" back_href=back_href only %}

  <p>Change the full name for this account.</p>

  <form method="post" action="">
    {% csrf_token %}

    {% include "includes/form_macro.html" %}

    <button class="usa-button margin-top-3" type="submit">Change name</button>
  </form>
{% endblock %}
