{% extends "base.html" %}

{% block title %}
  {{ title }} — NOFO Web Flow
{% endblock %}

{% block content %}
  <div class="back-link font-body-md margin-bottom-105">
    <a href="{% url 'users:user_view' %}">← Your account</a>
  </div>
  <h1 class="font-heading-xl margin-y-0">{{ title }}</h1>

  <p>Change the password for this account. Passwords must be at least 8 characters long.</p>

  <form method="post" action="">
    <fieldset>
      
      {% if form.non_field_errors %}
        <legend>
          <div class="usa-error-message">
            Error: {{ form.non_field_errors.0 }}
          </div>
        </legend>
      {% endif %}

      {% csrf_token %}

      {% include "includes/text_input_macro.html" with field=form.old_password only %}

      <br />

      {% include "includes/text_input_macro.html" with field=form.new_password1 only %}
      {% include "includes/text_input_macro.html" with field=form.new_password2 only %}
    </fieldset>
    <input type="hidden" name="next" value="{{ next }}">

    <button class="usa-button margin-top-3" type="submit">Change password</button>
  </form>
{% endblock %}
