{% extends 'base.html' %}
{% load martortags nofo_name subsection_name_or_order get_value_or_none add_classes_to_tables %}

{% block title %}
  All links for “{{ nofo|nofo_name }}”
{% endblock %}

{% block body_class %}nofo_links{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
  {% with "Check links for “"|add:nofo_name_str|add:"”" as title %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title=title back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}
  {% endwith %}

  <p>There are <strong>{{ links|length }} external links</strong> in this NOFO.</p>

  {% if with_status %}
  <details>
    <summary><span>What does the ‘Status’ number mean?</span></summary>

    <div>
      <table class="usa-table usa-table--borderless usa-table--font-size-1">
        <thead>
          <tr>
            <th scope="col">Status number</th>
            <th scope="col">What it means</th>
            <th scope="col">What to do</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">200 🟢 (OK)</th>
            <td>
              The request succeeded.
            </td>
            <td>Nothing, all good.</td>
          </tr>
          <tr>
            <th scope="row">403 ⛔️ (Forbidden)</th>
            <td>
              This page refused to load.
            </td>
            <td>Manually check if link is working.</td>
          </tr>
          <tr>
            <th scope="row">404 ⛔️ (Not Found)</th>
            <td>
              This page can’t be found.
            </td>
            <td>Manually check if link is working.</td>
          </tr>
          <tr>
            <th scope="row">429 ⛔️ (Too Many Requests)</th>
            <td>
              Too many requests sent in a short time period.
            </td>
            <td>Try again in 5 minutes.</td>
          </tr>
          <tr>
            <th scope="row">500 🟠 (Server error)</th>
            <td>
              The server had a problem.
            </td>
            <td>Manually check if link is working.</td>
          </tr>
        </tbody>
      </table>

      <p>Sometimes, links that won’t load for the NOFO Builder are fine when you click them.</p>
      <p><strong>For this reason, <em>always</em> manually check links that are <em>not</em> 200 🟢.</strong></p>
      <p>If see lots of <strong>429</strong>s, you should just wait a bit.</p>
      <p>Learn more about <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status" target="_blank">HTTP response status codes</a>.</p>
    </div>
  </details>
  {% else %}
    <p>
      <a class="usa-button usa-button--accent-warm" href="{% url 'nofos:nofo_check_links' object.id %}?with_status=True">
        Get link statuses
      </a>
    </p>
  {% endif %}

  <table class="usa-table">
    <caption>
      External links in NOFO
    </caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="w-35">Domain</th>
        <th scope="col" class="w-30">Link text</th>
        <th scope="col" class="w-30">Location</th>
        <th scope="col">Status</th>
        <th scope="col">Redir</th>
      </tr>
    </thead>
    <tbody>
      {% for link in links %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td style="word-break: break-all;"><details><summary>{{ link.domain }}</summary><div><a href="{{ link.url }}">{{ link.url }}</a></div></details></td>
          <td style="word-break: break-word;"><div>{{ link.link_text }}</div></td>
          <td class="nofo_links--location">
            {{ link.section.name }}
            <br>
            <span class="link-wrapper">
              <a href="{% url 'nofos:nofo_edit' object.id %}#{{ link.subsection.html_id }}" target="_blank">{{ link.subsection|subsection_name_or_order }}</a>
            </span>
          </td>
          <td>
            {% if link.error %}
              <span title="500: Exception">500</span>
            {% else %}
              {{ link.status }}
            {% endif%}
            <span aria-hidden="true">{% if link.status < 300 %}🟢{% elif link.status < 400 %}🔵{% elif link.status < 500 %}⛔️{% elif link.status < 600 %}🟠{% elif link.error %}🟠{% endif %}</span></td>
          <td>{% if link.redirect_url %}Yes{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
