{% extends 'nofos/nofo_edit_base.html' %}

{% block body_class %}edit__application-deadline{% endblock %}

{% block title %}NOFO Application Deadline{% endblock %}

{% with page_title="NOFO Application Deadline" %}
{% with form_id="nofo_application_deadline_form" %}
{% with button_text="Save application deadline" %}
{% with match_value=form.application_deadline.value %}
{% with replace_text="application deadline" %}
{% with checkbox_checked=True %}

{% block form_content %}
  {% include "includes/form_macro.html" with hint2='eg: "Monday, January 1, 2024"' %}
{% endblock %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% block content %}
{% with match_value=form.application_deadline.value %}
{% with button_text="Save application deadline" %}
{{ block.super }}
{% endwith %}
{% endwith %}
{% endblock %}
