{% extends 'base.html' %}
{% load static nofo_name tz %}

{% block title %}
  All updates for "{{ nofo|nofo_name }}"
{% endblock %}

{% block js %}
  <script src="{% static 'js/nofos/nofo_history.js' %}" defer></script>
{% endblock %}

{% block body_class %}nofo_history nofo_status--{{ nofo.status }}{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
    {% with "Edit “"|add:nofo_name_str|add:"”" as back_text %}
      {% url 'nofos:nofo_edit' nofo.id as back_href %}
      {% include "includes/page_heading.html" with title="All updates for “"|add:nofo_name_str|add:"”" back_text=back_text back_href=back_href only %}
    {% endwith %}
  {% endwith %}


<div class="margin-top-2 margin-bottom-5">
  <span class="usa-tag usa-tag--big bg-group bg-group--not-uppercase bg-group--{{ nofo.group }}">{{ nofo.get_group_display }}</span>
</div>

{% if ancestor_nofos %}
  <details class="usa-accordion usa-accordion--bordered">
    <summary class="usa-accordion__button">
      <h2 class="usa-accordion--heading">
        Past versions ({{ ancestor_nofos|length }})
      </h2>
    </summary>

    <div class="usa-accordion__content usa-prose">
      <p>All past versions of this NOFO. The most recent version is at the end.</p>
      <ol class="usa-list usa-list--unstyled">
        {% for ancestor_nofo in ancestor_nofos %}
        <li>
          <a href="{% url 'nofos:nofo_edit' ancestor_nofo.id %}">#{{ancestor_nofo.id}}</a>:
          {% timezone "America/New_York" %}
        <td>
          {{ ancestor_nofo.created|date:'F j' }}, {{ ancestor_nofo.created|date:'g:i A' }}
        </td>
      {% endtimezone %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </details>
{% endif %}

<table class="usa-table" id="audit-events-table">
  <caption>
    <div>
      <h2 class="margin-bottom-0">Latest Changes</h2>
      {% if nofo.modifications %}
        <p>You can also see <a href="{% url 'nofos:nofo_history_modifications' nofo.id %}">all updates since this NOFO was modified</a>.</p>
      {% endif %}
    </div>
  </caption>
  <thead>
    <tr>
      <th scope="col"><span class="usa-sr-only">Event </span>Type</th>
      <th scope="col">Object</th>
      <th scope="col">User</th>
      <th scope="col" class="w-20">Timestamp</th>
    </tr>
  </thead>
  <tbody id="audit-events-body">
    {% for event in audit_events %}
    <tr>
      <td>
        {% if event.should_link_to_diff %}
          <a href="{% url 'nofos:nofo_history_compare' nofo.id event.event_id %}">{{ event.event_type }}</a>
        {% else %}
          {{ event.event_type }}
        {% endif %}
      </td>
      <td><em>{{ event.object_type }}</em><br>{{ event.object_description }}</td>
      <td>{{ event.user.email }}</td>
      {% timezone "America/New_York" %}
        <td>
          {{ event.timestamp|date:'F j' }}, {{ event.timestamp|date:'g:i A' }}
        </td>
      {% endtimezone %}
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">No audit events found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if has_more %}
  <div class="text-center margin-y-3">
    <button class="usa-button" id="load-more-btn"
            data-next-offset="{{ next_offset }}">
      Load More Events
    </button>
  </div>
{% endif %}

{% endblock %}
