{% extends 'base.html' %}
{% load nofo_name %}

{% block title %}
  NOFO cover page modification date
{% endblock %}

{% block body_class %}subsection_edit{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% include "includes/page_heading.html" with title="NOFO cover page modification date" back_text=back_text back_href=back_href only %}
  {% endwith %}
  {% endwith %}

  <p>The cover page message is not user editable, but you <em>can</em> change the modification date.</p>

  <p>The current modification message is:</p>

  <blockquote>Last modified {{ nofo.modifications|date:"F j, Y" }}. <a class="text-base" href="#modifications">Review updates</a>.</blockquote>

  <br>
  
  <form id="nofo-modifications--form" method="post">
    {% csrf_token %}

    <div class="usa-form-group">
      <label class="usa-label" id="modifications-label" for="modifications"
        >New modification date</label
      >
      <div class="usa-hint" id="modifications-hint">mm/dd/yyyy</div>
      {% for message in messages %}
        {% if "error" in message.tags %}
          <div class="usa-error-message" id="modifications--error">
            Error: {{ message }}
          </div>
        {% endif %}
      {% endfor %}
      <div class="usa-date-picker" data-default-value="{{ nofo.modifications|date:"Y-m-d" }}">
        <input
          class="usa-input"
          id="modifications"
          name="modifications"
          aria-labelledby="modifications-label"
          aria-describedby="modifications-hint"
        />
      </div>
    </div>

    <button class="usa-button margin-top-3" type="submit">Save modification date</button>
  </form>
{% endblock %}
