{% extends 'base.html' %}
{% load static tz martortags add_footnote_ids add_captions_to_tables add_classes_to_lists add_classes_to_paragraphs convert_paragraphs_to_hrs %}

{% block css %}
  <link href="{% static "styles-theme-base.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-orientation-portrait.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc.css" %}" type="text/css" media="all" rel="stylesheet">
  <link href="{% static "theme-opdiv-cdc-blue.css" %}" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
     <div id="download_target" class="nofo_view">
        <!-- Render each section with all its subsections -->
        {% for section in nofo.sections.all|dictsort:"order" %}
          <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}">
            <h2 id="{{ section.html_id }}" >{{ section.name }}</h2>
            {% if forloop.counter == 1 %}
              <div>
                  <p>Opdiv: {{ nofo.opdiv }}</p>
                  {% if nofo.agency %}<p>Agency: {{ nofo.agency }}</p>{% endif %}
                  {% if nofo.subagency %}<p>Subagency: {{ nofo.subagency }}</p>{% endif %}
                  {% if nofo.subagency2 %}<p>Subagency 2: {{ nofo.subagency2 }}</p>{% endif %}
                  {% if nofo.name %}<p>Opportunity name: {{ nofo.name  }}</p>{% endif %}
                  {% if nofo.number %}<p>Opportunity number: {{ nofo.number }}</p>{% endif %}
                  {% if nofo.application_deadline %}<p>Application deadline: {{ nofo.application_deadline }}</p>{% endif %}
                  {% if nofo.tagline %}<p>Tagline: {{ nofo.tagline }}</p>{% endif %}
                  {% if nofo.author %}<p>Metadata author: {{ nofo.author }}</p>{% endif %}
                  {% if nofo.subject %}<p>Metadata subject: {{ nofo.subject }}</p>{% endif %}
                  {% if nofo.keywords %}<p>Metadata keywords: {{ nofo.keywords }}</p>{% endif %}
              </div>
            {% endif %}

            <div class="section--content">
                {% for subsection in section.subsections.all|dictsort:"order" %}
                {# skip "hidden" subsections #}
                <div class="margin-top-4 margin-bottom-2">
                  {% if subsection.callout_box %}
                  <table>
                    <tr>
                      <td>
                        <div class="{% if subsection.callout_box%}border margin-top-1 padding-x-2 padding-bottom-2 {%if not subsection.name %} padding-top-2{% endif %} {% endif %}">
                          {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                            {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                          {% endwith %}
                          <div class="{% if not subsection.name and not subsection.callout_box %}margin-top-2{% endif %} styled-subsection-body">
                            {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                  {% else %}
                  <div class="{%if not subsection.name %} padding-top-2{% endif %}">
                    {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                      {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
                    {% endwith %}
                    <div class="{% if not subsection.name %}margin-top-2{% endif %} styled-subsection-body">
                      {{ subsection.body|safe_markdown|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
                    </div>
                  </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </section>
        {% endfor %}
      </div>
{% endblock %}
