{% extends 'nofos/nofo_edit_base.html' %}

{% block body_class %}edit__nofo-title{% endblock %}

{% block title %}NOFO title and short name{% endblock %}

{% with page_title="NOFO title and short name" %}
{% with form_id="nofo_edit_title_form" %}
{% with button_text="Save name" %}
{% with match_value=form.title.value %}
{% with replace_text="title" %}
{% with checkbox_checked=True %}

{% block form_content %}
  {% include "includes/form_macro.html" with hint2='eg: "Physician Assistant Rural Training in Mental and Behavioral Health (PCTE-PARM) Program"' hint2for="title" %}
  <div class="usa-hint margin-top-05" id="short_name--hint-2">
    Opportunity number for this NOFO: {{ nofo.number }}
  </div>
{% endblock %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% block content %}
{% with match_value=form.title.value %}
{% with button_text="Save title" %}
{{ block.super }}
{% endwith %}
{% endwith %}
{% endblock %}
