{% extends 'base_barebones.html' %}
{% load static martortags nofo_section_name_separator add_classes_to_tables add_footnote_ids callout_box_contents replace_unicode_with_icon add_classes_to_paragraphs add_classes_to_lists add_classes_to_headings add_classes_to_toc add_captions_to_tables split_char_and_remove get_breadcrumb convert_paragraphs_to_hrs is_floating_callout_box get_floating_callout_boxes_from_section safe_br %}

{% block metadata %}
  {% if nofo.author %}
    <meta name="author" content="{{ nofo.author }}" >
  {% endif %}
  {% if nofo.subject %}
    <meta name="subject" content="{{ nofo.subject }}" >
  {% endif %}
  {% if nofo.keywords %}
    <meta name="keywords" content="{{ nofo.keywords }}" >
  {% endif %}
{% endblock %}

{% block css %}
  {% with "theme-orientation-"|add:nofo_theme_orientation|add:'.css' as filename_orientation %}
    <link href="{% static filename_orientation %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}

  {% with "theme-opdiv-"|add:nofo_opdiv|add:'.css' as filename_opdiv %}
    <link href="{% static filename_opdiv %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}

  {% with "theme-opdiv-"|add:nofo_theme_base|add:'.css' as filename %}
    <link href="{% static filename %}" type="text/css" media="all" rel="stylesheet">
  {% endwith %}

  {% if nofo.inline_css %}
    <style>{{ nofo.inline_css|safe }}</style>
  {% endif %}
{% endblock %}

{% block title %}{{ nofo.title }}{% endblock %}

{% block body_class %}{{ nofo.theme }} {{ nofo_theme_orientation }} {{ nofo_opdiv }} {{ nofo_theme_base }} {{ nofo.number|lower }} {{ nofo.icon_style }}{% endblock %}

{% block header %}
  <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <div class="usa-logo" style="margin-top: 1rem;">
          <em class="usa-logo__text">
            <a href="{% url 'nofos:nofo_index' %}" class="usa-nav-link">NOFO Builder</a>
          </em>
        </div>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav">
        <ul class="usa-nav__primary usa-accordion">
          {% if user.is_superuser and nofo %}
            <li class="usa-nav__primary-item">
              <a href="{{ nofo.get_admin_url }}">NOFO admin link</a>
            </li>
          {% endif %}
          <li class="usa-nav__primary-item usa-nav__primary-item__right-padding">
            <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-nav-link">Edit this NOFO</a>
          </li>
        </ul>
        {% include "includes/print_button.html" %}
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- WARNING MESSAGE FOR ARCHIVED/SUCCESSOR NOFOS -->
  {% if nofo.archived %}
    {% if nofo.successor %}
      {% include "includes/warning_successor.html" with document=nofo user=user only %}
    {% else %}
      {% include "includes/warning_archived.html" with document=nofo user=user only %}
    {% endif %}
  {% endif %}
  <!-- COVER PAGE -->
  <section id="section--cover-page" class="nofo--cover-page {{ nofo.cover }}">
    <div class="nofo--cover-page--header">
      <div class="nofo--cover-page--header--logo">
        {% if nofo_opdiv == 'aspr' %}
          <img alt="Administration for Strategic Preparedness and Response logo" src="{% static "img/aspr-logo.png" %}">
        {% else %}
          {% with "includes/logos/"|add:nofo_opdiv|add:"-logo.svg" as opdiv_logo_path %}
            {% include opdiv_logo_path %}
          {% endwith %}
        {% endif %}
        <div class="nofo--cover-page--header--logo--subheading">
          {% if nofo.cover == 'nofo--cover-page--text' %}
            <p>{{ nofo.agency }}</p>
            <p>{% if nofo.subagency %}{{ nofo.subagency }}{% endif %}</p>
          {% else %}
            {% if nofo.number == 'RFA-CK-26-036' %}
              <p>{{ nofo.agency }}</p>
              {% if nofo.subagency %}
                <p>{{ nofo.subagency }}</p>
              {% endif %}
            {% else %}
              <p>{% if nofo.subagency and nofo_opdiv != 'hrsa' %}{{ nofo.subagency }}{% else %}{{ nofo.agency }}{% endif %}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="nofo--cover-page--header--intro">
        <span>Notice of Funding Opportunity</span>
        <br>
        {% if "|" in nofo.application_deadline %}
          <span>Applications are due by 11:59 p.m. ET</span>
          <ul class="usa-nav__submenu-list">
          {% for application_deadline in nofo.application_deadline|split_char_to_list %}
            <li>{{ application_deadline }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <span>Application due <span>{{ nofo.application_deadline }}</span></span>
          <br>
        {% endif %}
        {% if nofo.modifications %}
        <div class="callout-box nofo--cover-page--callout-box">
          <div class="callout-box--contents">
            <p>
              <strong>Last modified {{ nofo.modifications|date:"F j, Y" }}. <a href="#section--modifications">Review updates</a>.</strong>
            </p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="nofo--cover-page--hero-image">
      {% spaceless%}
        {% if nofo_cover_image|slice:":4" == "img/" %}
          <img alt="{{ nofo.cover_image_alt_text }}" src="{% static nofo_cover_image %}">
        {% else %}
          <img alt="{{ nofo.cover_image_alt_text }}" src="{{ nofo_cover_image }}">
        {% endif %}
      {% endspaceless %}
    </div>
    <div class="nofo--cover-page--title">
      <div class="nofo--cover-page--title--block">
        <h1 class="{{ nofo.title|add_classes_to_nofo_title }}">{{ nofo.title }}</h1>
        <div class="nofo--cover-page--title--subheading">
          <span>Opportunity number: {{ nofo.number }}</span>
        </div>
      </div>
      <div class="nofo--cover-page--title--logo">
        {% if nofo_opdiv == 'aspr' %}
          <img alt="Department of Health & Human Services logo" src="{% static "img/hhs-logo.png" %}">
        {% else %}
          {% include "includes/logos/hhs-logo.svg" with title_id="hhs-logo-title-1" %}
        {% endif%}
      </div>
    </div>
    <div class="nofo--cover-page--footer">
      <div class="nofo--cover-page--footer--logo">
        {% if nofo_opdiv == 'aspr' %}
          <img alt="Department of Health & Human Services logo" src="{% static "img/hhs-logo.png" %}">
        {% else %}
          {% include "includes/logos/hhs-logo.svg" with title_id="hhs-logo-title-2" %}
        {% endif%}
      </div>
      <div class="nofo--cover-page--footer--subheading">
        <span>Notice of Funding Opportunity</span>
        <span>Application due {{ nofo.application_deadline }}</span>
      </div>
      <div class="nofo--cover-page--footer--image">
        {% spaceless%}
          {% if nofo_cover_image|slice:":4" == "img/" %}
            <img alt="{{ nofo.cover_image_alt_text }}" src="{% static nofo_cover_image %}">
          {% else %}
            <img alt="{{ nofo.cover_image_alt_text }}" src="{{ nofo_cover_image }}">
          {% endif %}
        {% endspaceless %}
      </div>
    </div>
  </section>

  <!-- TABLE OF CONTENTS -->
  <section id="section--toc" class="toc {{ nofo|add_classes_to_toc }}">
    <h2 id="section--toc--heading">Contents</h2>
    {% spaceless %}
    <ol class="usa-list usa-list--unstyled">

      {% if nofo.before_you_begin == 'full' or nofo.before_you_begin == 'sole_source' %}
        <li class="toc--section-name toc--no-icon toc--before-you-begin">
          <a href="#section--before-you-begin">Before you begin</a>
        </li>
      {% endif %}

      {% for section in nofo.sections.all|dictsort:"order" %}
        {% if section.has_section_page %}
          <li class="toc--section-name">
            <div class="toc--section-name--img">
              {% include "includes/icon_macro.html" with section_name=section.name|lower icon_style=nofo.icon_style only %}
            </div>
            <div class="toc--section-name--wrapper">
              <a href="#{{ section.html_id }}" class="toc--section-name--a">{{ section.name|strip_br }}</a>

              {% if section.name|lower != "contacts & support" and section.name|lower != "contacts and support" %}
                <ol class="usa-list usa-list--unstyled">
                  {% for subsection in section.subsections.all|dictsort:"order" %}
                    {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                      {% if tag == 'h3' %}
                        <li class="toc--subsection-name"><a href="#{{ subsection.html_id }}">{{ content|strip_br }}</a></li>
                      {% endif %}
                    {% endwith %}
                  {% endfor %}
                </ol>
              {% endif %}
            </div>
          </li>
        {% else %}
          <li class="toc--section-name toc--no-icon toc--{{ section.html_id }}">
            <a href="#section--{{ section.html_id }}">{{ section.name }}</a>
          </li>
        {% endif%}
      {% endfor %}
    </ol>
    {% endspaceless %}
  </section>

  <!-- BEFORE YOU BEGIN PAGE -->
  {% if nofo.before_you_begin == 'full' or nofo.before_you_begin == 'sole_source' %}
    <section id="section--before-you-begin" class="before-you-begin{% if nofo.before_you_begin == 'sole_source' %} before-you-begin--sole-source{% endif %}">
      <div class="section--before-you-begin--icon">
        {% if "thin" in nofo.icon_style %}
          {% include "includes/icons/thin/0-before.svg" %}
        {% else %}
          {% include "includes/icons/0-before.svg" %}
        {% endif %}
      </div>
      <h2 id="section--before-you-begin--heading">Before you begin</h2>
      <div class="before-you-begin--content">

        {% if nofo.before_you_begin == 'sole_source' %}
          <p class="section--before-you-begin--psuedo-header">Make sure you are an approved applicant for this funding opportunity.</p>
        {% else %}
          <p>If you believe you are a good candidate for this funding opportunity, secure your <a href="https://sam.gov">SAM.gov</a> and <a href="https://grants.gov">Grants.gov</a> registrations now. If you are already registered, make sure your registrations are active and up-to-date.</p>
          <p class="section--before-you-begin--psuedo-header">SAM.gov registration (this can take several weeks)</p>
          <p>You must have an active account with SAM.gov. This includes having a Unique Entity Identifier (UEI).</p>
          {% if step_2_section %}
            <a href="#{{ step_2_section.html_id }}">See {{ step_2_section.name }}</a>
          {% else %}
            <p class="highlight-strong">STEP 2 SECTION MISSING</p>
          {% endif %}

          <p class="section--before-you-begin--psuedo-header">Grants.gov registration (this can take several days)</p>
          <p>You must have an active Grants.gov registration. Doing so requires a Login.gov registration as well.</p>
          {% if step_2_section %}
            <a href="#{{ step_2_section.html_id }}">See {{ step_2_section.name }}</a>
          {% else %}
            <p class="highlight-strong">STEP 2 SECTION MISSING</p>
          {% endif %}
        {% endif %}

        <p class="section--before-you-begin--psuedo-header">Apply by the application due date</p>
        {% if "|" in nofo.application_deadline %}
          <p>Applications are due by 11:59 p.m. Eastern Time:</p>
          <ul>
          {% for application_deadline in nofo.application_deadline|split_char_to_list %}
            <li>{{ application_deadline }}</li>
          {% endfor %}
          </ul>
        {% else %}
          <p>Applications are due by 11:59 p.m. Eastern Time on {{ nofo.application_deadline|split_char_and_remove:"-" }}.</p>
        {% endif %}

        <div class="callout-box callout-box--icon callout-box--keyboard">
          <div class="callout-box--contents">
              {% if "thin" in nofo.icon_style %}
                {% include "includes/icons/thin/00-adobe-pdf.svg" %}
              {% else %}
                {% include "includes/icons/00-adobe-pdf.svg" %}
              {% endif %}
              <p>To help you find what you need, this NOFO uses internal links. In Adobe Reader, you can go back to where you were by pressing Alt + Left Arrow (Windows) or Command + Left Arrow (Mac) on your keyboard.</p>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% for section in nofo.sections.all|dictsort:"order" %}
    <section id="section--{{ section.html_id }}" class="section section--{{ forloop.counter }} {% if forloop.counter > 7 %}section--appendix {% endif %}section--{{ section.html_id }}{% if section.html_class %} {{ section.html_class }}{% endif %}{% if not section.has_section_page %} section--no-section-page{% endif %}">
      <!-- SECTION TITLE PAGE -->
      {% if section.has_section_page %}
        <div class="title-page section--title-page">
          <div class="header-nav section--title-page--header-nav">
            <ol>
              {% spaceless %}
              {% with nofo.sections.all|dictsort:"order"|filter_breadcrumb_sections as breadcrumb_sections %}
                {% for breadcrumb in breadcrumb_sections %}
                  <li>
                    <a href="#section--{{ breadcrumb.html_id }}" {% if breadcrumb.html_id == section.html_id %}aria-current="step"{% endif %}>{{ breadcrumb.name|get_breadcrumb }}</a>
                  </li>
                {% endfor %}
              {% endwith %}
              {% endspaceless %}
            </ol>
          </div>
          <div class="section--title-page--name">
            <div class="section--title-page--icon">
              {% include "includes/icon_macro.html" with section_name=section.name|lower icon_style=nofo.icon_style only %}
            </div>
            <h2 id="{{ section.html_id }}">
              {% with section.name|nofo_section_name_separator as section_name %}
                {% if section_name.number %}
                  <span>Step {{ section_name.number }}:</span>
                  <br>
                {% endif %}
                <span>{{ section_name.name|safe_br }}</span>
              {% endwith %}
            </h2>
          </div>
          <div class="section--title-page--toc">
            <p>In this step</p>
            <ul>
              {% spaceless %}
              {% for subsection in section.subsections.all|dictsort:"order" %}
                {% with tag=subsection.tag content=subsection.name id=subsection.html_id %}
                  {% if tag == 'h3' %}
                    <li><a href="#{{ subsection.html_id }}">{{ content|strip_br }}</a></li>
                  {% endif %}
                {% endwith %}
              {% endfor %}
              {% endspaceless %}
            </ul>
          </div>
        </div>
      {% endif %}

      <!-- RUNNING HEADER -->
      <!-- after first section title page -->
      <div class="header-nav header-nav--running-header">
        <ol>
            {% spaceless %}
            {% with nofo.sections.all|dictsort:"order"|filter_breadcrumb_sections as breadcrumb_sections %}
              {% for breadcrumb in breadcrumb_sections %}
                <li>
                  <a href="#section--{{ breadcrumb.html_id }}" {% if breadcrumb.html_id == section.html_id %}aria-current="step"{% endif %} aria-hidden="true" tabindex="-1" aria-label="" title="">{{ breadcrumb.name|get_breadcrumb }}</a>
                </li>
              {% endfor %}
            {% endwith %}
            {% endspaceless %}
        </ol>
      </div>

      <!-- SECTION CONTENT -->
      <div class="section--content">
        {% if not section.has_section_page %}
          {% include "includes/heading.html" with tag="h2" content=section.name id=section.html_id only %}
        {% endif %}
        <!-- for the very first subsection, add the nofo agency, subagency, and tagline -->
        {% if section.order == 1 %}
          <div class="section--content--basic-information">
            {% with first_subsection=nofo.get_first_subsection %}
              {% with tag=first_subsection.tag content=first_subsection.name id=first_subsection.html_id %}
                {% include "includes/heading.html" with tag=tag content=content id=id only %}
              {% endwith %}
                <div class="section--content--intro">
                  <p><strong>{{ nofo.opdiv }}</strong></p>
                  <p>{{ nofo.agency }}</p>
                  {% if nofo.subagency %}<p>{{ nofo.subagency }}</p>{% endif %}
                  {% if nofo.subagency2 %}<p>{{ nofo.subagency2 }}</p>{% endif %}
                  {% if nofo.tagline %}<div class="nofo--tagline">{{ nofo.tagline|safe_markdown }}</div>{% endif %}
                </div>
            {% endwith %}
          </div>
        {% endif %}

        <!-- if in portrait mode, add callout boxes in right margin -->
        {% if section.order == 1 %}
          {% spaceless %}
            {% if nofo_theme_orientation == 'portrait' %}
              {% with callouts=section|get_floating_callout_boxes_from_section %}
                {% if callouts %}
                  <div class="section--content--right-col{% if callouts|get_combined_wordcount_for_subsections > 99 %} section--content--right-col--tiny{% elif callouts|get_combined_wordcount_for_subsections > 79 %} section--content--right-col--smaller{% endif %}">
                    {% for subsection in callouts %}
                      {% include "includes/callout_box.html" with subsection=subsection nofo=nofo break_colons=True only %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            {% endif %}
          {% endspaceless %}
        {% endif %}

        <!-- loop through remaining subsections as usual -->
        {% for subsection in section.subsections.all|dictsort:"order" %}
          {% if subsection.callout_box %}
            {% if nofo_theme_orientation == 'portrait' %}
              {% if not section.order == 1 or not subsection|is_floating_callout_box %}
                {% include "includes/callout_box.html" with subsection=subsection nofo=nofo break_colons=False only %}
              {% endif %}
            {% else %}
              {% include "includes/callout_box.html" with subsection=subsection nofo=nofo only %}
            {% endif %}
          {% else %}
            {% if subsection.name|lower != 'basic information' %}
              {% spaceless %}
              {% if 'page-break-before' in subsection.html_class %}
                {{ '<p>page-break-before</p>'|convert_paragraphs_to_hrs }}
              {% endif %}
              {% endspaceless %}
              {% with tag=subsection.tag content=subsection.name id=subsection.html_id class=subsection.html_class %}
                {% include "includes/heading.html" with tag=tag content=content id=id class=class only %}
              {% endwith %}
                {{ subsection.body|safe_markdown|add_classes_to_tables|replace_unicode_with_icon|add_footnote_ids|add_classes_to_paragraphs|add_captions_to_tables|add_classes_to_lists|convert_paragraphs_to_hrs }}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
