{% extends 'base.html' %}

{% block title %}
  {{ page_title }}
{% endblock %}

{% block content %}
  {% url 'nofos:nofo_index' as back_href %}
  {% include "includes/page_heading.html" with title=page_title back_text="All NOFOs" back_href=back_href only %}

  <form id="nofo-name--form" method="post">
    {% csrf_token %}

    {% include "includes/form_macro.html" with hint2="eg: “Physician Assistant Rural Training in Mental and Behavioral Health (PCTE-PARM) Program”" hint2for="title" %}

    <div class="usa-hint margin-top-05" id="short_name--hint-2">
      Opportunity number for this NOFO: {{ nofo.number }}
    </div>

    <button class="usa-button margin-top-3" type="submit">Save NOFO name</button>
  </form>
{% endblock %}
