{% extends 'base.html' %}
{% load nofo_name subsection_name_or_order %}

{% block body_class %}edit__remove-page-breaks{% endblock %}

{% block title %}Remove Page Breaks{% endblock %}

{% block content %}
  {% with nofo|nofo_name as nofo_name_str %}
  {% with "Back to  “"|add:nofo_name_str|add:"”" as back_text %}
    {% url 'nofos:nofo_edit' nofo.id as back_href %}
    {% with form_id="nofo_remove_page_breaks_form" %}
      {% include "includes/page_heading.html" with title="Remove Page Breaks" back_text=back_text back_href=back_href only %}

      <form id="{{ form_id }}" class="nofo_edit_form" method="post">
        {% csrf_token %}

        <label class="usa-label" for="page_breaks_info">Page breaks information</label>
        <div class="usa-hint" id="page_breaks_info--hint-1">
          {% if pagebreak_count == 1 %}
            There is <strong>1</strong> page break in this document.
          {% else %}
            There are <strong>{{ pagebreak_count }}</strong> page breaks in this document.
          {% endif %}
        </div>

        <div class="margin-top-3">
          <button id="replace-button" class="usa-button" type="submit" data-base-text="Remove">Remove Page Breaks</button>
          <a href="{% url 'nofos:nofo_edit' nofo.id %}" class="usa-button usa-button--outline">Cancel</a>
        </div>

        {% include "includes/subsection_matches_table_macro.html" with form_id=form_id subsection_matches=subsection_matches match_value="page breaks" replace_text="page breaks" checkbox_checked=True show_select_all_button=True %}
      </form>
    {% endwith %}
  {% endwith %}
  {% endwith %}
{% endblock %}
