{% extends 'base.html' %}
{% load martortags nofo_name get_value_or_none add_classes_to_tables convert_paragraphs_to_hrs %}


{% block title %}
  Add or remove subsections for {{ section.name }}
{% endblock %}

{% block body_class %}section_edit{% endblock %}

{% block content %}
<div class="back-link font-body-md margin-bottom-105">
  <a href="{% url 'nofos:nofo_edit' nofo.id %}">Edit “{{ nofo|nofo_name }}”</a>
</div>
<div class="section_edit--header">
  <h1 class="font-heading-xl margin-y-1">Add or remove subsections<span class="usa-sr-only"> for {{ section.name }}</span></h1>
  <h2 class="font-heading-lg margin-y-1 text-base" aria-hidden="true">{{ section.name }}</h2>
</div>

<div class="margin-top-4">  
  <details class="usa-accordion usa-accordion--bordered" open>
    <summary class="usa-accordion__button">
      <h3 class="usa-accordion--heading margin-top-0">
        Other sections
      </h3>
    </summary>

    <div class="usa-accordion__content usa-prose">
      <div class="edit_section--other_sections">
        {% if section.get_previous_section %}
          <a href="{% url 'nofos:section_detail' section.nofo.id section.get_previous_section.id %}" class="section_edit--previous-section">{{ section.get_previous_section.name }}</a>
        {% endif %}

        {% if section.get_next_section %}
          <a href="{% url 'nofos:section_detail' section.nofo.id section.get_next_section.id %}" class="section_edit--next-section">{{ section.get_next_section.name }}</a>
        {% endif %}
      </div>
    </div>
  </details>
</div>

<table class="usa-table usa-table--borderless width-full table--hide-edit-if-published table--section">
  <caption>
    <div>
      <h2 class="margin-bottom-0" id="{{ section.html_id }}">{{ section.name }}</h2>
    </div>
  </caption>
  <thead class="usa-sr-only">
    <tr>
      <th scope="col">Heading</th>
      <th scope="col">Is callout box</th>
      <th scope="col">Content</th>
      <th scope="col">Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for subsection in section.subsections.all|dictsort:"order" %}
    <tr>
      <th scope="row"
        class="nofo-edit-table--subsection--name {% if subsection.html_class %}{{ subsection.html_class }}{% endif %}"
        id="{{ subsection.html_id }}">
        <span class="floating">
          {% if subsection.name %}
            {{ subsection.name }}
          {% else %}
            <span class="text-base">(#{{ subsection.order}})</span>
          {% endif %}
        </span>
      </th>
      <td class="nofo-edit-table--subsection--callout-box">
        {% if subsection.callout_box %}
        <span class="floating">
          <span role="img" aria-label="Callout box" title="Callout box">📦</span>
        </span>
        {% endif %}
      </td>
      <td class="nofo-edit-table--subsection--body">
        {{ subsection.body|safe_markdown|add_classes_to_tables|convert_paragraphs_to_hrs|get_value_or_none:"content" }}
      </td>
      <td class="nofo-edit-table--subsection--manage">
        <span class="floating">
          <a class="text-secondary-dark" href="{% url 'nofos:subsection_delete' section.nofo.id section.id subsection.id %}">
            Delete <span class="usa-sr-only"> subsection: {{ subsection.name }}</span>
          </a>
        </span>

        <a class="usa-button usa-button--outline add-button" type="button" href="{% url 'nofos:subsection_create' section.nofo.id subsection.section.id %}?prev_subsection={{subsection.id}}">
          Add subsection
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}